<template>
    <q-header class="bg-white text-grey-8" height-hint="64" style="backdrop-filter: blur(20px);"> 
      <q-toolbar class="GPL__toolbar" style="height: 64px">
        <q-space />
        <div class="q-gutter-sm row items-center no-wrap">
          <q-btn
            round
            dense
            flat
            color="grey-8"
            icon="notifications"
            :to="{ name: 'notification-admin' }"
          >
            <q-badge color="red" text-color="white" floating> 2 </q-badge>
            <q-tooltip>Notifications</q-tooltip>
          </q-btn>
          <q-btn flat label="Imbang, Marie Avilaine V.">
            <q-menu fit flat anchor="bottom right" self="top right">
              <q-item clickable :to="{ name: 'account-settings-admin' }">
                <q-item-section>Account</q-item-section>
              </q-item>
              <q-item clickable :to="{ path: '/login' }">
                <q-item-section >Sign-out</q-item-section>
              </q-item>
            </q-menu>
          </q-btn>
        </div>
      </q-toolbar>
    </q-header>
  </template>
  
  <script>
  export default {
    name: 'MainHeaderAdmin'
  };
  </script>
  
  