<template>
  <div class="customized-moa-student">
    <q-form @submit="onSubmit()" @reset="onCancel()">
      <div class="row">
        <div class="col">
          <!-- Header: Company Details -->
          <h6 class="q-mb-xs q-mt-none">MoA Details</h6>
          <hr />
          <div class="row">
            <div class="col q-mr-sm">
              <label class="text-weight-medium">HTE/Company Name:</label>
              <q-input
                outlined
                dense
                v-model="moa.hteName"
                placeholder="Enter company name"
                class="q-mb-sm"
                :rules="[(val) => !!val || '']"
                hide-bottom-space
              />
            </div>
            <div class="col q-ml-sm">
              <label class="text-weight-medium">HTE Classification:</label>
              <q-select
                outlined
                dense
                v-model="moa.hteClass"
                class="q-mb-sm"
                :options="['sole proprietorship', 'partnership', 'corporation', 'government agency']"
                :rules="[(val) => !!val || '']"
                :label="
                  moa.hteClass !== null && moa.hteClass !== ''
                    ? ''
                    : 'Select classification'
                "
                hide-bottom-space
              />
            </div>
          </div>
          <div class="row">
            <div class="col q-mr-sm">
              <label class="text-weight-medium"
                >Name of authorized signatory:</label
              >
              <q-input
                outlined
                dense
                v-model="moa.signatoryName"
                placeholder="Enter name of signatory"
                class="q-mb-sm"
                :rules="[(val) => !!val || '']"
                hide-bottom-space
              />
            </div>
            <div class="col q-ml-sm">
              <label class="text-weight-medium"
                >Position of authorized signatory:</label
              >
              <q-input
                outlined
                dense
                v-model="moa.signatoryPosition"
                placeholder="Enter signatory position"
                class="q-mb-sm"
                :rules="[(val) => !!val || '']"
                hide-bottom-space
              />
            </div>
          </div>

          <!-- Header: Company Details -->
          <h6 class="q-mb-xs q-mt-none">HTE Contact</h6>
          <hr />
          <div class="row">
            <div class="col q-mr-sm">
              <label class="text-weight-medium">Email:</label>
              <q-input
                outlined
                dense
                v-model="moa.hteEmail"
                placeholder="Enter company email"
                class="q-mb-sm"
                :rules="[(val) => !!val || '']"
                hide-bottom-space
              />
            </div>
            <div class="col q-ml-sm">
              <label class="text-weight-medium">Contact no.:</label>
              <q-input
                outlined
                dense
                v-model.number="moa.htePhone"
                placeholder="Enter contact no."
                class="q-mb-sm"
                :rules="[(val) => !!val || '']"
                hide-bottom-space
              />
            </div>
          </div>

          <!-- Header: Company Address -->
          <h6 class="q-my-xs">HTE Address</h6>
          <hr />
          <div class="row">
            <div class="col q-mr-sm">
              <!-- Province -->
              <label class="text-weight-medium"> Province </label>
              <q-select
                :rules="[(val) => !!val || '']"
                v-model="moa.province"
                @blur="isInteracted.province = true"
                @input="clearErrorMessage('province')"
                dense
                outlined
                :label="
                  moa.province !== null && moa.province !== ''
                    ? ''
                    : 'Select Province'
                "
                emit-value
                :options="filteredProvincesList"
                @update:model-value="fetchCitiesState"
                map-options
                hide-bottom-space
                options-selected-class="selected-class"
                transition-show="scale"
                transition-hide="scale"
              >
                <template v-slot:before-options>
                  <div class="q-px-md q-pt-md q-pb-sm">
                    <q-input
                      dense
                      autofocus
                      bordered
                      debounce="500"
                      v-model="searchProvinceName"
                      placeholder="Search Province..."
                    >
                      <template v-slot:prepend>
                        <q-icon
                          class="im-text-accent-0 q-mr-sm"
                          name="search"
                        />
                      </template>
                    </q-input>
                  </div>
                </template>
              </q-select>
            </div>

            <div class="col q-ml-sm">
              <!-- City/Municipality -->
              <label class="text-weight-medium"> City/Municipality </label>

              <q-select
                v-model="moa.city"
                @blur="isInteracted.city = true"
                @input="clearErrorMessage('city')"
                :rules="[(val) => !!val || '']"
                dense
                outlined
                :label="
                  moa.city !== null && moa.city !== ''
                    ? ''
                    : 'Select City or Municipality'
                "
                emit-value
                :options="filteredCityList"
                @update:model-value="fetchCitiesState"
                map-option
                hide-bottom-space
                options-selected-class="selected-class"
                transition-show="scale"
                transition-hide="scale"
              >
                <template v-slot:before-options>
                  <div class="q-px-md q-pt-md q-pb-sm">
                    <q-input
                      dense
                      autofocus
                      borderless
                      debounce="500"
                      v-model="searchCityName"
                      placeholder="Search City/Municipality..."
                    >
                      <template v-slot:prepend>
                        <q-icon
                          class="im-text-accent-0 q-mr-sm"
                          name="search"
                        />
                      </template>
                    </q-input>
                  </div>
                </template>
              </q-select>
            </div>
          </div>

          <!-- Barangay -->
          <div class="q-mt-sm">
            <label class="text-weight-medium"> Barangay </label>
            <q-select
              :rules="[(val) => !!val || '']"
              v-model="moa.barangay"
              @blur="isInteracted.barangay = true"
              @input="clearErrorMessage('barangay')"
              dense
              outlined
              :label="
                moa.barangay !== null && moa.barangay !== ''
                  ? ''
                  : 'Select Barangay'
              "
              emit-value
              :options="filteredBarangayList"
              option-label="label"
              @update:model-value="fetchCitiesState"
              map-options
              hide-bottom-space
              options-selected-class="selected-class"
              transition-show="scale"
              transition-hide="scale"
            >
              <template v-slot:before-options>
                <div class="q-px-md q-pt-md q-pb-sm">
                  <q-input
                  dense
                    autofocus
                    borderless
                    debounce="500"
                    v-model="searchBarangayName"
                    placeholder="Search Barangay..."
                  >
                    <template v-slot:prepend>
                      <q-icon class="im-text-accent-0 q-mr-sm" name="search" />
                    </template>
                  </q-input>
                </div>
              </template>
            </q-select>
          </div>
          <!-- Street/Building -->
          <div class="q-mt-sm">
            <label class="text-weight-medium">Street/Building (Optional)</label>
            <q-input
              v-model="moa.street"
              dense
              outlined
              placeholder="Enter Street/Building Name"
              hide-bottom-space
              class="text-capitalize im-border-accent-0 im-border-radius-10"
            />
          </div>

          <div class="q-mt-md q-mb-xl">
            <q-btn
              label="Next"
              type="submit"
              color="primary"
              @click="moa.trStep = 1.2"
            />
            <q-btn
              label="Cancel"
              type="reset"
              color="primary"
              flat
              class="q-ml-sm"
            />
          </div>
        </div>
        <div class="col-6 q-ml-xl q-mr-lg shadow-5">
          <q-scroll-area style="height: 100%">
            <q-card flat class="q-pa-xl">
              <div id="exportthis">
                <p style="text-align: center; font-size: 12pt">
                  <strong>MEMORANDUM OF AGREEMENT</strong>
                </p>
                <p>
                  <em><span>Know All Men By These Presents:</span></em>
                </p>
                <p style="text-indent: 36pt">
                  <span
                    >This MEMORANDUM OF AGREEMENT (hereinafter “MOA”) is made
                    and entered into by and between:</span
                  >
                </p>
                <p style="margin-right: 45pt; margin-left: 36pt">
                  <span>
                    <strong>POLYTECHNIC UNIVERSITY OF THE PHILIPPINES</strong>
                    , a government educational institution organized and
                    existing under and by virtue of the laws of the Republic of
                    the Philippines, with principal address at Anonas St., Sta.
                    Mesa, Manila, duly represented by Vice President for
                    Academic Affairs,
                    <strong>DR. EMANUEL C. DE GUZMAN</strong>
                    , hereinafter referred to as
                    <strong>“UNIVERSITY”</strong>.</span
                  >
                </p>
                <p
                  style="
                    margin-right: 72pt;
                    margin-left: 72pt;
                    text-align: center;
                  "
                >
                  -and-
                </p>
                <p style="margin-right: 45pt; margin-left: 36pt">
                  <span
                    ><strong>{{ moa.hteName }}, </strong> a
                    {{ moa.hteClass }} duly organized and existing under and by
                    virtue of the laws of the Republic of the Philippines, with
                    business address at
                    <span style="text-transform: capitalize"
                      >{{ moa.street }} {{ moa.barangay }}, {{ moa.city }},
                      {{ moa.province }}</span
                    >, herein represented by its {{ moa.signatoryPosition }} ,
                    <strong>{{ moa.signatoryName }}</strong
                    >, hereinafter referred to as the “<strong
                      >Host Training Establishment</strong
                    >” <strong>or</strong> “<strong>HTE</strong>”</span
                  >
                </p>
                <p style="margin-right: 45pt; margin-left: 36pt">
                  <span
                    >The<strong> UNIVERSITY </strong>and the<strong>
                      HTE
                    </strong>
                     shall be referred to individually as a
                    “<strong>Party</strong>” and collectively as the
                    “<strong>Parties</strong>”.</span
                  >
                </p>

                <p style="text-align: center">
                  <strong>WITNESSETH:</strong>
                </p>

                <p style="text-indent: 36pt">
                  <strong>WHEREAS, </strong>
                   the<strong> UNIVERSITY </strong>has established an
                  Internship Program as part of its curriculum. The program is
                  designed to supplement the learnings and to train students to
                  become competitive and technologically innovative
                  professionals through actual exposure to a professional
                  workplace;
                </p>
                <p style="text-indent: 36pt">
                  <strong>WHEREAS,</strong> the <strong>HTE</strong> supports
                  this program and is willing to give the students of the<strong>
                    UNIVERSITY </strong
                  >course-related work assignments and expose them to actual
                  learning experiences
                </p>
                <p style="text-indent: 36pt">
                  <strong>NOW THEREFORE, </strong>, for and in consideration of
                  the foregoing premises, the parties hereby bind themselves to
                  undertake this Agreement under the following terms and
                  conditions:
                </p>

                <ol style="padding-left: 15px; font-weight: bold">
                  <li style="margin-bottom: 16pt">
                    <span style="font-weight: normal"
                      ><strong> Scope. </strong>This MOA governs the Internship
                      Program (“Program”) jointly pursued by the Parties in
                      accordance with CHED Memorandum Order No. 104, Series of
                      2017. Internship refers to the practical application of
                      classroom learning to an actual work environment. It is
                      synonymous to Practicum, Field Practice, or On-the-Job
                      Training; it is not synonymous to Apprenticeship and
                      Learnership.</span
                    >
                  </li>
                  <li style="margin-bottom: 16pt">
                    <span style="font-weight: normal"
                      ><strong> Term. </strong>This MOA shall take effect
                      <strong
                        >on the date of signing by both parties and shall
                        continue to be in force for three (3) years unless
                        earlier terminated for just cause</strong
                      >, by either Party, as provided herein. The three-year
                      period shall be applicable to cover prospective student
                      interns who may likewise be required to undergo an
                      internship with the HTE during the effectivity of this
                      MOA.</span
                    >
                  </li>
                  <li style="margin-bottom: 16pt;">
                    <span style="font-weight: normal"
                      ><strong>
                        Duties and Responsibilities of the University. </strong
                      >The University commits to:</span
                    >
                    <ol
                      style="
                        padding-left: 15px;
                        list-style-type: lower-alpha;
                        font-weight: normal;
                        margin-top: 16pt;
                      "
                    >
                      <li>
                        Formulate internship policies and guidelines on the
                        selection, placement, monitoring, and assessment of
                        student interns;
                      </li>
                      <li>
                        Collaborate with the HTE in developing an
                        <strong>Internship Plan</strong>
                        which sets out the goals and objectives, knowledge,
                        skills, assignments, and schedule of activities of the
                        Program in order to ensure that the student interns will
                        acquire actual and relevant competencies in each
                        learning area and assignment;
                      </li>
                      <li>
                        Ensure the acceptability of the Internship Plan and
                        internship venue to protect the student intern’s
                        interests;
                      </li>
                      <li>
                        Provide free medical and dental services and
                        certification by a duly licensed medical doctor and
                        dentist to the student interns;
                      </li>
                      <li>
                        Provide the appropriate insurance coverage to the
                        student interns during the duration of the internship;
                      </li>
                      <li>
                        Designate an OJT Coordinator for the internship program
                        who shall be responsible for the following:
                        <ol style="list-style-type: lower-roman">
                          <li>
                            Conduct, as a prerequisite to deployment,
                            pre-internship orientation/training to the student
                            interns on work environment issues, including but
                            not limited to proper
                          </li>
                          <li>
                            Inspect internship venues and sites when necessary;
                          </li>
                          <li>
                            Monitor and assess the student interns periodically;
                          </li>
                          <li>Coach or mentor the student interns;</li>
                          <li>
                            Consult and assist the student interns in resolving
                            their needs, concerns, and problems or issues
                            encountered
                          </li>
                          <li>
                            Validate the result of the internship at the end of
                            the internship period; and
                          </li>
                          <li>
                            Such other tasks as instructed by the
                            College/University.
                          </li>
                        </ol>
                      </li>
                      <li>
                        Monitor and evaluate the performance of the student
                        interns jointly with the HTE based on the Internship
                        Plan;
                      </li>
                      <li>
                        Provide feedback to the HTE on the overall
                        implementation of the internship, including a
                        post-training review;
                      </li>
                      <li>
                        Safeguard student interns undergoing internship from
                        harassment, exploitation, deplorable training
                        conditions, and such other conditions that contravene or
                        defeat the purpose of the internship;
                      </li>
                      <li>
                        Take appropriate action on any complaint against the
                        student intern in accordance with the University's
                        policies;
                      </li>
                      <li>
                        Establish a Grievance Committee composed of the
                        University Legal Counsel Office (ULCO), OJT Coordinator,
                        and Dean and/or representative of the Department with
                        jurisdiction over the student interns, and a
                        representative of the HTE. The Grievance Committee has
                        the responsibility to resolve a complaint by an
                        aggrieved party or settle differences in case of
                        violation of the training agreement
                      </li>
                      <li>
                        Issue a final grade to the student interns upon
                        completion of requirements within the prescribed period
                        in accordance with the University's regulations on
                        grading system and performance assessment; and
                      </li>
                      <li>
                        Comply with the reporting and other requirements of CHED
                        Memorandum Order No. 104, s. 2017.
                      </li>
                    </ol>
                  </li>
                  <li style="margin-bottom: 16pt; margin-top: 16pt">
                    <span style="font-weight: normal"
                      ><strong>
                        Duties and Responsibilities of the HTE.
                      </strong>
                      The HTE commits itself to:</span
                    >
                    <ol
                      style="
                        padding-left: 15px;
                        list-style-type: lower-alpha;
                        font-weight: normal;
                        margin-top: 16pt;
                      "
                    >
                      <li>
                        Accept for internship such number of students of the
                        University consistent with the requirements of the
                        University;
                      </li>
                      <li>
                        Enter into an Internship Agreement with each student
                        intern. Each duly executed
                        <strong>Internship Agreement</strong> shall form an
                        integral part of this MOA;
                      </li>
                      <li>
                        Collaborate with the University in developing an
                        <strong>Internship Plan</strong> which sets out the
                        goals and objectives, knowledge, skills, assignments,
                        and schedule of activities of the Program in order to
                        ensure that the student interns will acquire actual and
                        relevant competencies in each learning area and
                        assignment;
                      </li>
                      <li>
                        Orient the student interns on the standard policies,
                        rules, and regulations of the HTE before the signing of
                        the Internship Contract;
                      </li>
                      <li>
                        Develop and implement an Internship Plan, in
                        collaboration with the University;
                      </li>
                      <li>
                        Ensure that the internship shall be for a maximum of
                        eight (8) hours per day, between 8:00 am to 5:00 pm,
                        Mondays to Fridays only;
                      </li>
                      <li>
                        Guarantee that the student intern shall not be subject
                        to mandatory overtime (OT) nor be required to work
                        during holidays;
                      </li>
                      <li>
                        Adjust the modality of the internship program (e.g.,
                        from onsite to online or vice versa) as the
                        circumstances may warrant subject to the prior written
                        agreement of the University;
                      </li>
                      <li>
                        Provide the student interns with supervised practical
                        training and work experience in accordance with the
                        Internship Plan;
                      </li>
                      <li>
                        Ensure that the student interns do not perform tasks and
                        duties of regular positions in the HTE;
                      </li>
                      <li>
                        Appoint a Supervisor to serve as the focal person
                        responsible for the implementation of all the phases of
                        the Program;
                      </li>
                      <li>
                        Provide the student interns with adequate facilities as
                        needed to enable them to perform their duties;
                      </li>
                      <li>
                        Protect the student interns from physical or moral
                        danger to the extent possible;
                      </li>
                      <li>
                        Provide monitoring and evaluation reports on the student
                        interns’ performance and feedback to the University on
                        the overall implementation of the Program;
                      </li>
                      <li>
                        Allow the University’s OJT Coordinator to visit/inspect
                        the HTE’s internship site to ensure the safety of the
                        student interns; and
                      </li>
                      <li>
                        Issue within ten (10) working days from the end of the
                        internship period a Certificate of Completion, duly
                        accomplished evaluation sheet, and other pertinent
                        reports, information, and/or documents for purposes of
                        describing the student interns’ performance.
                      </li>
                    </ol>
                  </li>
                  <li style="margin-bottom: 16pt; margin-top: 16pt">
                    <span style="font-weight: normal"
                      ><strong>
                        Warranties and Representations of the Parties.
                      </strong>
                      The Parties represent and warrant that:</span
                    >
                    <ol
                      style="
                        padding-left: 15px;
                        list-style-type: lower-alpha;
                        font-weight: normal;
                        margin-top: 16pt;
                      "
                    >
                      <li>
                        They are duly registered with the appropriate government
                        agency/agencies and have the power to enter into this
                        MOA;
                      </li>
                      <li>
                        Their respective signatories are duly authorized to sign
                        and execute this MOA;
                      </li>
                      <li>
                        The execution of this MOA does not breach any of their
                        respective obligations and contracts; and
                      </li>
                      <li>
                        They adhere to all laws, issuances, and regulations
                        regarding the workplace and internship programs, as well
                        as health and safety issuances ensuring protection from
                        physical, emotional, and other forms of risk to one's
                        safety, privacy, security, and well-being.
                      </li>
                    </ol>
                  </li>
                  <li style="margin-bottom: 16pt; margin-top: 16pt">
                    <span style="font-weight: normal"
                      ><strong> Force majeure. </strong> No Party shall be
                      liable to the other Party in the event that it is unable
                      to perform an obligation under this MOA because of any
                      cause outside of its reasonable control, including acts of
                      God and force majeure.</span
                    >
                  </li>
                  <li style="margin-bottom: 16pt">
                    <span style="font-weight: normal"
                      ><strong> Termination. </strong> This MOA may be
                      terminated by either Party after thirty (30) days prior
                      written notice to the other Party on the ground that
                      either Party violated the foregoing covenants and such
                      violation cannot be addressed by the appropriate
                      corrective measures.<br /><br />
                      This MOA may be terminated at any time upon the written
                      agreement of the Parties.
                    </span>
                  </li>
                  <li style="margin-bottom: 16pt">
                    <span style="font-weight: normal"
                      ><strong> Miscellaneous Provisions. </strong>
                    </span>
                    <ol
                      style="
                        padding-left: 15px;
                        list-style-type: lower-alpha;
                        font-weight: normal;
                        margin-top: 16pt;
                      "
                    >
                      <li>
                        The OJT Coordinator/Faculty Adviser shall determine the
                        duration of the internship and shall inform the HTE of
                        the same through an endorsement letter.
                      </li>
                      <li>
                        In case the HTE has integrated emerging remote work
                        modalities including online options in the internship
                        program, the equivalent hours shall be included in
                        reckoning the total internship hours.
                      </li>
                      <li>
                        This MOA does not constitute any transfer of
                        intellectual property. All intellectual properties owned
                        by the Parties the use of which they may respectively
                        contribute to the pursuit of this MOA shall remain their
                        respective properties.
                      </li>
                      <li>
                        All intellectual properties developed, made, performed
                        or outputted by the student intern as part of his or her
                        regular internship duties/tasks with HTE and their
                        corresponding copyrights, patents, etc. shall belong to
                        the HTE.
                      </li>
                      <li>
                        Intellectual properties developed by the student intern
                        outside of his regular internship duties in the HTE and
                        their corresponding copyrights, patents, etc. shall
                        belong to the student intern, even if the student used
                        the time facilities, materials of the HTE, unless
                        otherwise stipulated in a separate agreement between the
                        student, his or her parents/guardian, and the HTE.
                      </li>
                      <li>
                        The above provisions shall apply in proportion to the
                        intellectual properties developed by a student intern in
                        case said intellectual property is jointly developed by
                        the student intern with an employee or personnel of the
                        HTE, unless otherwise stipulated in a separate agreement
                        between the student, his or her parents/guardian, and
                        the HTE.
                      </li>
                      <li>
                        Nothing in this Contract shall be construed as
                        constituting or evidencing a contract of employment or
                        partnership between the Parties.
                      </li>
                      <li>
                        Any activity that involves processing of personal data
                        shall comply with the Data Privacy Act of 2012 (or
                        Republic Act No. 10173), its Implementing Rules and
                        Regulations, and other applicable laws and
                        administrative issuances. The parties shall perform any
                        or all actions necessary to facilitate such processing
                        of personal data, including the execution of contracts,
                        securing of consent, and other similar or related acts.
                      </li>
                      <li>
                        The Parties warrant that they shall comply with all
                        their duties under Republic Act No. 11313, or the Safe
                        Spaces Act, and other related laws, rules, and
                        administrative issuances including, but not limited to,
                        the establishment of an independent internal mechanism
                        or a Committee on Decorum and Investigation and the
                        adoption of a code of conduct prohibiting sexual
                        harassment, describing the procedures of the internal
                        mechanism or CODI, and stating the imposable sanctions.
                        Each Party further warrants that should it receive a
                        complaint or report of sexual harassment, or should it
                        have knowledge or reasonably know about a possible or
                        impending act/s of sexual harassment by its officers,
                        personnel, employees, agents, authorized
                        representatives, or students (as may be applicable)
                        against the officers, personnel, employees, agents,
                        authorized representatives, or students (as may be
                        applicable) of the other Party, the former Party shall
                        immediately investigate the matter and take the
                        appropriate steps to resolve the situation, eliminate
                        the same act/s, prevent their recurrence, and address
                        their effects.
                      </li>
                      <li>
                        The invalidity or unenforceability of any provision of
                        this MOA shall not affect or impair other provisions
                        that are otherwise valid, binding, and effective.
                      </li>
                      <li>
                        Any dispute arising from this MOA shall be resolved
                        amicably between the Parties, and only upon failure of
                        amicable settlement may either Party bring the dispute
                        before the appropriate court or tribunal of competent
                        jurisdiction.
                      </li>
                      <li>
                        This MOA shall be governed by and construed according to
                        the laws of the Republic of the Philippines.
                      </li>
                      <li>
                        This MOA may be signed in separate but identical copies.
                        Each copy originally signed by the authorized signatory
                        of a Party, together with the other originally signed
                        counterparts, shall constitute an entire agreement.
                      </li>
                      <li>
                        Each party shall bear the cost of notarization
                        pertaining to their respective authorized signatories in
                        this MOA and in the Internship Contract to be executed
                        between the Company and the student interns.
                      </li>
                    </ol>
                  </li>
                </ol>

                <p style="text-indent: 23pt">
                  <strong>IN WITNESS WHEREOF,</strong> the parties hereby affix
                  their signatures this _____ day of <br />_____, 20___ at
                  _____________________, Philippines.
                </p>

                <table style="margin-bottom: 0pt; border-collapse: collapse">
                  <tr>
                    <td
                      style="
                        width: 228.6pt;
                        padding-right: 5.4pt;
                        padding-left: 5.4pt;
                        vertical-align: top;
                      "
                    >
                      <p style="margin-bottom: 0pt; text-align: center">
                        <strong>POLYTECHNIC UNIVERSITY OF THE PHILIPPINES</strong>
                      </p>
                    </td>
                    <td
                      style="
                        width: 228.6pt;
                        padding-right: 5.4pt;
                        padding-left: 5.4pt;
                        vertical-align: top;
                      "
                    >
                      <p style="margin-bottom: 0pt; text-align: center">
                        <strong
                          >{{ moa.hteName }}</strong
                        >
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td
                      style="
                        width: 228.6pt;
                        padding-right: 5.4pt;
                        padding-left: 5.4pt;
                        vertical-align: top;
                      "
                    >
                      <p style="margin-bottom: 0pt; text-align: justify">
                        <span style="font-family: 'Book Antiqua'">By:</span>
                      </p>
                      <p style="margin-bottom: 0pt; text-align: center">
                        <span style="font-family: 'Book Antiqua'"
                          >_______________________________</span
                        >
                      </p>
                      <p style="margin-bottom: 0pt; text-align: center">
                        <strong>DR. EMANUEL C. DE GUZMAN</strong><br />
                        <em>Vice President for Academic Affairs</em>
                      </p>
                    </td>
                    <td
                      style="
                        width: 228.6pt;
                        padding-right: 5.4pt;
                        padding-left: 5.4pt;
                        vertical-align: top;
                      "
                    >
                      <p style="margin-bottom: 0pt; text-align: justify">
                        <span style="font-family: 'Book Antiqua'">By: </span>
                      </p>
                      <p style="margin-bottom: 0pt; text-align: center">
                        <span style="font-family: 'Book Antiqua'"
                          >_______________________________</span
                        >
                      </p>
                      <p style="margin-bottom: 0pt; text-align: center">
                        <strong style="text-transform: uppercase">{{
                          moa.signatoryName
                        }}</strong
                        ><br />
                        <em>{{ moa.signatoryPosition }}</em>
                        
                      </p>
                    </td>
                  </tr>
                </table>

                <p style="text-align: center">SIGNED IN THE PRESENCE OF:</p>

                <table style="margin-bottom: 0pt; border-collapse: collapse">
                  <tr>
                    <td
                      style="
                        width: 228.6pt;
                        padding-right: 5.4pt;
                        padding-left: 5.4pt;
                        vertical-align: top;
                      "
                    >
                      <p style="margin-bottom: 0pt; text-align: justify">
                        <span style="font-family: 'Book Antiqua'">By:</span>
                      </p>
                      <p style="margin-bottom: 0pt; text-align: center">
                        <span style="font-family: 'Book Antiqua'"
                          >_______________________________</span
                        >
                      </p>
                      <p style="margin-bottom: 0pt; text-align: center">
                        <strong style="text-transform: uppercase"
                          >Eng. Ramir M. Cruz</strong
                        ><br />
                        <em>Dean, Institute of Technology</em>
                      </p>
                    </td>
                    <td
                      style="
                        width: 228.6pt;
                        padding-right: 5.4pt;
                        padding-left: 5.4pt;
                        vertical-align: top;
                      "
                    >
                      <p style="margin-bottom: 0pt; text-align: justify">
                        <span style="font-family: 'Book Antiqua'">By:</span>
                      </p>
                      <p style="margin-bottom: 0pt; text-align: center">
                        <span style="font-family: 'Book Antiqua'"
                          >_______________________________</span
                        >
                      </p>
                      <p style="margin-bottom: 0pt; text-align: center">
                        
                        <strong>(Name of witness of the HTE)</strong><br />
                        <em>(Position)</em>
                      </p>
                    </td>
                  </tr>
                </table>

                <p style="text-align: center; margin-top: 150pt">
                  <strong>ACKNOWLEDGMENT</strong>
                </p>

                <p style="text-align: left">
                  Republic of the Philippines)<br />
                  City of _________________ ) S.S
                </p>

                <p style="text-indent: 30pt; text-align: left">
                  <strong>BEFORE ME</strong>, a Notary Public, for and in the City of
                  _______________, this _____day of _______, 20___, personally
                  appeared:
                </p>

                <table style="margin-bottom: 0pt; border-collapse: collapse">
                  <tr>
                    <td
                      style="
                        width: 158.55pt;
                        padding-right: 5.4pt;
                        padding-left: 5.4pt;
                        vertical-align: top;
                      "
                    ></td>
                    <td
                      style="
                        width: 138.55pt;
                        padding-right: 5.4pt;
                        padding-left: 5.4pt;
                        vertical-align: top;
                      "
                    >
                      <p style="text-align: center">Valid Proof of Identity</p>
                    </td>
                    <td
                      style="
                        width: 138pt;
                        padding-right: 5.4pt;
                        padding-left: 5.4pt;
                        vertical-align: top;
                      "
                    >
                      <p style="text-align: center">
                        Issued at/on
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td
                      style="
                        width: 158.55pt;
                        padding-right: 5.4pt;
                        padding-left: 5.4pt;
                        vertical-align: top;
                      "
                    >
                      <p style="text-align: left; font-size: 10pt;">
                        <strong>DR. EMANUEL C. DE GUZMAN</strong>
                      </p>
                    </td>
                    <td
                      style="
                        width: 138.55pt;
                        padding-right: 5.4pt;
                        padding-left: 5.4pt;
                      "
                    >
                      <p style="margin-bottom: 0pt; text-align: center">
                        ________________________
                      </p>
                    </td>
                    <td
                      style="
                        width: 138pt;
                        padding-right: 5.4pt;
                        padding-left: 5.4pt;
                      "
                    >
                      <p style="margin-bottom: 0pt; text-align: center">
                        ________________________
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td
                      style="
                        width: 158.55pt;
                        padding-right: 5.4pt;
                        padding-left: 5.4pt;
                        vertical-align: top;
                      "
                    >
                      <p style="margin-bottom: 0pt; text-align: left; font-size: 10pt;">
                        <strong style="text-transform: uppercase">{{
                          moa.signatoryName
                        }}</strong>
                      </p>
                    </td>
                    <td
                      style="
                        width: 138.55pt;
                        padding-right: 5.4pt;
                        padding-left: 5.4pt;
                      "
                    >
                      <p style="margin-bottom: 0pt; text-align: center">
                        ________________________
                      </p>
                    </td>
                    <td
                      style="
                        width: 138pt;
                        padding-right: 5.4pt;
                        padding-left: 5.4pt;
                      "
                    >
                      <p style="margin-bottom: 0pt; text-align: center">
                        ________________________
                      </p>
                    </td>
                  </tr>
                </table>

                <p>
                  <br />
                  known to me to be the same persons who executed this
                  instrument and acknowledged the same to me as their free and
                  voluntary act and deed, and of the entities they respectively
                  represent.
                </p>

                <p style="text-indent: 30pt">
                  This document consists of six (6) pages including the page
                  where this Acknowledgment is written, and the parties signed
                  at the left margin of each and every page hereof.
                </p>

                <p style="text-indent: 30pt">
                  <strong>WITNESS MY HAND AND SEAL </strong> on the place and
                  date first above written.
                </p>

                <p style="text-align: right; margin-right: 60pt">
                  Notary Public
                </p>

                <p style="text-align: left">
                  Doc. No. _____; <br />
                  Page No. _____; <br />
                  Book No. ____; <br />
                  Series of _____.
                </p>
              </div>
            </q-card>
          </q-scroll-area>
        </div>
      </div>
      <q-dialog v-model="showDialog" persistent>
        <q-card class="q-pa-sm">
          <q-card-section>
            <q-card-text>
              Download and send the Memorandum of Agreement (MoA) template. with
              your host training establishment to propose the agreement for
              signing.<br /><br />
              <strong>For private companies: </strong>Please request a copy of
              DTI and SEC registration, as it is required on the next step.
              <br /><br />
              <strong>Ready to proceed?</strong>
            </q-card-text>
          </q-card-section>
          <q-card-actions align="right">
            <q-btn
              flat
              label="Cancel"
              @click="closeDialog"
              class="text-primary"
            />
            <q-btn
              label="Download and Proceed"
              class="bg-primary text-white"
              @click="onProceed"
            />
          </q-card-actions>
        </q-card>
      </q-dialog>
    </q-form>
  </div>
</template>
<script src="../scripts/CustomizedMoa.js" />
<style>
.customized-moa-student {
  #exportthis {
    font-family: "Arial";
    line-height: 1;
    font-size: 11pt;
    margin-bottom: 0pt;
    text-align: justify;
  }
  .q-field--auto-height.q-field--dense.q-field--labeled
    .q-field__control-container {
    padding: 0px;
  }
  .q-stepper--horizontal .q-stepper__step-inner {
    padding: 0px;
  }
  .q-field__bottom .row .items-start .q-field__bottom--animated {
    padding: 0px !important;
    height: 0px;
    font-size: 0px;
  }
}
</style>
