<template>
  <div class="row">
    <div class="col text-left">
      <h6 class="q-mb-xs q-mt-none">Read and Understand</h6>
      <hr />
      <div class="text-body2">
        By continuing, you verify the following: <br /><br />
        <strong>A. MoA Availability: </strong>You have checked the MoA database
        and confirmed that a pre-existing Memorandum of Agreement (MoA) for the
        company you are processing is not available.<br /><br />
        <strong>B. Document Requirements: </strong>You understand the document
        requirements for MoAs:
        <ul>
          <li>
            <strong>Private Company/HTE: </strong>Requires both the MoA and
            copies of the company's DTI Registration and SEC Registration (if
            applicable).
          </li>
          <li>
            <strong>Government Organization: </strong>Requires only the MoA.
          </li>
        </ul>
      </div>
    </div>
    <div class="col q-ml-lg text-left">
      <h6 class="q-mb-xs q-mt-none">Attachments</h6>
      <hr class="q-mb-lg" />
      <div class="q-gutter-y-md">
        <q-input readonly outlined dense v-model="hteMoaFileName">
          <template v-slot:prepend>
            <q-icon name="attach_file" />
          </template>
        </q-input>
        <div v-if="trhteClass != 'government agency'" class="q-gutter-y-md">
          <q-input readonly outlined dense v-model="hteDtiFileName">
            <template v-slot:prepend>
              <q-icon name="attach_file" />
            </template>
          </q-input>
          <q-input readonly outlined dense v-model="hteSecFileName">
            <template v-slot:prepend>
              <q-icon name="attach_file" />
            </template>
          </q-input>
        </div>
        <div>
          By proceeding, you are confirming that you have read, understood and
          agree.
        </div>
      </div>
    </div>
  </div>
  <div class="q-mt-md flex justify-end">
    <q-btn flat label="Back" color="primary" @click="onBack" />
    <q-btn label="Proceed" color="primary" class="q-ml-sm" @click="onProceed" />
  </div>
</template>

<script>
import { ref, onMounted, computed } from "vue";
import { useRoute, useRouter } from "vue-router";
import { useQuasar, date } from "quasar";
import { initializeApp } from "firebase/app";
import {
  getFirestore,
  query,
  collection,
  where,
  getDocs,
  doc,
  updateDoc,
} from "firebase/firestore";
import {
  getStorage,
  ref as storageRef,
  uploadBytes,
  getDownloadURL,
} from "firebase/storage";

// Your Firebase configuration object
const firebaseConfig = {
  apiKey: "AIzaSyCaLXiK7TyxB2_cp68_SxUDj7KxOy2XZAk",
  authDomain: "maymoapo-815ee.firebaseapp.com",
  projectId: "maymoapo-815ee",
  storageBucket: "maymoapo-815ee.appspot.com",
  messagingSenderId: "992963522084",
  appId: "1:992963522084:web:f79e171bfb56a05359f2b1",
};

// Initialize Firebase
const firebaseApp = initializeApp(firebaseConfig);
const db = getFirestore(firebaseApp); // Initialize Cloud Firestore
const storage = getStorage(firebaseApp); // Initialize Firebase Storage

export default {
  name: "ReviewSubmit",
  props: {
    trNo: String,
  },
  setup(props) {
    const $q = useQuasar();
    const router = useRouter();
    const route = useRoute();
    const timeString = Date.now();
    const dateStamp = date.formatDate(timeString, "DD MMMM, YYYY");
    const timeStamp = date.formatDate(timeString, "h:mm A");
    const trID = ref(null);
    const trhteClass = ref(null);
    const document = ref({
      hteMoa: null,
      hteDti: null,
      hteSec: null,
      trStep: 2.0,
    });
    const documentRequired = ref(false);
    const MoaDocumentDetails = ref([]);

    if (trhteClass.value != "government agency") {
      documentRequired.value = true;
    }

    console.log("Received trNo:", props.trNo);

    // Fetch MoA documents based on trNo
    const fetchMoa = async () => {
      try {
        if (!props.trNo) {
          console.error("Error: props.trNo is undefined or null.");
          return;
        }

        const q = query(
          collection(db, "transactions"),
          where("trNo", "==", props.trNo)
        );
        const querySnapshot = await getDocs(q);

        if (!querySnapshot.empty) {
          const transaction = querySnapshot.docs[0].data();
          trID.value = querySnapshot.docs[0].id;
          trhteClass.value = transaction.hteClass;
          document.value.hteMoa = transaction.hteMoa;
          document.value.hteDti = transaction.hteDti;
          document.value.hteSec = transaction.hteSec;
        } else {
          console.log("No such document!");
        }
      } catch (error) {
        console.error("Error fetching MoA documents:", error);
      }
    };

    // Call fetchMoa when component is mounted
    onMounted(() => {
      fetchMoa();
    });

    // Function to extract filename from URL
    // Function to extract filename from URL
    const getFileName = (url) => {
      if (!url) return '';
      const decodedUrl = decodeURIComponent(url); // Decode URL component
      const match = decodedUrl.match(/\/([^\/?#]+)[^\/]*$/); // Regex to match filename
      if (match) {
        return match[1]; // Return the matched filename
      } else {
        return ''; // Return empty string if no match found
      }
    };
    // Computed properties for file names
    const hteMoaFileName = computed(() => getFileName(document.value.hteMoa));
    const hteDtiFileName = computed(() => getFileName(document.value.hteDti));
    const hteSecFileName = computed(() => getFileName(document.value.hteSec));

    const onProceed = async () => {
      // Fetch the document using trNo
      const q = query(
        collection(db, "transactions"),
        where("trNo", "==", route.query.trNo)
      );
      const querySnapshot = await getDocs(q);

      if (!querySnapshot.empty) {
        const docRef = doc(db, "transactions", querySnapshot.docs[0].id);
        await updateDoc(docRef, {
          trStep: 2.0,
          stepTitle: "Review and Approval of OJT Coordinator",
          updateSteptime: timeStamp,
          updateStepdate: dateStamp,
          notifStatus: true,
          step1Timestamp: timeStamp,
          step1Datestamp: dateStamp,
        });

        router.push({
          path: "track-moa",
          query: {
            trNo: props.trNo,
          },
        });
      }
    };

    const onBack = async () => {
      try {
        const docRef = doc(db, "transactions", trID.value);

        await updateDoc(docRef, {
          trStep: 1.2, // Revert the transaction step
        });

        $q.notify({
          message: "Transaction step reverted successfully!",
          position: "top",
          type: "positive",
        });

        router.push({
          path: "generate-moa",
          query: {
            trNo: props.trNo,
          },
        });

        window.location.reload();
      } catch (error) {
        console.error("Error updating MoA:", error);
      }
    };

    return {
      trhteClass,
      document,
      hteMoaFileName,
      hteDtiFileName,
      hteSecFileName,
      onProceed,
      onBack,
      MoaDocumentDetails,
    };
  },
};
</script>
