<template>
  <div>
    <label class="text-weight-medium">MoA Document for new HTE</label>
    <q-file
      outlined
      dense
      v-model="document.hteMoa"
      accept=".doc"
      :rules="[(val) => !!val || 'Field is required']"
    >
      <template v-slot:prepend>
        <q-icon name="attach_file" />
      </template>
    </q-file>
    <div v-if="trhteClass != 'government agency'">
      <label class="text-weight-medium">DTI Registration Document</label>
      <q-file
        outlined
        dense
        v-model="document.hteDti"
        accept=".pdf"
        :rules="[(val) => !!val || 'Field is required']"
      >
        <template v-slot:prepend>
          <q-icon name="attach_file" />
        </template>
      </q-file>
      <label class="text-weight-medium">SEC Registration Document</label>
      <q-file
        outlined
        dense
        v-model="document.hteSec"
        accept=".pdf"
        :rules="[(val) => !!val || '']"
      >
        <template v-slot:prepend>
          <q-icon name="attach_file" />
        </template>
      </q-file>
    </div>

    <div class="q-mt-md q-mb-xl">
      <q-btn label="Back" color="primary" @click="onBack" />
      <q-btn
        label="Upload and Proceed"
        color="primary"
        class="q-ml-sm"
        @click="onUploadAndProceed"
      />
    </div>
  </div>
</template>

<script>
import { ref, onMounted } from "vue";
import { useRoute, useRouter } from "vue-router";
import { useQuasar } from "quasar";
import { initializeApp } from "firebase/app";
import { getFirestore, query, collection, where, getDocs, doc, updateDoc } from "firebase/firestore";
import { getStorage, ref as storageRef, uploadBytes, getDownloadURL } from "firebase/storage";
 
// Your Firebase configuration object
const firebaseConfig = {
  apiKey: "AIzaSyCaLXiK7TyxB2_cp68_SxUDj7KxOy2XZAk",
  authDomain: "maymoapo-815ee.firebaseapp.com",
  projectId: "maymoapo-815ee",
  storageBucket: "maymoapo-815ee.appspot.com",
  messagingSenderId: "992963522084",
  appId: "1:992963522084:web:f79e171bfb56a05359f2b1",
};

// Initialize Firebase
const firebaseApp = initializeApp(firebaseConfig);
const db = getFirestore(firebaseApp); // Initialize Cloud Firestore
const storage = getStorage(firebaseApp); // Initialize Firebase Storage

export default {
  name: "UploadReqDocu",
  props: {
    trNo: String,
  },
  setup(props) {
    const $q = useQuasar();
    const route = useRoute();
    const router = useRouter();
    const trID = ref(null);
    const trhteName = ref(null);
    const trhteClass = ref(null);
    const document = ref({
      hteMoa: null,
      hteDti: null,
      hteSec: null,
    });

    // Fetch MoA documents based on transaction number (trNo)
    const fetchMoa = async () => {
      try {
        if (!props.trNo) {
          console.error("Error: props.trNo is undefined or null.");
          return;
        }

        const q = query(collection(db, "transactions"), where("trNo", "==", props.trNo));
        const querySnapshot = await getDocs(q);

        if (!querySnapshot.empty) {
          const transaction = querySnapshot.docs[0].data();
          trID.value = querySnapshot.docs[0].id;
          trhteName.value = transaction.hteName;
          trhteClass.value = transaction.hteClass;
        } else {
          console.log("No such document!");
        }
      } catch (error) {
        console.error("Error fetching MoA documents:", error);
      }
    };

    onMounted(() => {
      fetchMoa();
    });

    // Function to upload a file to Firebase Storage and get its download URL
    const uploadFile = async (file, folder, customName) => {
      const fileRef = storageRef(storage, `${folder}/${customName}`);
      const snapshot = await uploadBytes(fileRef, file); // Upload the file
      const downloadURL = await getDownloadURL(snapshot.ref); // Get the file's download URL
      return downloadURL; // Return the download URL
    };

    // Function to handle uploading documents and proceeding
    const onUploadAndProceed = async () => {
      const onRefresh = () => {
        setTimeout(() => {
          window.location.reload();
        }, 1000); // Refresh the page after 1 second
      };

      try {
        let updates = {};

        // Upload hteMoa document and get its URL with custom name
        if (document.value.hteMoa) {
          const customMoaName = `Memorandum of Agreement_${trhteName.value}.doc`;
          updates.hteMoa = await uploadFile(document.value.hteMoa, 'moa', customMoaName);
        }

        // If not a government agency, upload hteDti and hteSec documents and get their URLs with custom names
        if (document.value.hteDti && trhteClass.value !== "government agency") {
          const customDtiName = `DTI Registration_${trhteName.value}.pdf`;
          updates.hteDti = await uploadFile(document.value.hteDti, 'dti', customDtiName);
        }
        if (document.value.hteSec && trhteClass.value !== "government agency") {
          const customSecName = `SEC Registration_${trhteName.value}.pdf`;
          updates.hteSec = await uploadFile(document.value.hteSec, 'sec', customSecName);
        }

        if (Object.keys(updates).length > 0) {
          const docRef = doc(db, "transactions", trID.value);
          await updateDoc(docRef, {
            trStep: 1.3, // Update the transaction step
            ...updates // Update the document with the new fields
          });

          $q.notify({
            message: "Required documents uploaded successfully!",
            caption: `${trhteName.value} transaction has been updated.`,
            position: "top",
            type: "positive",
          });

          router.push({
            path: "generate-moa",
            query: {
              trNo: props.trNo,
            },
          });

          onRefresh();
        } else {
          $q.notify({
            message: "Upload all required documents!",
            position: "top",
            type: "negative",
            timeout: 5000,
          });
        }
      } catch (error) {
        console.error("Error updating MoA:", error);
      }
    };

    const onBack = async () => {
      try {
        const docRef = doc(db, "transactions", trID.value);

        await updateDoc(docRef, {
          trStep: 1.1, // Revert the transaction step
        });

        $q.notify({
          message: "Transaction step reverted successfully!",
          position: "top",
          type: "positive",
        });

        router.push({
          path: "generate-moa",
          query: {
            trNo: props.trNo,
          },
        });

        window.location.reload();
      } catch (error) {
        console.error("Error updating MoA:", error);
      }
    };

    return {
      trhteClass,
      document,
      onUploadAndProceed,
      onBack,
    };
  },
};
</script>

<style>
.q-field--outlined.q-field--readonly .q-field__control:before {
  border-style: solid;
}
</style>
