<template>
  <div class="generate-moa-student">
    <div class="q-pa-lg">
      <q-card class="bg-white q-pa-lg" no-scroll flat>
        <div class="flex justify-between">
          <!-- Heading on the top left -->
          <h5 class="text-primary text-bold q-my-none">
            Memorandum of Agreement<br />
            for New HTE
          </h5>
          <!-- Stepper on the top right -->
          <q-stepper
            flat
            v-model="trStep"
            ref="stepper"
            color="primary"
            animated
          >
            <q-step
              :name="1.1"
              title="Generate New MoA Document"
              icon="settings"
              :done="trStep > 1.1"
            />
            <q-step
              :name="1.2"
              title="Upload MoA, DTI and SEC Registration"
              icon="upload_file"
              :done="trStep > 1.2"
            />
            <q-step :name="1.3" title="Review and Submit" icon="folder" />
          </q-stepper>
        </div>

        <q-tab-panels
          v-model="trStep"
          animated
          class="shadow-2 rounded-borders"
        >
          <q-tab-panel :name="1.1" class="q-px-none">
            <CustomizedMoa />
          </q-tab-panel>

          <q-tab-panel
            :name="1.2"
            class="q-px-none vertical-middle text-center"
          >
            <UploadReqDocu :trNo="trNo" />
          </q-tab-panel>

          <q-tab-panel
            :name="1.3"
            class="q-px-none vertical-middle text-center"
          >
            <ReviewSubmit :trNo="trNo" />
          </q-tab-panel>
        </q-tab-panels>
      </q-card>
    </div>
  </div>
</template>

<script>
import { ref, onMounted, watch } from "vue";
import { useRoute, useRouter } from "vue-router";
import CustomizedMoa from "./components/CustomizedMoa";
import UploadReqDocu from "./components/UploadReqDoc";
import ReviewSubmit from "./components/ReviewSubmit";
import { initializeApp } from "firebase/app";
import {
  getAuth
} from "firebase/auth"; // Import EmailAuthProvider
import {
  getFirestore,
  query,
  collection,
  where,
  getDocs
} from "firebase/firestore";

// Your Firebase configuration object
const firebaseConfig = {
  apiKey: "AIzaSyCaLXiK7TyxB2_cp68_SxUDj7KxOy2XZAk",
  authDomain: "maymoapo-815ee.firebaseapp.com",
  projectId: "maymoapo-815ee",
  storageBucket: "maymoapo-815ee.appspot.com",
  messagingSenderId: "992963522084",
  appId: "1:992963522084:web:f79e171bfb56a05359f2b1",
};

// Initialize Firebase
const firebaseApp = initializeApp(firebaseConfig);
const db = getFirestore(firebaseApp); // Initialize Cloud Firestore and get a reference to the service

const auth = getAuth(firebaseApp);

export default {
  components: { CustomizedMoa, UploadReqDocu, ReviewSubmit },
  setup() {
    const MoaDocumentDetails = ref([]);
    const router = useRouter();
    const route = useRoute();
    const trStep = ref(1.1);
    const trNo = ref(null);

    // Fetch transaction details based on trNo
    const fetchTransactionBytrNo = async (trNo) => {
      try {
        const q = query(
          collection(db, "transactions"),
          where("trNo", "==", trNo)
        );
        const querySnapshot = await getDocs(q);
        const transactions = [];
        querySnapshot.forEach((doc) => {
          transactions.push({ id: doc.id, ...doc.data() });
        });
        return transactions;
      } catch (error) {
        console.error("Error fetching Transaction by trNo:", error);
        return [];
      }
    };

    // Fetch MoaDocumentDetails and update trStep
    const fetchMoa = async () => {
      try {
        const data = await fetchTransactionBytrNo(trNo.value);
        MoaDocumentDetails.value = data;
        if (MoaDocumentDetails.value.length > 0) {
          trStep.value = MoaDocumentDetails.value[0].trStep;
        }
      } catch (error) {
        console.error("Error fetching MoA details:", error);
      }
    };

    // Fetch MoA details when component is mounted
    onMounted(() => {
      trNo.value = route.query.trNo;
      if (trNo.value) {
        fetchMoa();
      } else {
        console.log("No trNo provided in route query. Skipping fetching.");
      }
    });

    return {
      trStep,
      MoaDocumentDetails,
      trNo,
    };
  },
};
</script>

<style>
.generate-moa-student {
  .q-stepper--horizontal .q-stepper__step-inner {
    padding: 0%;
  }
}
</style>
