<template>
  <div class="notification-admin">
    <div class="q-pa-lg q-gutter-y-lg">
      <q-card class="bg-white q-pa-lg card-height" no-scroll flat>
        <!-- Header -->
        <h5 class="text-primary text-bold q-ma-none">Notification</h5>
        <div
          v-if="notiflength === 0"
          class="full-width text-primary q-py-xl text-center"
        >
          <!--icon urri -->
          <q-icon class="text-h3" name="notifications_active" /><br /><br />
          <span class="text-h5 text-weight-bold"
            >You have no new notifications!</span
          >
          <br /><br />
          <span class="text-body1 text-center">
            Please check back later for any updates.<br /> </span
          ><br />
        </div>
        <q-item
          v-for="(transaction, index) in NotifMoaDocumentDetails"
          :key="index"
        >
          <q-item-section center class="col text-center">
            <q-item-label class="text-weight-medium">
              TRNO. {{ transaction.trNo }}
            </q-item-label>
          </q-item-section>

          <q-item-section center class="col-3 text-left">
            <q-item-label lines="1">
              <q-badge
                :color="getStepColor(transaction.trStep)"
                :label="transaction.stepTitle"
              />
            </q-item-label>
          </q-item-section>

          <q-item-section center class="text-left">
            <q-item-label>
              <span class="text-weight-medium">{{ transaction.hteName }}</span>
            </q-item-label>
          </q-item-section>

          <q-item-section center class="text-left">
            <q-item-label class="q-mt-sm">{{
              transaction.signatoryName
            }}</q-item-label>
          </q-item-section>

          <q-item-section center class="col-3 text-center">
            <q-item-label class="q-mt-sm text-grey">
              {{
                getTimeDifference(
                  transaction.updateSteptime,
                  transaction.updateStepdate
                )
              }}
            </q-item-label>
          </q-item-section>
        </q-item>
      </q-card>
    </div>
  </div>
</template>

<script>
import { ref, computed, onMounted, watch } from "vue";
import { useRoute, useRouter } from "vue-router";
import { initializeApp } from "firebase/app";
import { getAuth } from "firebase/auth"; // Import EmailAuthProvider
import {
  getFirestore,
  query,
  collection,
  where,
  getDocs,
  doc,
  updateDoc,
} from "firebase/firestore";

// Your Firebase configuration object
const firebaseConfig = {
  apiKey: "AIzaSyCaLXiK7TyxB2_cp68_SxUDj7KxOy2XZAk",
  authDomain: "maymoapo-815ee.firebaseapp.com",
  projectId: "maymoapo-815ee",
  storageBucket: "maymoapo-815ee.appspot.com",
  messagingSenderId: "992963522084",
  appId: "1:992963522084:web:f79e171bfb56a05359f2b1",
};

// Initialize Firebase
const firebaseApp = initializeApp(firebaseConfig);
const db = getFirestore(firebaseApp); // Initialize Cloud Firestore

export default {
  setup() {
    const router = useRouter();
    const route = useRoute();

    let MoaDocumentDetails = ref([]);
    let NotifMoaDocumentDetails = ref([]);

    let notiflength = ref();

    // Fetch transaction details based on trNo
    const fetchTransactionByEmail = async (email) => {
      try {
        const q = query(
          collection(db, "transactions"),
          where("stEmail", "==", email)
        );
        const querySnapshot = await getDocs(q);
        const transactions = [];
        querySnapshot.forEach((doc) => {
          transactions.push({ id: doc.id, ...doc.data() });
        });
        return transactions;
      } catch (error) {
        console.error("Error fetching Transaction by email:", error);
        return [];
      }
    };

    // Fetch MoaDocumentDetails and update trStep
    const fetchMoa = async () => {
      try {
        const auth = getAuth(firebaseApp);
        const user = auth.currentUser;

        const data = await fetchTransactionByEmail(user.email);
        MoaDocumentDetails.value = data;

        const processedDocuments = data.map((doc) => ({
          ...doc,
          combinedDate: `${doc.updateStepdate} | ${doc.updateSteptime}`,
        }));

        NotifMoaDocumentDetails.value = processedDocuments;

        notiflength.value = NotifMoaDocumentDetails.value.length;
      } catch (error) {
        console.error("Error fetching MoA details:", error);
      }
    };

    onMounted(() => {
      fetchMoa();
    });

    const handleOpenNotif = async (trNo) => {
      // Fetch the document using trNo
      const q = query(
        collection(db, "transactions"),
        where("trNo", "==", trNo)
      );
      const querySnapshot = await getDocs(q);

      if (!querySnapshot.empty) {
        const docRef = doc(db, "transactions", querySnapshot.docs[0].id);
        await updateDoc(docRef, {
          notifStatus: false,
        });
      }

      router.push({
        path: "transaction",
        query: {
          trNo,
        },
      });

      fetchMoa();
    };

    const handleReadNotif = async (trNo) => {
      // Fetch the document using trNo
      const q = query(
        collection(db, "transactions"),
        where("trNo", "==", trNo)
      );
      const querySnapshot = await getDocs(q);

      if (!querySnapshot.empty) {
        const docRef = doc(db, "transactions", querySnapshot.docs[0].id);
        await updateDoc(docRef, {
          notifStatus: false,
        });

        fetchMoa();
      }
    };

    const handleUnreadNotif = async (trNo) => {
      // Fetch the document using trNo
      const q = query(
        collection(db, "transactions"),
        where("trNo", "==", trNo)
      );
      const querySnapshot = await getDocs(q);

      if (!querySnapshot.empty) {
        const docRef = doc(db, "transactions", querySnapshot.docs[0].id);
        await updateDoc(docRef, {
          notifStatus: true,
        });

        fetchMoa();
      }
    };

    const getTimeDifference = (updateSteptime, updateStepdate) => {
      const now = new Date();
      const combinedDateTime = `${updateStepdate} ${updateSteptime}`;
      const updateTime = new Date(combinedDateTime);
      const diffInMs = now - updateTime;
      const diffInMinutes = Math.floor(diffInMs / 60000);

      if (diffInMinutes < 1) {
        return "Just now";
      } else if (diffInMinutes < 60) {
        return `${diffInMinutes} min ago`;
      } else if (diffInMinutes < 1440) {
        const diffInHours = Math.floor(diffInMinutes / 60);
        return `${diffInHours} hr ago`;
      } else {
        const diffInDays = Math.floor(diffInMinutes / 1440);
        return `${diffInDays} day${diffInDays > 1 ? "s" : ""} ago`;
      }
    };

    const getStepColor = (trStep) => {
      switch (trStep) {
        case 2:
          return "primary"; // For Approval
        case 3:
          return "orange"; // For ULCO & VPAA
        case 4:
          return "warning"; // For Retrieval
        case 5:
          return "teal"; // MoA Retrieved
        default:
          return "blue"; // MoA Uploaded
      }
    };
    return {
      notiflength,
      getTimeDifference,
      handleReadNotif,
      handleUnreadNotif,
      handleOpenNotif,
      MoaDocumentDetails,
      NotifMoaDocumentDetails,
      getStepColor,
    };
  },
};
</script>

<style>
.notification-admin {
  .card-height {
    max-height: 88vh;
  }
  .q-btn-group > .q-btn-item {
    background-color: #f3e5e5;
    color: #800;
    width: 170px;
  }
  .q-card > div:not(.q--avoid-card-border) {
    border-radius: 5px;
  }
}
</style>
