<template>
  <div class="settings-student">
  <div class="q-pa-lg">
    <q-card class="bg-white q-pa-lg" no-scroll flat>
      <h5 class="text-primary text-bold q-ma-none">Account Settings</h5>
      <div class="row q-mb-xl">
        <div class="col-6">
            <!-- Header: Company Details -->
            <h6 class="text-primary q-mb-xs q-mt-md">Profile</h6>
            <hr class="" />
            <label class=" text-weight-medium">Name:</label>
            <q-input
              outlined
              dense
              v-model="form.name"
              class="q-mb-sm"
              readonly
            />
            <label class=" text-weight-medium"
              >Student Number:</label
            >
            <q-input
              dense
              outlined
              v-model="form.stNo"
              mask="####-#####-AA-#"
              class="q-mb-sm"
              readonly
            />

            <label class=" text-weight-medium">Program</label>
            <q-input
              dense
              outlined
              v-model="form.program"
              class="q-mb-sm"
              readonly
            />
            <label class=" text-weight-medium"
              >Email Address:</label
            >
            <q-input
              outlined
              dense
              v-model="form.email"
              type="email"
              class="q-mb-sm"
              readonly
            />
        </div>
        <div class="col-5 q-ml-xl">
          <q-form @submit="onChangePass()" @reset="onReset()">
            <!-- Header: Company Details -->
            <h6 class="text-primary q-mb-xs q-mt-md">Update Password</h6>
            <hr class="" />
            <label class=" text-weight-medium">Old Password:</label>
            <q-input
              outlined
              dense
              v-model="opassword"
              :type="isoPwd ? 'password' : 'text'"
            >
              <template v-slot:append>
                <q-icon
                  :name="isoPwd ? 'visibility_off' : 'visibility'"
                  class="cursor-pointer"
                  @click="isoPwd = !isoPwd"
                />
              </template>
            </q-input>
            <label class=" text-weight-medium">New Password:</label>
            <q-input
              outlined
              dense
              v-model="npassword"
              :type="isPwd ? 'password' : 'text'"
            >
              <template v-slot:append>
                <q-icon
                  :name="isPwd ? 'visibility_off' : 'visibility'"
                  class="cursor-pointer"
                  @click="isPwd = !isPwd"
                />
              </template>
            </q-input>
            <label class=" text-weight-medium"
              >Confirm Password:</label
            >
            <q-input
              outlined
              dense
              v-model="cpassword"
              :type="iscPwd ? 'password' : 'text'"
            >
              <template v-slot:append>
                <q-icon
                  :name="iscPwd ? 'visibility_off' : 'visibility'"
                  class="cursor-pointer"
                  @click="iscPwd = !iscPwd"
                />
              </template>
            </q-input>
            <div class="q-mt-md q-mb-xl">
              <q-btn label="Update Password" type="submit" color="primary" />
              <q-btn
                label="Cancel"
                type="reset"
                color="primary"
                flat
                class="q-ml-sm"
              />
            </div>
          </q-form>
        </div>
      </div>
    </q-card>
  </div>
  </div>
</template>

<script>
import { ref, onMounted } from 'vue';
import { useRouter } from "vue-router";
import { useQuasar } from "quasar";
import { initializeApp } from "firebase/app"; 
import { getAuth, reauthenticateWithCredential, updatePassword, EmailAuthProvider } from 'firebase/auth'; // Import EmailAuthProvider
import { getFirestore, collection, query, where, getDocs } from "firebase/firestore";

// Your Firebase configuration object
const firebaseConfig = {
  apiKey: "AIzaSyCaLXiK7TyxB2_cp68_SxUDj7KxOy2XZAk",
  authDomain: "maymoapo-815ee.firebaseapp.com",
  projectId: "maymoapo-815ee",
  storageBucket: "maymoapo-815ee.appspot.com",
  messagingSenderId: "992963522084",
  appId: "1:992963522084:web:f79e171bfb56a05359f2b1",
};

// Initialize Firebase
const firebaseApp = initializeApp(firebaseConfig);
// Initialize Cloud Firestore and get a reference to the service
const db = getFirestore(firebaseApp);

export default {
  setup() {
    const router = useRouter();
    const $q = useQuasar();
    const displayName = ref('');
    const AccountDetails = ref([]);
    let form = ref({
      id: null,
      name: "",
      stNo: null,
      email: "",
      role: "",
      program: "",
      terms: false,
    });
    let opassword = ref("");
    let npassword = ref("");
    let cpassword = ref("");

    const fetchAccountByEmail = async (email) => {
      try {
        console.log("Fetching account for email:", email);
        const q = query(collection(db, "accounts"), where("email", "==", email));
        const querySnapshot = await getDocs(q);
        const accounts = [];
        querySnapshot.forEach((doc) => {
          accounts.push({ id: doc.id, ...doc.data() });
        });
        console.log("Account by email:", accounts);
        return accounts;
      } catch (error) {
        console.error("Error fetching account by email:", error);
        return [];
      }
    };

    onMounted(async () => {
      const auth = getAuth(firebaseApp);
      const user = auth.currentUser;

      if (user) {
        form.value.name = user.displayName;
        form.value.email = user.email;
        const data = await fetchAccountByEmail(form.value.email);
        AccountDetails.value = data;
        form.value.stNo = AccountDetails.value[0].stNo;
        form.value.program = AccountDetails.value[0].program;
      }
    });

    const onChangePass = async () => {
      try {
        const auth = getAuth(firebaseApp);
        const user = auth.currentUser;
        
        // Reauthenticate user before changing password
        const credential = EmailAuthProvider.credential(
          user.email,
          opassword.value
        );
        await reauthenticateWithCredential(user, credential);
        
        // Update the user's password
        await updatePassword(user, npassword.value);
        
        $q.notify({
          color: "positive",
          position: "top",
          message: "Password updated successfully.",
          icon: "check",
        });
        
        // Clear the password fields after successful update
        opassword.value = "";
        npassword.value = "";
        cpassword.value = "";
      } catch (error) {
        console.error("Error changing password:", error);
        $q.notify({
          color: "negative",
          position: "top",
          message: "Error updating password.",
          icon: "report_problem",
        });
      }
    };

    const onReset = async () => {
      opassword.value = "";
      npassword.value = "";
      cpassword.value = "";
    }

    return {
      form,
      opassword,
      npassword,
      cpassword,
      isoPwd: ref(true),
      isPwd: ref(true),
      iscPwd: ref(true),
      onChangePass,
      onReset
    };
  },
  computed: {
    passwordsMatch() {
      return this.form.password === this.form.cpassword;
    },
    showMismatchError() {
      return this.form.password && this.form.cpassword && !this.passwordsMatch;
    },
    showEmailError() {
      return this.form.email && !this.isValidEmail;
    },
    isValidEmail() {
      const validDomains = ["pup.edu.ph", "iskolarngbayan.pup.edu.ph"];
      const domain = this.form.email.split("@")[1];
      return validDomains.includes(domain);
    },
  },
  methods: {
    validateEmail() {
      this.form.email = this.form.email.trim(); // Trim leading/trailing spaces
    },
  },
};
</script>

<style>
.settings-student{
  .q-field--auto-height.q-field--labeled .q-field__control-container {
  padding: 0% !important;
}

.q-field--outlined.q-field--readonly .q-field__control:before {
  border-style: solid;
}

.q-field--with-bottom {
  padding: 0% !important;
}
}

</style>
