<template>
  <div class="tracking-student">
    <div class="q-pa-lg q-gutter-x-md row">
      <div class="col-lg-5 col-md-12">
        <q-card class="bg-white q-pa-lg col" no-scroll flat>
          <div class="text-body1 text-weight-bold text-primary q-mb-sm q-mt-lg">
            Tracking Status
          </div>
          <hr class="q-mb-lg" />
          <q-timeline :layout="'comfortable'" class="q-pr-xl">
            <q-timeline-entry
              :name="5"
              :color="trStep === 5 ? 'orange' : 'primary'"
              :icon="
                trStep === 5 ? 'history_edu' : trStep > 5 ? 'done_all' : null
              "
            >
              <template v-slot:title>
                Step 5 : Return Retrieved MoA, Signed by HTE and Notarized
              </template>
              <template v-slot:subtitle
                >{{ trstep5Datestamp }} <br />
                {{ trstep5Timestamp }}
              </template>
            </q-timeline-entry>

            <q-timeline-entry
              :name="4"
              :color="trStep === 4 ? 'orange' : trStep > 4 ? 'grey' : 'primary'"
              :icon="trStep === 4 ? 'history_edu' : trStep > 4 ? 'check' : null"
            >
              <template v-slot:title>
                Step 4 : Ready for retrieval of MoA at PUP Institute of
                Technology for signature of HTE
              </template>
              <template v-slot:subtitle
                >{{ trstep4Datestamp }} <br />
                {{ trstep4Timestamp }}
              </template>
            </q-timeline-entry>

            <q-timeline-entry
              :name="3"
              :color="trStep === 3 ? 'orange' : trStep > 3 ? 'grey' : 'primary'"
              :icon="trStep === 3 ? 'history_edu' : trStep > 3 ? 'check' : null"
            >
              <template v-slot:title>
                Step 3 : Approval of ULCO and Signature of VPAA and Dean
              </template>
              <template v-slot:subtitle
                >{{ trstep3Datestamp }} <br />
                {{ trstep3Timestamp }}
              </template>
            </q-timeline-entry>

            <q-timeline-entry
              :name="2.0"
              :color="
                trStep === 2.0 ? 'orange' : trStep > 2.0 ? 'grey' : 'primary'
              "
              :icon="
                trStep === 2.0 ? 'history_edu' : trStep > 2.0 ? 'check' : null
              "
            >
              <template v-slot:title>
                Step 2 : Review and Approval of OJT Coordinator
              </template>
              <template v-slot:subtitle
                >{{ trstep2Datestamp }} <br />
                {{ trstep2Timestamp }}
              </template>
            </q-timeline-entry>

            <q-timeline-entry
              :name="1"
              :color="trStep === 1 ? 'orange' : trStep > 1 ? 'grey' : 'primary'"
              :icon="trStep === 1 ? 'history_edu' : 'upload_file'"
            >
              <template v-slot:title>
                Step 1 : Generate Memorandum of Agreement for New HTE
              </template>
              <template v-slot:subtitle
                >{{ trstep1Datestamp }} <br />
                {{ trstep1Timestamp }}
              </template>
            </q-timeline-entry>
          </q-timeline>
        </q-card>
      </div>

      <div class="col-lg-6 col-md-12">
        <q-card class="bg-white q-pa-lg col-6" no-scroll flat>
          <div class="flex justify-between">
            <div class="text-body1 text-weight-bold text-primary q-mb-xs">
              Step {{ trStep }}:<br />{{ getStepTitle(trStep) }}
            </div>
            <div
              class="text-body2 text-weight-bold text-primary text-right q-my-xs"
            >
              Transaction Number:<br />{{ trNo }}
            </div>
          </div>
          <hr />
          <div class="row q-py-md">
            <div class="col text-body2 text-weight-bold">
              {{ trsignatoryName }}<br />
              {{ trsignatoryPosition }}<br /><br />

              {{ trhtePhone }}<br />
              {{ trhteEmail }}<br /><br />

              {{ trhteName }}<br />
              {{ trstreet }} {{ trbarangay }}, {{ trcity }},<br />
              {{ trprovince }}
            </div>
            <div class="col text-body2 text-weight-bold">
              {{ student.name }}<br />
              {{ student.stNo }}<br /><br />

              {{ student.email }}<br /><br />

              {{ student.program }}
            </div>
          </div>
        </q-card>
        <q-card class="bg-white q-pa-lg q-mt-lg" no-scroll flat>
          <div class="text-body1 text-weight-bold text-primary q-mb-xs q-mt-md">
            Task for Current Step
          </div>
          <hr />
          <q-tab-panels
            v-model="steptask"
            animated
            class="shadow-2 rounded-borders"
          >
            <q-tab-panel
              :name="2.0"
              class="q-px-none vertical-middle text-center"
            >
              <!--Q-Table: Multiple Selection-->
              <q-icon
                name="history_edu"
                class="text-h3 text-primary q-pt-xl q-pb-md"
              />
              <div class="text-body2 text-weight-bold q-pb-xl">
                Kindly wait for the Approval of OJT Coordinator.<br />
                Thank you!
              </div>
            </q-tab-panel>

            <q-tab-panel
              :name="3"
              class="q-px-none vertical-middle text-center"
            >
              <!--Q-Table: Multiple Selection-->
              <q-icon
                name="task"
                class="text-h3 text-primary q-pt-xl q-pb-md"
              />
              <div class="text-body2 text-weight-bold q-pb-xl">
                Kindly wait for the Approval of ULCO and<br />
                Signature of the VPAA and Dean. Thank you!
              </div>
            </q-tab-panel>

            <q-tab-panel
              :name="4"
              class="q-px-none vertical-middle text-center"
            >
              <q-icon
                name="outbox"
                class="text-h3 text-primary q-pt-xl q-pb-md"
              />
              <div class="text-body2 text-weight-bold">
                The MoA is now prepared for retrieval at the PUP Institute of
                Technology.<br />This step involves retrieving the document for
                signature by the authorized representative from the Host
                Training Establishment (HTE).
              </div>
              <q-btn
                label="MoA Retrieved"
                color="primary"
                class="q-mt-lg q-mb-xl"
                @click="onRetrieved"
              />
            </q-tab-panel>

            <q-tab-panel :name="5" class="q-px-none vertical-middle">
              <div class="text-body2 text-weight-bold q-mb-md">
                As the final step, return the completed Memorandum of Agreement
                (MoA). Ensure the MoA is signed by the authorized representative
                of the HTE and properly notarized by a public notary. Once
                complete, upload the signed and notarized MoA for record-keeping
                purposes.
              </div>
              <q-form>
                <label class="text-weight-medium">Date Notarized</label>
                <q-input
                  readonly
                  dense
                  outlined
                  v-model="moa.notaryDate"
                  :rules="[(val) => !!val || '']"
                >
                  <template v-slot:append>
                    <q-icon name="event" class="cursor-pointer">
                      <q-popup-proxy
                        transition-show="scale"
                        transition-hide="scale"
                      >
                        <q-date v-model="moa.notaryDate" mask="MMMM D, YYYY">
                          <div class="row items-center justify-end">
                            <q-btn
                              v-close-popup
                              label="Close"
                              color="primary"
                              flat
                            ></q-btn>
                          </div>
                        </q-date>
                      </q-popup-proxy>
                    </q-icon>
                  </template>
                </q-input>
                <label class="text-weight-medium">Validity</label>
                <div class="row q-gutter-x-sm">
                  <q-input
                    dense
                    outlined
                    type="number"
                    v-model.number="moa.validitycount"
                    :rules="[(val) => !!val || '']"
                    placeholder="Enter validity"
                    class="col"
                  />
                  <q-select
                    dense
                    outlined
                    type="number"
                    v-model="moa.validitydate"
                    :options="['days', 'weeks', 'months', 'years']"
                    :rules="[(val) => !!val || '']"
                    placeholder="Enter validity"
                    class="col"
                  />
                </div>

                <label class="text-weight-medium">Upload moa</label>
                <q-file
                  outlined
                  dense
                  v-model="moa.hteMoa"
                  accept=".pdf"
                  :rules="[(val) => !!val || '']"
                >
                  <template v-slot:prepend>
                    <q-icon name="attach_file" />
                  </template>
                </q-file>

                <div class="q-mt-md q-mb-xl text-right">
                  <q-btn
                    label="Reset"
                    type="reset"
                    color="primary"
                    flat
                    class="q-ml-sm"
                  />
                  <q-btn
                    label="Submit"
                    type="submit"
                    @click="onSubmitNotarized"
                    color="primary"
                  />
                </div>
              </q-form>
            </q-tab-panel>

            <q-tab-panel
              :name="6"
              class="q-px-none vertical-middle text-center"
            >
              <q-icon
                name="done_all"
                class="text-h3 text-primary q-pt-xl q-pb-md"
              />
              <div class="text-body2 text-weight-bold q-pb-xl">
                <span class="text-primary">The process is now complete!</span
                ><br /><br />
                The Memorandum of Agreement (MoA), signed by the authorized<br />
                HTE representative and notarized, has been successfully
                uploaded<br />
                to the database for our records.
              </div>
            </q-tab-panel>
          </q-tab-panels>
        </q-card>
      </div>
    </div>
  </div>
</template>

<script>
import { useRoute, useRouter } from "vue-router";
import { ref, onMounted, computed } from "vue";
import { useQuasar } from "quasar";
import { date } from "quasar";
import { initializeApp } from "firebase/app";
import { getAuth } from "firebase/auth"; // Import EmailAuthProvider
import {
  getFirestore,
  query,
  collection,
  where,
  getDocs,
  doc,
  updateDoc,
  addDoc,
} from "firebase/firestore";
import {
  getStorage,
  ref as storageRef,
  uploadBytes,
  getDownloadURL,
  deleteObject,
} from "firebase/storage";

// Your Firebase configuration object
const firebaseConfig = {
  apiKey: "AIzaSyCaLXiK7TyxB2_cp68_SxUDj7KxOy2XZAk",
  authDomain: "maymoapo-815ee.firebaseapp.com",
  projectId: "maymoapo-815ee",
  storageBucket: "maymoapo-815ee.appspot.com",
  messagingSenderId: "992963522084",
  appId: "1:992963522084:web:f79e171bfb56a05359f2b1",
};

// Initialize Firebase
const firebaseApp = initializeApp(firebaseConfig);
const db = getFirestore(firebaseApp); // Initialize Cloud Firestore
const storage = getStorage(firebaseApp);

export default {
  setup() {
    const $q = useQuasar();
    const timeString = Date.now();
    const dateStamp = date.formatDate(timeString, "DD MMMM, YYYY");
    const timeStamp = date.formatDate(timeString, "h:mm A");
    const MoaTransactionDetails = ref([]);
    const AccountDetails = ref([]);
    const router = useRouter();
    const route = useRoute();
    const trStep = ref(2.0);
    const trstep1Timestamp = ref(null);
    const trstep1Datestamp = ref(null);
    const trstep2Timestamp = ref(null);
    const trstep2Datestamp = ref(null);
    const trstep3Timestamp = ref(null);
    const trstep3Datestamp = ref(null);
    const trstep4Timestamp = ref(null);
    const trstep4Datestamp = ref(null);
    const trstep5Timestamp = ref(null);
    const trstep5Datestamp = ref(null);
    const steptask = computed(() => trStep.value);
    const trID = ref(null);
    const trsignatoryName = ref(null);
    const trsignatoryPosition = ref(null);
    const trhteName = ref(null);
    const trhteClass = ref(null);
    const trprogram = ref(null);
    const trhteEmail = ref(null);
    const trhtePhone = ref(null);
    const trprovince = ref(null);
    const trbarangay = ref(null);
    const trcity = ref(null);
    const trstreet = ref(null);
    const trnotaryDate = ref(null);
    const trvalidity = ref(null);
    const trhteDti = ref(null);
    const trhteMoa = ref(null);
    const trhteSec = ref(null);
    const document = null;
    let MoaDocumentDetails = ref([]);
    let moaCount =  ref();
    let moa = ref({
      notaryDate: null,
      validitydate: null,
      validitycount: null,
      hteMoa: null,
    });
    let student = ref({
      id: null,
      name: "",
      stNo: null,
      email: "",
      program: "",
    });

    const trNo = ref(route.query.trNo);

    function getStepTitle(trStep) {
      switch (trStep) {
        case 1:
          return "Generate Memorandum of Agreement for New HTE";
        case 2.0:
          return "Review and Approval of OJT Coordinator";
        case 3:
          return "Approval of ULCO and Signature of VPAA and Dean";
        case 4:
          return "Ready for retrieval of MoA at PUP ITech";
        case 5:
          return "Return Retrieved MoA, Signed by HTE and Notarized";
        case 6:
          return "New MoA uploaded to the database";
        default:
          return "";
      }
    }

    const fetchAllFiles = async () => {
      try {
        const q = query(collection(db, "files"));
        const querySnapshot = await getDocs(q);
        const files = [];
        querySnapshot.forEach((doc) => {
          files.push({ id: doc.id, ...doc.data() });
        });
        return files;
      } catch (error) {
        console.error("Error fetching Transaction:", error);
        return [];
      }
    };

    const fetchMoa = async () => {
      try {
        if (!trNo.value) {
          console.error("Error: trNo.value is undefined or null.");
          return;
        }

        const q = query(
          collection(db, "transactions"),
          where("trNo", "==", trNo.value)
        );
        const querySnapshot = await getDocs(q);

        if (!querySnapshot.empty) {
          const transaction = querySnapshot.docs[0].data();
          trID.value = querySnapshot.docs[0].id;
          trStep.value = transaction.trStep;
          trstep1Timestamp.value = transaction.step1Timestamp;
          trstep1Datestamp.value = transaction.step1Datestamp;
          trstep2Timestamp.value = transaction.step2Timestamp;
          trstep2Datestamp.value = transaction.step2Datestamp;
          trstep3Timestamp.value = transaction.step3Timestamp;
          trstep3Datestamp.value = transaction.step3Datestamp;
          trstep4Timestamp.value = transaction.step4Timestamp;
          trstep4Datestamp.value = transaction.step4Datestamp;
          trstep5Timestamp.value = transaction.step5Timestamp;
          trstep5Datestamp.value = transaction.step5Datestamp;
          trID.value = transaction.id;
          trsignatoryName.value = transaction.signatoryName;
          trsignatoryPosition.value = transaction.signatoryPosition;
          trhteName.value = transaction.hteName;
          trhteClass.value = transaction.hteClass;
          trprogram.value = transaction.program;
          trhteEmail.value = transaction.hteEmail;
          trhtePhone.value = transaction.htePhone;
          trprovince.value = transaction.province;
          trbarangay.value = transaction.barangay;
          trcity.value = transaction.city;
          trstreet.value = transaction.street;
          trnotaryDate.value = transaction.notaryDate;
          trvalidity.value = transaction.validity;
          trhteDti.value = transaction.hteDti;
          trhteMoa.value = transaction.hteMoa;
          trhteSec.value = transaction.hteSec;
        } else {
          console.log("No such document!");
        }

        const data = await fetchAllFiles();
        MoaDocumentDetails.value = data;
        
        moaCount.value = MoaDocumentDetails.value.length + 1;
      } catch (error) {
        console.error("Error fetching MoA documents:", error);
      }
    };

    // Call fetchMoa when component is mounted
    onMounted(async () => {
      fetchMoa();

      const auth = getAuth(firebaseApp);
      const user = auth.currentUser;

      if (user) {
        student.value.name = user.displayName;
        student.value.email = user.email;
        const data = await fetchAccountByEmail(student.value.email);
        AccountDetails.value = data;
        student.value.stNo = AccountDetails.value[0].stNo;
        student.value.program = AccountDetails.value[0].program;
      }
    });

    const fetchAccountByEmail = async (email) => {
      try {
        console.log("Fetching account for email:", email);
        const q = query(
          collection(db, "accounts"),
          where("email", "==", email)
        );
        const querySnapshot = await getDocs(q);
        const accounts = [];
        querySnapshot.forEach((doc) => {
          accounts.push({ id: doc.id, ...doc.data() });
        });
        console.log("Account by email:", accounts);
        return accounts;
      } catch (error) {
        console.error("Error fetching account by email:", error);
        return [];
      }
    };

    const onRetrieved = async () => {
      // Fetch the document using trNo
      const q = query(
        collection(db, "transactions"),
        where("trNo", "==", route.query.trNo)
      );
      const querySnapshot = await getDocs(q);

      if (!querySnapshot.empty) {
        const docRef = doc(db, "transactions", querySnapshot.docs[0].id);
        await updateDoc(docRef, {
          trStep: 5,
          stepTitle: "Return Retrieved MoA, Signed by HTE and Notarized",
          notifStatus: true,
          updateSteptime: timeStamp,
          updateStepdate: dateStamp,
          step4Timestamp: timeStamp,
          step4Datestamp: dateStamp,
        });

        router.push({
          path: "track-moa",
          query: {
            trNo: trNo.value,
          },
        });

        fetchMoa();
      }
    };

    // Function to upload a file to Firebase Storage and get its download URL
    const uploadFile = async (file, folder, customName) => {
      const fileRef = storageRef(storage, `${folder}/${customName}`);
      const snapshot = await uploadBytes(fileRef, file); // Upload the file
      const downloadURL = await getDownloadURL(snapshot.ref); // Get the file's download URL
      return downloadURL; // Return the download URL
    };

    const deleteFile = async (filePath) => {
      const fileRef = storageRef(storage, filePath);
      try {
        await deleteObject(fileRef);
        console.log("File deleted successfully");
      } catch (error) {
        console.error("Error deleting file:", error);
      }
    };

    // Function to extract filename from URL
    const getFileName = (url) => {
      if (!url) return "";
      const decodedUrl = decodeURIComponent(url); // Decode URL component
      const match = decodedUrl.match(/\/([^\/?#]+)[^\/]*$/); // Regex to match filename
      if (match) {
        return match[1]; // Return the matched filename
      } else {
        return ""; // Return empty string if no match found
      }
    };
    // Computed properties for file names
    const hteMoaFileName = computed(() => getFileName(moa.value.hteMoa));

    const onSubmitNotarized = async () => {
      try {
        // Fetch the document using trNo
        const q = query(
          collection(db, "transactions"),
          where("trNo", "==", route.query.trNo)
        );
        const querySnapshot = await getDocs(q);

        if (!querySnapshot.empty) {
          const docRef = doc(db, "transactions", querySnapshot.docs[0].id);

          // Upload the new MoA file and get its URL with custom name
          if (moa.value.hteMoa) {
            const customMoaName = `Memorandum of Agreement_${trhteName.value}.pdf`;
            const newMoaUrl = await uploadFile(
              moa.value.hteMoa,
              "moa",
              customMoaName
            );

            // Update the Firestore document with the new MoA URL
            await updateDoc(docRef, {
              trStep: 6,
              stepTitle: "New MoA uploaded to the database",
              updateSteptime: timeStamp,
              updateStepdate: dateStamp,
              step5Timestamp: timeStamp,
              step5Datestamp: dateStamp,
              notaryDate: moa.value.notaryDate,
              validity: `${moa.value.validitycount} ${moa.value.validitydate}`,
              hteMoa: newMoaUrl,
            });

            //deleteFile(trhteMoa.value);

            let details = {
              id: moaCount.value,
              hteName: trhteName.value,
              signatoryName: trsignatoryName.value,
              hteEmail: trhteEmail.value,
              province: trprovince.value,
              barangay: trbarangay.value,
              city: trcity.value,
              street: trstreet.value,
              notaryDate: trnotaryDate.value,
              hteMoa: newMoaUrl,
              validity: `${moa.value.validitycount} ${moa.value.validitydate}`,
            };

            await addDoc(
              collection(db, "files"),
              details
            );

            // Notify the user of success
            $q.notify({
              message: "Notarized MoA uploaded successfully!",
              caption: `Transaction ${route.query.trNo} has been updated.`,
              position: "top",
              type: "positive",
            });

            // Redirect the user to the tracking page
            router.push({
              path: "track-moa",
              query: {
                trNo: route.query.trNo,
              },
            });

            // Fetch the updated MoA
            fetchMoa();
          } else {
            // Notify the user to upload the MoA
            $q.notify({
              message: "Please upload the notarized MoA!",
              position: "top",
              type: "negative",
              timeout: 5000,
            });
          }
        } else {
          // Notify the user if the transaction is not found
          $q.notify({
            message: "Transaction not found!",
            position: "top",
            type: "negative",
            timeout: 5000,
          });
        }
      } catch (error) {
        console.error("Error updating notarized MoA:", error);
        $q.notify({
          message: "An error occurred while updating the notarized MoA.",
          position: "top",
          type: "negative",
          timeout: 5000,
        });
      }
    };

    return {
      onRetrieved,
      onSubmitNotarized,

      trStep,
      trstep1Timestamp,
      trstep1Datestamp,
      trstep2Timestamp,
      trstep2Datestamp,
      trstep3Timestamp,
      trstep3Datestamp,
      trstep4Timestamp,
      trstep4Datestamp,
      trstep5Timestamp,
      trstep5Datestamp,
      MoaTransactionDetails,
      getStepTitle,
      moa,
      filter: ref(""),
      panel: ref("all"),
      steptask,
      document,
      trNo,
      trsignatoryName,
      trsignatoryPosition,
      trhteName,
      trhteClass,
      trprogram,
      trhteEmail,
      trhtePhone,
      trprovince,
      trbarangay,
      trcity,
      trstreet,
      trnotaryDate,
      trvalidity,
      student,
    };
  },
};
</script>

<style>
.tracking-student {
  .q-timeline h6 {
    font-size: large;
  }
  .q-timeline__entry--icon .q-timeline__dot:before {
    height: 25px;
    width: 25px;
  }
  .q-timeline__dot:before {
    top: 7px;
    left: 3px;
  }
  .q-field--outlined.q-field--readonly .q-field__control:before {
    border-style: solid;
  }
}
</style>
