<template>
  <div class="forgot-pw">
  <div
    class=" row items-center q-pa-xl fullscreen bg-image"
    style="height: 100vh; overflow: hidden"
  >
    <div class="col-xs-0 col-sm-0 col-md-6 col-lg-8"></div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
      <q-card class="bg-white-card q-pa-xl">
        <div
          class="text-primary text-h6 text-center text-weight-medium q-pb-md q-pt-lg"
        >
          Reset Password
        </div>

        <label class="text-weight-medium">Webmail Address</label>
        <q-input
          dense
          outlined
          :rules="[(val) => !!val || '']"
          v-model="form.email"
          class="q-mb-sm"
          placeholder="Enter webmail address"
          hide-bottom-space
        />

        <div class="row">
          <q-btn
            label="Send link"
            no-caps
            @click="onSend()"
            class="bg-primary text-white q-mt-lg col"
          />
        </div>
        <div class="row">
          <q-btn
            no-caps
            flat
            :to="{ path: '/login' }"
            label="Back"
            class="text-primary q-mb-md q-mt-sm col"
          />
        </div>
      </q-card>
    </div>
  </div>
  </div>
</template>

<script src="./Scripts/ForgotPassPage.js" />

<style>
.forgot-pw {
  .bg-white-card {
    background-color: #ffffff; /* White background with slight transparency */
    padding-top: 3%;
    position: relative;
    z-index: 1; /* Ensure it is above the background image */
  }
  .bg-image {
    background-image: url("../css/bg-mesh.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .bg-image::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("https://www.pup.edu.ph/about/images/PUPLogo.png");
    background-repeat: no-repeat;
    background-size: 70%; /* Zoom in the background image */
    background-position: left; /* Align horizontally at 10% and center vertically */
    opacity: 0.2;
  }
}
</style>
