<template>
    <div class="">
        <!--Section 1-->
        <q-card flat bordered>
            <q-card-section>
                <div class="text-h6">IMBANG, MARIE AVILAINE VILLASOTO (2021-02849-MN-0)</div>
            </q-card-section>
            <q-separator inset />
            <q-card-section>
                <q-splitter
                v-model="splitterModel"
                style="height: 200px"
                >
                <template v-slot:before>
                    <q-tabs
                    v-model="tab"
                    vertical
                    class="moa-text-primary"
                    >
                    <q-tab name="inbox" label="Inbox" />
                    <q-separator inset />
                    <q-tab name="alarms" label="Alarms" />
                    <q-separator inset />
                    <q-tab name="movies" label="Movies" />
                    </q-tabs>
                </template>

                <template v-slot:after>
                    <q-tab-panels
                    v-model="tab"
                    animated
                    swipeable
                    vertical
                    transition-prev="jump-down"
                    transition-next="jump-up"
                    >
                    <q-tab-panel name="inbox">
                        <div class="text-h4 q-mb-md">Inbox</div>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                            Quis praesentium cumque magnam odio iure quidem, 
                            quod illum numquam possimus obcaecati commodi minima 
                            assumenda consectetur culpa fuga nulla ullam. In, libero.</p>
                    </q-tab-panel>

                    <q-tab-panel name="alarms">
                        <div class="text-h4 q-mb-md">Alarms</div>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis praesentium cumque magnam odio iure quidem, quod illum numquam possimus obcaecati commodi minima assumenda consectetur culpa fuga nulla ullam. In, libero.</p>
                    </q-tab-panel>

                    <q-tab-panel name="movies">
                        <div class="text-h4 q-mb-md">Movies</div>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis praesentium cumque magnam odio iure quidem, quod illum numquam possimus obcaecati commodi minima assumenda consectetur culpa fuga nulla ullam. In, libero.</p>
                    </q-tab-panel>
                    </q-tab-panels>
                </template>

                </q-splitter>
            </q-card-section>
        </q-card>
        <!--Status Banner-->
        <q-banner inline-actions class="text-white bg-green q-my-md shadow-1">
        Your Memorandum of Agreement is ready for retrival.
        </q-banner>
        <!--Section 3-->
        <q-card flat bordered>
            <q-card-section>
                <div class="text-h6">Track MoA</div>
            </q-card-section>
            <q-separator inset />
            <q-card-section >
                <q-timeline  :layout="layout" :side="side" color="secondary">


                    <q-timeline-entry
                        title="Event Title"
                        subtitle="February 22, 1986"
                    >
                        <div class="q-pb-sm">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. 
                        </div>
                    </q-timeline-entry>

                    <q-timeline-entry
                        title="Event Title"
                        subtitle="February 22, 1986"
                        color="orange"
                        icon="done_all"
                    >
                        <div class="q-pb-sm">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. 
                        </div>
                        <q-btn no-shadow color="primary" label="Download"/>
                        <q-btn flat dense round color="primary" icon="info" @click="fixed = true"/>
                    </q-timeline-entry>

                    <q-timeline-entry
                        title="Event Title"
                        subtitle="February 22, 1986"
                    >
                        <div class="q-pb-sm">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. 
                        </div>
                    </q-timeline-entry>

                    <q-timeline-entry
                        title="Event Title"
                        subtitle="February 22, 1986"
                    >
                        <div class="q-pb-sm">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. 
                        </div>
                    </q-timeline-entry>
                </q-timeline>
            </q-card-section>
        </q-card>
        <q-dialog v-model="fixed">
            <q-card>
                <q-card-section>
                <div class="text-h6">Terms of Agreement</div>
                </q-card-section>

                <q-separator></q-separator>

                <q-card-section style="max-height: 50vh" class="scroll">
                <p v-for="n in 15" :key="n">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum repellendus sit voluptate voluptas eveniet porro. Rerum blanditiis perferendis totam, ea at omnis vel numquam exercitationem aut, natus minima, porro labore.</p>
                </q-card-section>

                <q-separator></q-separator>

                <q-card-actions align="right">
                <q-btn flat label="Decline" color="primary" v-close-popup></q-btn>
                <q-btn flat label="Accept" color="primary" v-close-popup></q-btn>
                </q-card-actions>
            </q-card>
        </q-dialog>
    </div>
</template>
<script>
import { ref } from 'vue'

export default {
  setup () {
    return {
      tab: ref('inbox'),
      splitterModel: ref(20),
      layout: ref('comfortable'),
      side: ref('right'),
      fixed: ref(false)
    }
  }
}
</script>