<template>
  <q-page class="flex flex-center">
    <img
      alt="PUP ITECH - MoA Processing System"
      src="https://www.pup.edu.ph/about/images/PUPLogo.png"
      style="width: 200px; height: 200px"
    >
  </q-page>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'IndexPage'
})
</script>
