<template>
  <div class="login">
    <div class="row items-center fullscreen bg-image window-height">
      <div class="col-xs-0 col-sm-0 col-md-7 col-lg-7"></div>
      <q-card class="col-xs-12 col-sm-12 col-md-4 col-lg-4 flex items-center">
        <div class="col text-center q-pa-xl">
          <img
            src="https://www.pup.edu.ph/about/images/PUPLogo.png"
            alt="PUP"
            style="height: 20%; width: 20%; text-align: center"
          />
          <div class="text-primary text-h4 text-weight-bold q-pt-sm">
            MAYMOAPO
          </div>
          <div class="text-grey q-pb-xl">
            Memorandum of Agreement Processing System
          </div>

          <q-form class="text-left" @submit.prevent="onSignIn">
            <label class="text-weight-medium">Webmail Address</label>
            <q-input
              dense
              outlined
              v-model="form.email"
              class="q-mb-sm"
              placeholder="Enter webmail address"
              @keyup.enter="onSignIn"
            />

            <label class="text-weight-medium">Password</label>
            <q-input
              dense
              outlined
              v-model="form.password"
              :type="isPwd ? 'password' : 'text'"
              class="q-mb-sm"
              placeholder="Enter password"
              @keyup.enter="onSignIn"
            >
              <template v-slot:append>
                <q-icon
                  :name="isPwd ? 'visibility_off' : 'visibility'"
                  class="cursor-pointer"
                  @click="isPwd = !isPwd"
                />
              </template>
            </q-input>
            
            <div class="flex justify-end">
              <q-btn
                flat
                no-caps
                padding="none"
                :to="{ path: '/forgot-password' }"
                class="text-primary text-weight-medium text-underline"
                label="Forgot password?"
              />
            </div>

            <div class="row">
              <q-btn
                no-caps
                label="Sign-In"
                @click="onSignIn"
                class="bg-primary text-white q-mb-md q-mt-sm col"
              />
            </div>

            <hr class="q-mb-md" />
            <div class="text-center q-mb-xl">
              Don't have an account?
              <q-btn
                flat
                no-caps
                padding="none"
                :to="{ path: '/registration' }"
                class="text-primary text-weight-medium text-underline"
                label="Registration"
              />
            </div>
          </q-form>
        </div>
      </q-card>
    </div>
  </div>
</template>

<script src="./Scripts/LoginPage.js" />

<style lang="scss">
.login {
  .text-underline {
    text-decoration: underline;
  }

  .bg-white {
    background-color: #ffffff; /* White background with slight transparency */
    padding-top: 3%;
    position: relative;
    z-index: 1; /* Ensure it is above the background image */
  }

  .window-height {
    background-color: #ffffff; /* White background with slight transparency */
    padding-top: 3%;
    position: relative;
    z-index: 1; /* Ensure it is above the background image */
  }
  .bg-image {
    background-image: url("../css/bg-mesh.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .bg-image::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("https://www.pup.edu.ph/about/images/PUPLogo.png");
    background-repeat: no-repeat;
    background-size: 70%; /* Zoom in the background image */
    background-position: left; /* Align horizontally at 10% and center vertically */
    opacity: 0.2;
  }
}
</style>
