<template>
  <div class="registration">
    <div class="row items-center fullscreen bg-image">
      <div class="col-xs-0 col-sm-6 col-md-6 col-lg-8"></div>
      <div
        class="col-xs-12 col-sm-12 col-md-6 col-lg-4 q-pa-xl window-height flex items-center"
      >
        <div class="col text-center">
          <img
            src="https://www.pup.edu.ph/about/images/PUPLogo.png"
            alt="PUP"
            style="height: 20%; width: 20%; text-align: center"
          />
          <div
            class="text-center text-primary text-h4 text-weight-bold q-pt-sm"
          >
            MAYMOAPO
          </div>
          <div class="text-center text-grey q-pb-xl">
            Memorandum of Agreement Processing System
          </div>

          <q-form class="text-left">
            <label class="text-weight-medium">Complete Name</label>
            <q-input
              dense
              outlined
              v-model="form.name"
              :rules="[(val) => !!val || '']"
              class="q-mb-sm"
              @input="validateEmail"
              placeholder="Enter complete name"
            />

            <label class="text-weight-medium">Webmail Address</label>
            <q-input
              dense
              outlined
              v-model="form.email"
              type="email"
              :rules="[(val) => !!val || '']"
              class="q-mb-sm"
              @input="validateEmail"
              placeholder="Enter webmail address"
            />
            <div v-if="showEmailError" class="text-red text-caption q-mt-sm">
              Please enter a valid PUP webmail address.
            </div>

            <label v-if="showRole" class="text-weight-medium">Role</label>
            <q-select
              v-if="showRole"
              dense
              outlined
              v-model="form.role"
              :rules="[(val) => !!val || '']"
              :options="['OJT Coordinator']"
              class="q-mb-sm"
              label="Select role"
            />

            <label v-if="showProgram" class="text-weight-medium"
              >Student Number</label
            >
            <q-input
              v-if="showProgram"
              dense
              outlined
              v-model="form.stNo"
              :rules="[(val) => !!val || '']"
              mask="####-#####-AA-#"
              class="q-mb-sm"
              placeholder="Enter student number"
            />

            <label v-if="showProgram" class="text-weight-medium">Program</label>
            <q-select
              v-if="showProgram"
              dense
              outlined
              :rules="[(val) => !!val || '']"
              v-model="form.program"
              :options="[
                'Diploma in Civil Engineering Technology',
                'Diploma in Computer Engineering Technology',
                'Diploma in Electrical Engineering Technology',
                'Diploma in Electronics Engineering Technology',
                'Diploma in Information Communication Technology',
                'Diploma in Mechanical Engineering Technology',
                'Diploma in Office Management Technology',
                'Diploma in Railway Engineering Technology',
              ]"
              class="q-mb-sm"
              label="Select program"
            />

            <label class="text-weight-medium">Password</label>
            <q-input
              dense
              outlined
              v-model="password"
              :type="isPwd ? 'password' : 'text'"
              class="q-mb-sm"
              placeholder="Enter password"
              :rules="[
                (val) => !!val || '',
                (val) => {
                  this.showPasswordError = !(val && val.length >= 6);
                  return (val && val.length >= 6) || '';
                },
              ]"
            >
              <template v-slot:append>
                <q-icon
                  :name="isPwd ? 'visibility_off' : 'visibility'"
                  class="cursor-pointer"
                  @click="isPwd = !isPwd"
                />
              </template>
            </q-input>
            <div v-if="showPasswordError" class="text-red text-caption q-mt-sm">
              Password must be at least 6 characters long
            </div>

            <label class="text-weight-medium">Confirm Password</label>
            <q-input
              dense
              outlined
              v-model="cpassword"
              :rules="[(val) => !!val || '']"
              :type="iscPwd ? 'password' : 'text'"
              class="q-mb-sm"
              placeholder="Enter confirm password"
            >
              <template v-slot:append>
                <q-icon
                  :name="iscPwd ? 'visibility_off' : 'visibility'"
                  class="cursor-pointer"
                  @click="iscPwd = !iscPwd"
                />
              </template>
            </q-input>

            <div v-if="showMismatchError" class="text-red text-caption q-mt-sm">
              Passwords do not match
            </div>

            <q-checkbox
              :rules="[(val) => !!val || '']"
              v-model="form.terms"
              label="I agree to the"
              class="q-ma-none q-mr-xs"
              @click="termsPrompt = true"
            />
            <q-btn
              flat
              no-caps
              padding="none"
              class="text-primary text-weight-medium text-underline"
              label="Terms and Conditions"
              @click="termsPrompt = true"
            />

            <div class="row">
              <q-btn
                label="Register"
                no-caps
                @click="onSubmit()"
                class="bg-primary text-white q-mt-sm col"
              />
            </div>
            <div class="row">
              <q-btn
                no-caps
                flat
                label="Cancel"
                :to="{ path: '/login' }"
                class="bg-white text-primary q-mb-md q-mt-sm col"
              />
            </div>
          </q-form>

          <hr class="q-mb-md" />
          <div class="text-center">
            Already have an account?
            <q-btn
              flat
              no-caps
              padding="none"
              :to="{ path: '/login' }"
              class="text-primary text-weight-medium text-underline"
              label="Sign In"
            />
          </div>
          <q-dialog v-model="termsPrompt">
            <q-card>
              <q-card-section>
                <div class="text-h6">Terms of Agreement</div>
              </q-card-section>

              <q-separator />

              <q-card-section style="max-height: 50vh" class="scroll">
                <p style="max-width: 70vh">
                  Welcome to <b>MAYMOAPO</b>, a web-based Memorandum of
                  Agreement (MoA) Processing System with a database of existing
                  MoAs created for students at the Polytechnic University of the
                  Philippines (PUP) Institute of Technology in Santa Mesa,
                  Manila, specifically those in the Information Communications
                  Technology department. By accessing or using this system, you
                  agree to the following terms and conditions. <br /><br />

                  <b>1. Acceptance of Terms</b><br />By using MAYMOAPO, you
                  agree to these Terms and Conditions and any other terms that
                  apply to specific areas of the system. If you do not agree, do
                  not use the system. <br /><br />
                  <b>2. User Eligibility</b><br />The Polytechnic University of
                  the Philippines Institute of Technology students, faculty, and
                  authorized personnel are the intended users of this system.
                  Unauthorized access and use are strictly banned. <br /><br />
                  <b>3. User responsibilities</b><br /><br />
                  <b>3.1 Account Security</b><br />Users are responsible for
                  protecting the confidentiality of their login information.
                  Users must immediately notify the system administrator of any
                  unauthorized use of their account. <br /><br />
                  <b>3.2 Accurate information</b><br />When submitting or
                  modifying Memorandums of Agreement, users must supply correct
                  and complete information. Users are responsible for ensuring
                  the accuracy of the information they provide.<br /><br />
                  <b>3.3 Prohibited Activities</b><br />Users shall not use the
                  system for any illegal purposes or in any way that could harm,
                  disable, or impair the system. Users shall not attempt to
                  obtain unauthorized access to any component of the system or
                  its associated networks.<br /><br />
                  <b>4. System Use</b><br /><br />
                  <b>4.1 Access and Availability</b><br />The system is
                  available around the clock, except for scheduled maintenance
                  or unexpected disruptions.<br /><br />
                  <b>4.2 Data Storage and Management</b><br />All submitted MoAs
                  will be saved in the system's database. Users agree to have
                  their data processed and stored in accordance with the
                  university's data protection rules.<br /><br />
                  <b>4.3 Changes to the System</b><br />The university maintains
                  the right to modify or withdraw any aspect of the system
                  without notice. Users will be advised of any substantial
                  changes to the terms and conditions.<br /><br />
                  <b>5. Privacy Policy</b><br /><br />
                  <b>5.1 Data Collection</b><br />To process MoAs, the system
                  collects personal information such as names, student numbers,
                  and email addresses. Usage information may be gathered to
                  enhance system performance and user experience.<br /><br />
                  <b>5.2 Data use</b><br />The collected information will be
                  used strictly for academic and administrative purposes. Data
                  will not be shared with third parties without the user's
                  consent, unless required by law.<br /><br />
                  <b>5.3 Data Security.</b> <br />The institution uses security
                  measures to keep user data safe from unauthorized access.
                  Users are responsible for protecting their login
                  information.<br /><br />
                  <b>6. Intellectual Property</b><br /><br />
                  <b>6.1 Ownership</b> <br />
                  All content and resources in the system are the property of
                  authorized staff. Users must obtain explicit authorization
                  before reproducing, distributing, or creating derivative works
                  from any content.<br /><br />
                  <b>7. Limitation of Liability</b><br />The authorized staff
                  shall not be liable for any indirect, incidental, or
                  consequential damages resulting from the use or failure to
                  utilize the system. - Users undertake to indemnify and hold
                  the university blameless against any claims arising from their
                  use of the system.<br /><br />
                  <b>8. Governing Law</b><br />The Republic of the Philippines'
                  laws control these terms and conditions. Any issues arising
                  from the use of this system will be resolved exclusively by
                  the courts in Manila. <br /><br />
                  <b
                    >By using MAYMOAPO, you confirm that you have read,
                    understood, and agree to be bound by the following terms and
                    conditions.</b
                  >
                </p>
              </q-card-section>

              <q-separator />

              <q-card-actions align="right">
                <q-btn
                  flat
                  label="Decline"
                  color="primary"
                  @click="form.terms = false"
                  v-close-popup
                />
                <q-btn
                  flat
                  label="Accept"
                  color="primary"
                  @click="form.terms = true"
                  v-close-popup
                />
              </q-card-actions>
            </q-card>
          </q-dialog>
        </div>
      </div>
    </div>
  </div>
</template>

<script src="./Scripts/RegistrationPage.js" />

<style>
.registration {
  .q-field--with-bottom {
    padding: 0% !important;
  }

  .text-underline {
    text-decoration: underline;
  }
  .window-height {
    background-color: #ffffff; /* White background with slight transparency */
    padding-top: 3%;
    position: relative;
    z-index: 1; /* Ensure it is above the background image */
  }
  .bg-image {
    background-image: url("../css/bg-mesh.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .bg-image::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("https://www.pup.edu.ph/about/images/PUPLogo.png");
    background-repeat: no-repeat;
    background-size: 70%; /* Zoom in the background image */
    background-position: left; /* Align horizontally at 10% and center vertically */
    opacity: 0.2;
  }
}
</style>
