<template>
    <div class="terms-admin q-pa-lg">
      <q-scroll-area style="height: 88vh;" class="bg-white q-pa-lg scroll" flat>
        <h5 class="text-primary text-bold q-ma-none q-pb-md">Terms and Agreement</h5>
        <p style="max-width: 70vh">
              Welcome to <b>MAYMOAPO</b>, a web-based Memorandum of Agreement (MoA)
              Processing System with a database of existing MoAs created for
              students at the Polytechnic University of the Philippines (PUP)
              Institute of Technology in Santa Mesa, Manila, specifically those
              in the Information Communications Technology department. By
              accessing or using this system, you agree to the following terms
              and conditions. <br/><br/>
              
              <b>1. Acceptance of Terms</b><br/>By using MAYMOAPO, you
              agree to these Terms and Conditions and any other terms that apply
              to specific areas of the system. If you do not agree, do not use
              the system. <br/><br/>
              <b>2. User Eligibility</b><br/>The Polytechnic University of the
              Philippines Institute of Technology students, faculty, and
              authorized personnel are the intended users of this system.
              Unauthorized access and use are strictly banned. <br/><br/>
              <b>3. User responsibilities</b><br/><br/>
              <b>3.1 Account Security</b><br/>Users are responsible for
              protecting the confidentiality of their login information. Users
              must immediately notify the system administrator of any
              unauthorized use of their account. <br/><br/>
              <b>3.2 Accurate information</b><br/>When submitting or modifying Memorandums of Agreement, users must
              supply correct and complete information. Users are responsible
              for ensuring the accuracy of the information they provide.<br/><br/>
              <b>3.3 Prohibited Activities</b><br/>Users shall not use the system for any
              illegal purposes or in any way that could harm, disable, or impair
              the system. Users shall not attempt to obtain unauthorized
              access to any component of the system or its associated networks.<br/><br/>
              <b>4. System Use</b><br/><br/>
              <b>4.1 Access and Availability</b><br/>The system is
              available around the clock, except for scheduled maintenance or
              unexpected disruptions.<br/><br/>
              <b>4.2 Data Storage and Management</b><br/>All submitted MoAs will be saved in the system's database. Users
              agree to have their data processed and stored in accordance with
              the university's data protection rules.<br/><br/>
              <b>4.3 Changes to the System</b><br/>The university maintains the right to modify or withdraw any
              aspect of the system without notice. Users will be advised of
              any substantial changes to the terms and conditions.<br/><br/>
              <b>5. Privacy Policy</b><br/><br/>
              <b>5.1 Data Collection</b><br/>To process MoAs, the system collects
              personal information such as names, student numbers, and email
              addresses. Usage information may be gathered to enhance system
              performance and user experience.<br/><br/>
              <b>5.2 Data use</b><br/>The collected information will be used strictly for academic and administrative
              purposes. Data will not be shared with third parties without the
              user's consent, unless required by law.<br/><br/>
              <b>5.3 Data Security.</b> <br/>The institution uses security measures to keep user data safe from
              unauthorized access. Users are responsible for protecting their
              login information.<br/><br/>
              <b>6. Intellectual Property</b><br/><br/>
              <b>6.1 Ownership</b> <br/>
              All content and resources in the system are the property of authorized
              staff. 
              Users must obtain explicit authorization before
              reproducing, distributing, or creating derivative works from any
              content.<br/><br/>
              <b>7. Limitation of Liability</b><br/>The authorized staff shall
              not be liable for any indirect, incidental, or consequential
              damages resulting from the use or failure to utilize the system. -
              Users undertake to indemnify and hold the university blameless
              against any claims arising from their use of the system.<br/><br/>
              <b>8. Governing Law</b><br/>The Republic of the Philippines' laws control these
              terms and conditions. Any issues arising from the use of this
              system will be resolved exclusively by the courts in Manila. <br/><br/>
              <b>By using MAYMOAPO, you confirm that you have read, understood, and
              agree to be bound by the following terms and conditions.</b>
            </p>
      </q-scroll-area>
    </div>
</template>