<template>
  <div class="verification">
    <div
      class="row items-center q-pa-xl fullscreen bg-image"
      style="height: 100vh; overflow: hidden"
    >
      <div class="col-xs-0 col-sm-0 col-md-6 col-lg-8"></div>
      <q-card class="col-xs-12 col-sm-12 col-md-6 col-lg-3 bg-white q-pa-xl">
        <div
          class="text-primary text-h6 text-center text-weight-medium q-pb-md q-pt-xl"
        >
          Please check your email.
        </div>
        <div class="text-body1 text-center">
          Enter the verification code sent to your registered email to complete
          your verification.
        </div>

        <q-input
          outlined
          v-model="formcode"
          mask="######"
          class="q-my-lg q-mx-xl"
        />

        <div class="text-center q-mb-lg">
          Didn't got the code?
          <q-btn
            flat
            no-caps
            padding="none"
            @click="generateOTP"
            class="text-primary text-weight-medium text-underline"
            label="Resend"
          />
        </div>

        <div class="row">
          <q-btn
            label="Verify"
            no-caps
            @click="sendEmail()"
            class="bg-primary text-white q-mt-sm col"
          />
        </div>
        <div class="row">
          <q-btn
            no-caps
            flat
            label="Cancel"
            @click="$router.go(-1)"
            class="bg-white text-primary q-mb-md q-mt-sm col"
          />
        </div>
      </q-card>
    </div>
  </div>
</template>
<script src="./Scripts/VerificationPage.js" />

<style>
.verification {
  input {
    text-align: center;
    color: var(--q-primary) !important;
    font-size: x-large;
  }
  .q-field {
    font-size: large;
  }
  .text-underline {
    text-decoration: underline;
  }
  .bg-white {
    background-color: #ffffff; /* White background with slight transparency */
    padding-top: 3%;
    position: relative;
    z-index: 1; /* Ensure it is above the background image */
  }
  .bg-image {
    background-image: url("../css/bg-mesh.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .bg-image::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("https://www.pup.edu.ph/about/images/PUPLogo.png");
    background-repeat: no-repeat;
    background-size: 70%; /* Zoom in the background image */
    background-position: left; /* Align horizontally at 10% and center vertically */
    opacity: 0.2;
  }
}
</style>
