<template>
  <q-select
    outlined
    dense
    v-model="notaryDateFilter"
    :options="notaryDateOptions"
    color="primary"
    style="width: 213px"
  />
  <template v-if="notaryDateFilter === 'Custom Range'">
    <q-input readonly dense outlined v-model="customStartDate">
      <template v-slot:append>
        <q-icon name="event" class="cursor-pointer">
          <q-popup-proxy transition-show="scale" transition-hide="scale">
            <q-date v-model="customStartDate" mask="MMMM D, YYYY">
              <div class="row items-center justify-end">
                <q-btn v-close-popup label="Close" color="primary" flat></q-btn>
              </div>
            </q-date>
          </q-popup-proxy>
        </q-icon>
      </template>
    </q-input>
    <q-input readonly dense outlined v-model="customEndDate">
      <template v-slot:append>
        <q-icon name="event" class="cursor-pointer">
          <q-popup-proxy transition-show="scale" transition-hide="scale">
            <q-date v-model="customEndDate" mask="MMMM D, YYYY">
              <div class="row items-center justify-end">
                <q-btn v-close-popup label="Close" color="primary" flat></q-btn>
              </div>
            </q-date>
          </q-popup-proxy>
        </q-icon>
      </template>
    </q-input>
  </template>
</template>

<script>
import { ref, onMounted, computed } from "vue";
import { FetchMoaDocuments } from "./../composables/MoaDocuments";

export default {
  name: "DateFilter",
  setup() {
    // Define reactive variables
    let MoaDocumentDetails = ref([]);
    let filter = ref("");
    let notaryDateFilter = ref("All time");
    let customStartDate = ref(null);
    let customEndDate = ref(null);

    const notaryDateOptions = [
      "All time",
      "Today",
      "Yesterday",
      "Past 7 days",
      "Past 30 days",
      "Custom Range",
    ];
    // Fetch MoaDocuments and handle errors
    FetchMoaDocuments()
      .then((response) => {
        MoaDocumentDetails.value = response;
      })
      .catch((error) => {
        $q.notify({
          color: "negative",
          position: "bottom-right",
          message: "Error fetching accounts.",
          icon: "report_problem",
        });

        console.log(error);
      });


    // Computed property for filtered MoaDocumentDetails
    const filteredMoaDocumentDetails = computed(() => {
      // Filter by notary date
      if (notaryDateFilter.value === "Today") {
        // Filter documents with notary date equal to today's date
        const today = new Date();
        return MoaDocumentDetails.value.filter((doc) => {
          const notaryDate = new Date(doc.notaryDate);
          return (
            notaryDate.getFullYear() === today.getFullYear() &&
            notaryDate.getMonth() === today.getMonth() &&
            notaryDate.getDate() === today.getDate()
          );
        });
      } else if (notaryDateFilter.value === "Yesterday") {
        // Filter documents with notary date equal to yesterday's date
        const yesterday = new Date();
        yesterday.setDate(yesterday.getDate() - 1); // Set date to yesterday
        return MoaDocumentDetails.value.filter((doc) => {
          const notaryDate = new Date(doc.notaryDate);
          return (
            notaryDate.getFullYear() === yesterday.getFullYear() &&
            notaryDate.getMonth() === yesterday.getMonth() &&
            notaryDate.getDate() === yesterday.getDate()
          );
        });
      } else if (notaryDateFilter.value === "Past 7 days") {
        // Filter documents with notary date within the past 7 days
        const today = new Date();
        const sevenDaysAgo = new Date(today);
        sevenDaysAgo.setDate(today.getDate() - 7); // Set date to 7 days ago
        return MoaDocumentDetails.value.filter((doc) => {
          const notaryDate = new Date(doc.notaryDate);
          return notaryDate >= sevenDaysAgo && notaryDate <= today;
        });
      } else if (notaryDateFilter.value === "Past 30 days") {
        // Filter documents with notary date within the past 30 days
        const today = new Date();
        const thirtyDaysAgo = new Date(today);
        thirtyDaysAgo.setDate(today.getDate() - 30);
        console.log(thirtyDaysAgo);
        return MoaDocumentDetails.value.filter((doc) => {
          const notaryDate = new Date(doc.notaryDate);
          return notaryDate >= thirtyDaysAgo && notaryDate <= today;
        });
      } else if (customStartDate.value == null && customEndDate.value == null) {
        notaryDateFilter.value === "Custom Range";
        return MoaDocumentDetails.value.filter((doc) => {
          const notaryDate = new Date(doc.notaryDate);
          const startDay = new Date(customStartDate.value);
          const endDay = new Date(customEndDate.value);
          return MoaDocumentDetails.value;
        });
      } else if (customStartDate.value != null && customEndDate.value == null) {
        return MoaDocumentDetails.value.filter((doc) => {
          const notaryDate = new Date(doc.notaryDate);
          const startDay = new Date(customStartDate.value);
          const endDay = new Date(customEndDate.value);
          return notaryDate >= startDay;
        });
      } else if (customStartDate.value == null && customEndDate.value != null) {
        return MoaDocumentDetails.value.filter((doc) => {
          const notaryDate = new Date(doc.notaryDate);
          const startDay = new Date(customStartDate.value);
          const endDay = new Date(customEndDate.value);
          return notaryDate >= startDay;
        });
      } else if (customStartDate.value != null && customEndDate.value != null) {
        return MoaDocumentDetails.value.filter((doc) => {
          const notaryDate = new Date(doc.notaryDate);
          const startDay = new Date(customStartDate.value);
          const endDay = new Date(customEndDate.value);
          return notaryDate >= startDay && notaryDate <= endDay;
        });
      } else {
        return MoaDocumentDetails.value; // Return all documents if no specific filter is selected
      }
    });

    return {
      customStartDate,
      customEndDate,
      filter,
      MoaDocumentDetails,
      notaryDateOptions,
      notaryDateFilter,
      filteredMoaDocumentDetails,
    };
  },
};
</script>

<style lang="scss">
.filters-component {
  .minmax-width {
    min-width: 130px;
    max-width: 130px;
    @media screen and (min-width: $breakpoint-sm-max) {
      min-width: 190px;
      max-width: 190px;
    }
  }

  .minmax-width-190 {
    min-width: 190px;
    max-width: 190px;
  }
}

.filter-date-field {
  height: 30px;
  .q-field__control,
  .q-field__marginal {
    height: 30px;
  }
}
</style>
