/**
  quasar Customed Class Names for Background, Text Colors

  NOTE  : Refer to quasar.variables.scss for variable references
  USAGE : eg. moa-bg-accent-0, moa-bg-hover-accent-0, moa-text-accent-0, moa-text-hover-accent-0
*/
@import "./quasar.variables.scss";

.moa-bg-primary {
  background-color: $primary !important;
}
.moa-bg-secondary {
  background-color: $secondary !important;
}
.moa-bg-accent-0 {
  background-color: $accent-0;
  @media screen and (min-width: $breakpoint-sm-max) {
    background-color: $accent-0 !important;
  }
}
.moa-bg-accent-2 {
  background-color: $accent-2;
  @media screen and (min-width: $breakpoint-sm-max) {
    background-color: $accent-2 !important;
  }
}
.moa-text-primary {
  color: $accent-1;
}
.moa-text-secondary {
  color: $accent-2;
}

.moa-dark-mode {
  .moa-bg-secondary {
    background-color: $d-secondary !important;
  }
  .moa-bg-primary {
    background-color: $d-primary !important;
  }

  .moa-text-primary {
    color: $white !important;
  }

  .moa-right-drawer {
    @media screen and (max-width: 1500px) {
      box-shadow: -5px 0px 20px -8px rgba(0, 0, 0, 0.4);
    }
  }
}

// HEADER
.moa-header {
  .moa-bg-secondary {
    @media screen and (max-width: $breakpoint-xs-max) {
      background-color: $accent-0 !important;
    }
  }
}

//Index Page
.moa-index {
  .moa-text-secondary {
    color: $primary;
  }
}

// LEFT SIDEBAR
.moa-eft-drawer {
  .moa-bg-secondary {
    @media screen and (max-width: 767px) {
      background-color: $accent-0 !important;
    }
  }
}

// RIGHT SIDEBAR
.moa-right-drawer {
  .moa-bg-accent-1 {
    background-color: $accent-1;
    .moa-bg-accent-1 {
      background-color: $accent-1;
    }
  }
  .moa-analog-clock-accent-1 {
    filter: drop-shadow(5px 5px 3px #707070) !important;
  }
  @media screen and (max-width: 1500px) {
    box-shadow: -5px 0px 20px -8px #aaaaaa;
  }
}

// FOOTER
.moa-footer {
  .moa-bg-primary {
    background-color: $primary;
    @media screen and (min-width: $breakpoint-sm-min) {
      background-color: rgba(255, 255, 255, 0.7);
    }
  }
  .moa-text-accent-0 {
    color: $accent-0;
  }
}

// Background accent color
@for $i from 0 through 3 {
  .moa-bg-accent-#{$i} {
    background-color: color(a, $i);
  }
}

// Background accent hover color
@for $i from 0 through 3 {
  .moa-bg-hover-accent-#{$i} {
    transition: 0.2s ease-out;
    &:hover {
      color: $white;
      background-color: color(a, $i) !important;
    }
  }
}

// Text accent colors
@for $i from 0 through 3 {
  .moa-text-accent-#{$i} {
    color: color(a, $i);
  }
  // Text accent hover colors
  .moa-text-hover-accent-#{$i} {
    transition: 0.2s ease-out;
    &:hover {
      color: color(a, $i) !important;
    }
  }
}

// Notification colors
.moa-warning-notif {
  background-color: #fffaf3;
  color: #7a4d05 !important;
  border: 1px solid #ccbea0;
}
.moa-info-notif {
  background-color: #f8ffff;
  color: #0e566c !important;
  border: 1px solid #bedfe6;
}

.moa-error-notif {
  background-color: #fff6f6;
  color: #973937 !important;
  border: 1px solid #cb9e9e;
}

.moa-success-notif {
  background-color: #f3ffd8;
  color: #0c950e !important;
  border: 1px solid #a8c599;
}

.moa-warning-notif,
.moa-info-notif,
.moa-error-notif,
.moa-success-notif {
  padding-right: 100px;
}
