<template>
  <div class="transaction-table-admin">
    <q-card
      v-if="visible"
      style="height: 88vh"
      no-scroll
      flat
    >
      <q-inner-loading :showing="visible">
        <q-spinner color="primary" :size="'xl'" class="text-center" :thickness="5"/>
      </q-inner-loading>
    </q-card>

    <q-card v-if="!visible" class="bg-white q-pa-lg" style="max-height: 88vh" no-scroll flat>
      <h5 class="text-primary text-bold q-ma-none">
        Transaction
      </h5>
      <q-table
        v-if="!visible"
        flat
        title="Files"
        :rows="filteredMoaDocumentDetails"
        :columns="columns"
        row-key="id"
        :filter="filter"
        @row-click="handleRowClick"
        :pagination="initialPagination"
      >
        <template v-slot:no-data="{ filter }">
          <div
            v-if="notaryDateFilter != 'All time'"
            class="full-width text-primary q-py-xl text-center"
          >
            <!-- Icon -->
            <q-icon class="text-h3" name="error" /><br /><br />
            <span class="text-h5 text-weight-bold">No MoA found</span>
            <br /><br />
            <span class="text-body1 text-center">
              No transaction within that date<br />
              Please try again.<br /></span
            ><br />
            <q-btn
              label="Reset Date"
              type="reset"
              class="bg-white text-primary"
              @click="notaryDateFilter = 'All time'"
            />
          </div>
          <div v-else class="full-width text-primary q-py-xl text-center">
            <!-- Icon -->
            <q-icon class="text-h3" name="error" /><br /><br />
            <span class="text-h5 text-weight-bold">No MoA found</span>
            <br /><br />
            <span class="text-body1 text-center">
              Your search "{{ filter }}" did not<br />
              match any transaction. Please try again.<br /> </span
            ><br />
            <!-- Button -->
            <q-btn
              color="primary"
              icon="add"
              label="Process New MoA"
              no-caps
              :to="{ name: 'generate-moa' }"
            />
            <q-btn
              label="Clear Search"
              type="reset"
              color="primary"
              flat
              class="q-ml-sm"
              @click="clearSearch"
            />
          </div>
        </template>
        <template v-slot:top-left>
          <q-input
            outlined
            dense
            v-model="filter"
            placeholder="Search"
            color="primary"
            class="q-mr-sm"
          >
            <template v-slot:append>
              <q-icon name="search" />
            </template>
          </q-input>
        </template>
        <template v-slot:top-right>
          <q-select
            outlined
            dense
            v-model="notaryDateFilter"
            :options="notaryDateOptions"
            color="primary"
            style="width: 213px"
          />
          <template v-if="notaryDateFilter === 'Custom Range'">
            <q-input
              readonly
              dense
              outlined
              v-model="customStartDate"
              class="q-ml-sm"
            >
              <template v-slot:append>
                <q-icon name="event" class="cursor-pointer">
                  <q-popup-proxy
                    transition-show="scale"
                    transition-hide="scale"
                  >
                    <q-date v-model="customStartDate" mask="MMMM D, YYYY">
                      <div class="row items-center justify-end">
                        <q-btn
                          v-close-popup
                          label="Close"
                          color="primary"
                          flat
                        ></q-btn>
                      </div>
                    </q-date>
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>
            <q-input
              readonly
              dense
              outlined
              v-model="customEndDate"
              class="q-ml-sm"
            >
              <template v-slot:append>
                <q-icon name="event" class="cursor-pointer">
                  <q-popup-proxy
                    transition-show="scale"
                    transition-hide="scale"
                  >
                    <q-date v-model="customEndDate" mask="MMMM D, YYYY">
                      <div class="row items-center justify-end">
                        <q-btn
                          v-close-popup
                          label="Close"
                          color="primary"
                          flat
                        ></q-btn>
                      </div>
                    </q-date>
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>
          </template>
        </template>
        <template v-slot:body="props">
          <q-tr @click="handleRowClick(props.row)" class="cursor-pointer">
            <q-td v-for="col in columns" :key="col.name" :props="props">
              {{ props.row[col.field] }}
            </q-td>
          </q-tr>
        </template>
      </q-table>
    </q-card>
  </div>
</template>

<script>
import { ref, onMounted, computed, watch } from "vue";
import { useRoute, useRouter } from "vue-router";
import { initializeApp } from "firebase/app";
import { getAuth } from "firebase/auth"; // Import EmailAuthProvider
import {
  getFirestore,
  query,
  collection,
  where,
  getDocs,
} from "firebase/firestore";

// Your Firebase configuration object
const firebaseConfig = {
  apiKey: "AIzaSyCaLXiK7TyxB2_cp68_SxUDj7KxOy2XZAk",
  authDomain: "maymoapo-815ee.firebaseapp.com",
  projectId: "maymoapo-815ee",
  storageBucket: "maymoapo-815ee.appspot.com",
  messagingSenderId: "992963522084",
  appId: "1:992963522084:web:f79e171bfb56a05359f2b1",
};

// Initialize Firebase
const firebaseApp = initializeApp(firebaseConfig);
const db = getFirestore(firebaseApp); // Initialize Cloud Firestore and get a reference to the service

export default {
  name: "TransactionTable",
  setup() {
    // Define reactive variables
    const router = useRouter();
    const route = useRoute();
    let MoaDocumentDetails = ref([]);
    let filter = ref("");
    let notaryDateFilter = ref("All time");
    let customStartDate = ref(null);
    let customEndDate = ref(null);
    const notaryDateOptions = [
      "All time",
      "Today",
      "Yesterday",
      "Past 7 days",
      "Past 30 days",
      "Custom Range",
    ];

    // Fetch transaction details based on trNo
    const fetchAllTransaction = async () => {
      try {
        const q = query(collection(db, "transactions"));
        const querySnapshot = await getDocs(q);
        const transactions = [];
        querySnapshot.forEach((doc) => {
          transactions.push({ id: doc.id, ...doc.data() });
        });
        return transactions;
      } catch (error) {
        console.error("Error fetching Transaction:", error);
        return [];
      }
    };

    // Fetch MoaDocumentDetails and update trStep
    const fetchMoa = async () => {
      try {
        const data = await fetchAllTransaction();
        const filteredDocuments = data.filter((doc) => doc.trStep >= 2);
        const processedDocuments = filteredDocuments.map((doc) => ({
          ...doc,
          combinedDate: `${doc.updateStepdate} | ${doc.updateSteptime}`,
        }));
        MoaDocumentDetails.value = processedDocuments;
      } catch (error) {
        console.error("Error fetching MoA details:", error);
      }
    };

    onMounted(() => {
      fetchMoa();
    });

    
    watch(() => notaryDateFilter.value, fetchMoa);

    // Define columns
    const columns = [
      {
        name: "index",
        label: "Transaction No.",
        field: "trNo",
        align: "center",
      },
      {
        name: "timeStamp",
        required: true,
        label: "Date",
        align: "center",
        field: "combinedDate",
        sortable: true,
      },
      {
        name: "trStep",
        label: "Status",
        align: "left",
        field: "stepTitle",
        sortable: true,
      },
      {
        name: "hteName",
        required: true,
        label: "HTE/Company Name",
        align: "left",
        field: "hteName",
        sortable: true,
      },
      {
        name: "hteEmail",
        required: true,
        label: "Student Email",
        align: "left",
        field: "stEmail",
      },
    ];

    const initialPagination = {
      rowsPerPage: 15,
    };

    // Computed property for filtered MoaDocumentDetails
    const filteredMoaDocumentDetails = computed(() => {
      // Filter by notary date
      if (notaryDateFilter.value === "Today") {
        // Filter documents with notary date equal to today's date
        const today = new Date();
        return MoaDocumentDetails.value.filter((doc) => {
          const updateStepdate = new Date(doc.updateStepdate);
          return (
            updateStepdate.getFullYear() === today.getFullYear() &&
            updateStepdate.getMonth() === today.getMonth() &&
            updateStepdate.getDate() === today.getDate()
          );
        });
      } else if (notaryDateFilter.value === "Yesterday") {
        // Filter documents with notary date equal to yesterday's date
        const yesterday = new Date();
        yesterday.setDate(yesterday.getDate() - 1); // Set date to yesterday
        return MoaDocumentDetails.value.filter((doc) => {
          const updateStepdate = new Date(doc.updateStepdate);
          return (
            updateStepdate.getFullYear() === yesterday.getFullYear() &&
            updateStepdate.getMonth() === yesterday.getMonth() &&
            updateStepdate.getDate() === yesterday.getDate()
          );
        });
      } else if (notaryDateFilter.value === "Past 7 days") {
        // Filter documents with notary date within the past 7 days
        const today = new Date();
        const sevenDaysAgo = new Date(today);
        sevenDaysAgo.setDate(today.getDate() - 7); // Set date to 7 days ago
        return MoaDocumentDetails.value.filter((doc) => {
          const updateStepdate = new Date(doc.updateStepdate);
          return updateStepdate >= sevenDaysAgo && updateStepdate <= today;
        });
      } else if (notaryDateFilter.value === "Past 30 days") {
        // Filter documents with notary date within the past 30 days
        const today = new Date();
        const thirtyDaysAgo = new Date(today);
        thirtyDaysAgo.setDate(today.getDate() - 30);
        console.log(thirtyDaysAgo);
        return MoaDocumentDetails.value.filter((doc) => {
          const updateStepdate = new Date(doc.updateStepdate);
          return updateStepdate >= thirtyDaysAgo && updateStepdate <= today;
        });
      } else if (customStartDate.value == null && customEndDate.value == null) {
        notaryDateFilter.value === "Custom Range";
        return MoaDocumentDetails.value.filter((doc) => {
          const updateStepdate = new Date(doc.updateStepdate);
          const startDay = new Date(customStartDate.value);
          const endDay = new Date(customEndDate.value);
          return MoaDocumentDetails.value;
        });
      } else if (customStartDate.value != null && customEndDate.value == null) {
        return MoaDocumentDetails.value.filter((doc) => {
          const updateStepdate = new Date(doc.updateStepdate);
          const startDay = new Date(customStartDate.value);
          const endDay = new Date(customEndDate.value);
          return updateStepdate >= startDay;
        });
      } else if (customStartDate.value == null && customEndDate.value != null) {
        return MoaDocumentDetails.value.filter((doc) => {
          const updateStepdate = new Date(doc.updateStepdate);
          const startDay = new Date(customStartDate.value);
          const endDay = new Date(customEndDate.value);
          return updateStepdate >= startDay;
        });
      } else if (customStartDate.value != null && customEndDate.value != null) {
        return MoaDocumentDetails.value.filter((doc) => {
          const updateStepdate = new Date(doc.updateStepdate);
          const startDay = new Date(customStartDate.value);
          const endDay = new Date(customEndDate.value);
          return updateStepdate >= startDay && updateStepdate <= endDay;
        });
      } else {
        return MoaDocumentDetails.value; // Return all documents if no specific filter is selected
      }
    });

    const handleRowClick = (row) => {
      router.push({
        path: "transaction",
        query: {
          trNo: row.trNo,
        },
      });
    };

    return {
      initialPagination,
      customStartDate,
      customEndDate,
      filter,
      MoaDocumentDetails,
      columns,
      notaryDateOptions,
      notaryDateFilter,
      filteredMoaDocumentDetails,
      handleRowClick,
    };
  },
  data() {
    return {
      visible: true,
    };
  },
  mounted() {
    setTimeout(() => {
      this.visible = false;
    }, 500); 
  },
};
</script>

<style>
.transaction-table-admin {
  .q-table__top {
    padding: 12px 0px;
  }
  .q-table tbody td {
    font-size: 14px;
  }
  .q-table th {
    font-size: 14px;
  }
  .q-field--outlined.q-field--readonly .q-field__control:before {
    border-style: solid;
  }
  thead tr:first-child th {
    background-color: #880000;
    color: white;
  }

  tbody tr:nth-child(odd) {
    background-color: #fff;
  }

  tbody tr:nth-child(even) {
    background-color: #efeff0;
  }
}
</style>
