<template>
  <div class="transaction-details-admin">
    <div v-if="trNo !== null" class="row q-gutter-x-md" style="height: 88vh">
      <q-card class="bg-white q-pa-lg col-8" no-scroll flat>
        <div class="row justify-between">
          <div class="col-8 text-body1 text-weight-bold text-primary q-mb-xs">
            Step {{ trStep }}:<br />{{ getStepTitle(trStep) }}
          </div>
          <div
            class="col text-body2 text-weight-bold text-primary text-right q-my-xs"
          >
            Transaction Number:<br />{{ trNo }}
          </div>
        </div>
        <hr />
        <div class="row q-py-md">
          <div class="col text-body2 text-weight-bold">
            {{ trsignatoryName }}<br />
            {{ trsignatoryPosition }}<br /><br />

            {{ trhtePhone }}<br />
            {{ trhteEmail }}<br /><br />

            {{ trhteName }}<br />
            {{ trstreet }} {{ trbarangay }}, {{ trcity }},<br />
            {{ trprovince }}
          </div>
          <div class="col text-body2 text-weight-bold">
            {{ student.name }}<br />
            {{ student.stNo }}<br /><br />

            {{ student.email }}<br /><br />

            {{ student.program }}
          </div>
        </div>
        <div class="text-body1 text-weight-bold text-primary q-mb-xs q-mt-md">
          Task for Current Step
        </div>
        <hr />
        <q-tab-panels
          v-model="steptask"
          animated
          class="shadow-2 rounded-borders"
        >
          <q-tab-panel :name="2" class="q-px-none q-gutter-y-md">
            <!--Q-Table: Multiple Selection-->
            <q-input readonly outlined dense v-model="hteMoaFileName">
              <template v-slot:prepend>
                <q-icon name="attach_file" />
              </template>
            </q-input>
            <div v-if="trhteClass != 'government agency'" class="q-gutter-y-md">
              <q-input readonly outlined dense v-model="hteDtiFileName">
                <template v-slot:prepend>
                  <q-icon name="attach_file" />
                </template>
              </q-input>
              <q-input readonly outlined dense v-model="hteSecFileName">
                <template v-slot:prepend>
                  <q-icon name="attach_file" />
                </template>
              </q-input>
            </div>

            <q-btn
              label="Download and Proceed"
              color="primary"
              @click="onDownloadProceed"
              class="q-mt-md"
            />
          </q-tab-panel>

          <q-tab-panel :name="3" class="q-px-none vertical-middle text-center">
            <!--Q-Table: Multiple Selection-->
            <q-icon name="task" class="text-h3 text-primary q-pt-xl q-pb-md" />
            <div class="text-body2 text-weight-bold">
              Notify the student that the Memorandum of Agreement has been<br />
              signed by the Vice President for Academic Affairs and the Dean,<br />
              and is now ready for retrieval at
              <span class="text-primary">PUP Institute of Technology</span>.
            </div>
            <q-btn
              label="Notify Student"
              color="primary"
              class="q-mt-lg q-mb-xl"
              @click="onNotifyApproval"
            />
          </q-tab-panel>

          <q-tab-panel :name="4" class="q-px-none vertical-middle text-center">
            <q-icon
              name="notifications"
              class="text-h3 text-primary q-pt-xl q-pb-md"
            />
            <div class="text-body2 text-weight-bold">
              We have successfully notified the student regarding the
              availability of the signed<br />Memorandum of Agreement (MoA) for
              retrieval at PUP Institute of Technology.<br />We await the
              student's prompt collection of the document.
            </div>
          </q-tab-panel>

          <q-tab-panel :name="5" class="q-px-none vertical-middle text-center">
            <q-icon name="inbox" class="text-h3 text-primary q-pt-xl q-pb-md" />
            <div class="text-body2 text-weight-bold">
              The Memorandum of Agreement (MoA) has been retrieved from<br />
              PUP Institute of Technology. We are now expecting the student
              to<br />
              upload the signed and notarized MoA for record-keeping
              purposes.<br />
            </div>
          </q-tab-panel>

          <q-tab-panel :name="6" class="q-px-none vertical-middle text-center">
            <q-icon
              name="done_all"
              class="text-h3 text-primary q-pt-xl q-pb-md"
            />
            <div class="text-body2 text-weight-bold">
              <span class="text-primary">The process is now complete!</span
              ><br /><br />
              The Memorandum of Agreement (MoA), signed by the authorized<br />
              HTE representative and notarized, has been successfully
              uploaded<br />
              to the database for our records.
            </div>
          </q-tab-panel>
        </q-tab-panels>
      </q-card>
      <!-- Stepper Panel -->
      <q-card class="q-pa-lg col" no-scroll flat>
        <q-timeline class="bg-white q-px-md">
          <q-timeline-entry
            :name="5"
            :color="trStep === 5 ? 'orange' : 'primary'"
            :icon="
              trStep === 5 ? 'history_edu' : trStep > 5 ? 'done_all' : null
            "
          >
            <template v-slot:title>
              Step 5 : Return Retrieved MoA, Signed by HTE and Notarized
            </template>
            <template v-slot:subtitle
              >{{ trstep5Datestamp }} {{ trstep5Timestamp }}
            </template>
          </q-timeline-entry>

          <q-timeline-entry
            :name="4"
            :color="trStep === 4 ? 'orange' : trStep > 4 ? 'grey' : 'primary'"
            :icon="trStep === 4 ? 'history_edu' : trStep > 4 ? 'check' : null"
          >
            <template v-slot:title>
              Step 4 : Ready for retrieval of MoA at PUP ITech
            </template>
            <template v-slot:subtitle
              >{{ trstep4Datestamp }} {{ trstep4Timestamp }}
            </template>
          </q-timeline-entry>

          <q-timeline-entry
            :name="3"
            :color="trStep === 3 ? 'orange' : trStep > 3 ? 'grey' : 'primary'"
            :icon="trStep === 3 ? 'history_edu' : trStep > 3 ? 'check' : null"
          >
            <template v-slot:title>
              Step 3 : Approval of ULCO and Signature of VPAA and Dean
            </template>
            <template v-slot:subtitle
              >{{ trstep3Datestamp }} {{ trstep3Timestamp }}
            </template>
          </q-timeline-entry>

          <q-timeline-entry
            :name="2.0"
            :color="
              trStep === 2.0 ? 'orange' : trStep > 2.0 ? 'grey' : 'primary'
            "
            :icon="
              trStep === 2.0 ? 'history_edu' : trStep > 2.0 ? 'check' : null
            "
          >
            <template v-slot:title>
              Step 2 : Review and Approval of OJT Coordinator
            </template>
            <template v-slot:subtitle
              >{{ trstep2Datestamp }} {{ trstep2Timestamp }}
            </template>
          </q-timeline-entry>

          <q-timeline-entry
            :name="1"
            :color="trStep === 1 ? 'orange' : trStep > 1 ? 'grey' : 'primary'"
            :icon="trStep === 1 ? 'history_edu' : 'upload_file'"
          >
            <template v-slot:title>
              Step 1 : Generate Memorandum of Agreement for New HTE
            </template>
            <template v-slot:subtitle
              >{{ trstep1Datestamp }} {{ trstep1Timestamp }}
            </template>
          </q-timeline-entry>
        </q-timeline>
      </q-card>
    </div>
  </div>
</template>

<script>
import { ref, computed, onMounted, watch } from "vue";
import { useRoute, useRouter } from "vue-router";
import { useQuasar, date } from "quasar";
import { initializeApp } from "firebase/app";
import { getAuth } from "firebase/auth"; // Import EmailAuthProvider
import {
  getFirestore,
  query,
  collection,
  where,
  getDocs,
  doc,
  updateDoc,
} from "firebase/firestore";

// Your Firebase configuration object
const firebaseConfig = {
  apiKey: "AIzaSyCaLXiK7TyxB2_cp68_SxUDj7KxOy2XZAk",
  authDomain: "maymoapo-815ee.firebaseapp.com",
  projectId: "maymoapo-815ee",
  storageBucket: "maymoapo-815ee.appspot.com",
  messagingSenderId: "992963522084",
  appId: "1:992963522084:web:f79e171bfb56a05359f2b1",
};

// Initialize Firebase
const firebaseApp = initializeApp(firebaseConfig);
const db = getFirestore(firebaseApp); // Initialize Cloud Firestore

export default {
  name: "TransactionDetails",
  props: {
    trNo: {
      type: String,
      required: true,
    },
  },
  setup(props) {
    const route = useRoute();
    const router = useRouter();
    const timeString = Date.now();
    const dateStamp = date.formatDate(timeString, "DD MMMM, YYYY");
    const timeStamp = date.formatDate(timeString, "h:mm A");

    const MoaTransactionDetails = ref({});
    const AccountDetails = ref([]);

    const trStep = ref(2);
    const trstep1Timestamp = ref(null);
    const trstep1Datestamp = ref(null);
    const trstep2Timestamp = ref(null);
    const trstep2Datestamp = ref(null);
    const trstep3Timestamp = ref(null);
    const trstep3Datestamp = ref(null);
    const trstep4Timestamp = ref(null);
    const trstep4Datestamp = ref(null);
    const trstep5Timestamp = ref(null);
    const trstep5Datestamp = ref(null);
    const steptask = computed(() => trStep.value);

    const trID = ref(null);
    const trsignatoryName = ref(null);
    const trsignatoryPosition = ref(null);
    const trhteName = ref(null);
    const trhteClass = ref(null);
    const trprogram = ref(null);
    const trhteEmail = ref(null);
    const trhtePhone = ref(null);
    const trprovince = ref(null);
    const trbarangay = ref(null);
    const trcity = ref(null);
    const trstreet = ref(null);
    const trnotaryDate = ref(null);
    const trvalidity = ref(null);
    const trhteDti = ref(null);
    const trhteMoa = ref(null);
    const trhteSec = ref(null);
    let student = ref({
      id: null,
      name: "",
      stNo: null,
      email: "",
      program: "",
    });

    console.log("Received trNo:", props.trNo); // Corrected the log statement

    function getStepTitle(trStep) {
      switch (trStep) {
        case 1:
          return "Generate Memorandum of Agreement for New HTE";
        case 2.0:
          return "Review and Approval of OJT Coordinator";
        case 3:
          return "Approval of ULCO and Signature of VPAA and Dean";
        case 4:
          return "Ready for retrieval of MoA at PUP ITech";
        case 5:
          return "Return Retrieved MoA, Signed by HTE and Notarized";
        case 6:
          return "New MoA uploaded to the database";
        default:
          return "";
      }
    }

    const fetchMoa = async () => {
      try {
        if (!props.trNo) {
          console.error("Error: trNo.value is undefined or null.");
          return;
        }

        const q = query(
          collection(db, "transactions"),
          where("trNo", "==", props.trNo)
        );
        const querySnapshot = await getDocs(q);

        if (!querySnapshot.empty) {
          const transaction = querySnapshot.docs[0].data();
          trID.value = querySnapshot.docs[0].id;
          trStep.value = transaction.trStep;
          trstep1Timestamp.value = transaction.step1Timestamp;
          trstep1Datestamp.value = transaction.step1Datestamp;
          trstep2Timestamp.value = transaction.step2Timestamp;
          trstep2Datestamp.value = transaction.step2Datestamp;
          trstep3Timestamp.value = transaction.step3Timestamp;
          trstep3Datestamp.value = transaction.step3Datestamp;
          trstep4Timestamp.value = transaction.step4Timestamp;
          trstep4Datestamp.value = transaction.step4Datestamp;
          trstep5Timestamp.value = transaction.step5Timestamp;
          trstep5Datestamp.value = transaction.step5Datestamp;
          trID.value = transaction.id;
          trsignatoryName.value = transaction.signatoryName;
          trsignatoryPosition.value = transaction.signatoryPosition;
          trhteName.value = transaction.hteName;
          trhteClass.value = transaction.hteClass;
          trprogram.value = transaction.program;
          trhteEmail.value = transaction.hteEmail;
          trhtePhone.value = transaction.htePhone;
          trprovince.value = transaction.province;
          trbarangay.value = transaction.barangay;
          trcity.value = transaction.city;
          trstreet.value = transaction.street;
          trnotaryDate.value = transaction.notaryDate;
          trvalidity.value = transaction.validity;
          trhteDti.value = transaction.hteDti;
          trhteMoa.value = transaction.hteMoa;
          trhteSec.value = transaction.hteSec;

          const data = await fetchAccountByEmail(transaction.stEmail);
          AccountDetails.value = data;
          student.value.name = AccountDetails.value[0].name;
          student.value.email = AccountDetails.value[0].email;
          student.value.stNo = AccountDetails.value[0].stNo;
          student.value.program = AccountDetails.value[0].program;
        } else {
          console.log("No such document!");
        }
      } catch (error) {
        console.error("Error fetching MoA documents:", error);
      }
    };
    // Call fetchMoa when component is mounted
    onMounted(async () => {
      fetchMoa();
    });

    watch(() => props.trNo, fetchMoa);
    watch(() => trStep.value, fetchMoa);

    const fetchAccountByEmail = async (email) => {
      try {
        console.log("Fetching account for email:", email);
        const q = query(
          collection(db, "accounts"),
          where("email", "==", email)
        );
        const querySnapshot = await getDocs(q);
        const accounts = [];
        querySnapshot.forEach((doc) => {
          accounts.push({ id: doc.id, ...doc.data() });
        });
        console.log("Account by email:", accounts);
        return accounts;
      } catch (error) {
        console.error("Error fetching account by email:", error);
        return [];
      }
    };

    // Function to extract filename from URL
    const getFileName = (url) => {
      if (!url) return "";
      const decodedUrl = decodeURIComponent(url); // Decode URL component
      const match = decodedUrl.match(/\/([^\/?#]+)[^\/]*$/); // Regex to match filename
      if (match) {
        return match[1]; // Return the matched filename
      } else {
        return ""; // Return empty string if no match found
      }
    };
    // Computed properties for file names
    const hteMoaFileName = computed(() => getFileName(trhteMoa.value));
    const hteDtiFileName = computed(() => getFileName(trhteDti.value));
    const hteSecFileName = computed(() => getFileName(trhteSec.value));

    const onDownloadProceed = async () => {

      const triggerMoaDownload = () => {
        const link = document.createElement("a");
        link.href = trhteMoa.value;
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
      };

      const triggerSecDownload = () => {
        window.open(trhteSec.value, '_blank');
      };

      const triggerDtiDownload = () => {
        window.open(trhteDti.value, '_blank');
      };

      // Fetch the document using trNo
      const q = query(
        collection(db, "transactions"),
        where("trNo", "==", route.query.trNo)
      );
      const querySnapshot = await getDocs(q);

      if (!querySnapshot.empty) {
        const docRef = doc(db, "transactions", querySnapshot.docs[0].id);
        await updateDoc(docRef, {
          trStep: 3,
          stepTitle: "Approval of ULCO and Signature of VPAA and Dean",
          updateSteptime: timeStamp,
          updateStepdate: dateStamp,
          step2Timestamp: timeStamp,
          step2Datestamp: dateStamp,
        });

        triggerMoaDownload();
        triggerDtiDownload();
        triggerSecDownload();

        router.push({
          path: "transaction",
          query: {
            trNo: props.trNo,
          },
        });

        fetchMoa();
      }
    };

    const onNotifyApproval = async () => {
      // Fetch the document using trNo
      const q = query(
        collection(db, "transactions"),
        where("trNo", "==", route.query.trNo)
      );
      const querySnapshot = await getDocs(q);

      if (!querySnapshot.empty) {
        const docRef = doc(db, "transactions", querySnapshot.docs[0].id);
        await updateDoc(docRef, {
          trStep: 4,
          stepTitle: "Ready for retrieval of MoA at PUP ITech",
          updateSteptime: timeStamp,
          updateStepdate: dateStamp,
          step3Timestamp: timeStamp,
          step3Datestamp: dateStamp,
        });

        router.push({
          path: "transaction",
          query: {
            trNo: props.trNo,
          },
        });

        fetchMoa();
      }
    };

    return {
      filter: ref(""),
      panel: ref("all"),
      reasonStep2: ref(""),

      getStepTitle,
      onDownloadProceed,
      onDenied: ref(false),
      onNotifyApproval,

      MoaTransactionDetails,
      trStep,
      trstep1Timestamp,
      trstep1Datestamp,
      trstep2Timestamp,
      trstep2Datestamp,
      trstep3Timestamp,
      trstep3Datestamp,
      trstep4Timestamp,
      trstep4Datestamp,
      trstep5Timestamp,
      trstep5Datestamp,
      steptask,
      document,
      trsignatoryName,
      trsignatoryPosition,
      trhteName,
      trhteClass,
      trprogram,
      trhteEmail,
      trhtePhone,
      trprovince,
      trbarangay,
      trcity,
      trstreet,
      trnotaryDate,
      trvalidity,

      hteMoaFileName,
      hteDtiFileName,
      hteSecFileName,

      student,
    };
  },
};
</script>

<style lang="scss">
.transaction-details-admin {
  .q-btn-group > .q-btn-item {
    background-color: #f3e5e5;
    color: #800;
    border-radius: 5px;
    width: 115px;
  }
  .q-timeline h6 {
    font-size: 14px;
    font-weight: 700;
  }
  .q-field--outlined.q-field--readonly .q-field__control:before {
    border-style: solid;
  }
  .q-stepper__title {
    font-weight: 500;
  }
  .q-stepper__caption {
    padding-top: 5px;
  }
  .q-stepper--vertical .q-stepper__step-inner {
    padding: 0px !important;
  }
  .q-stepper__tab {
    color: #800;
  }
  .q-stepper__tab--active {
    color: #ff9800;
  }
  .q-stepper__tab--done {
    color: #9e9e9e;
  }
}
</style>
