<template>
  <q-layout view="lHh Lpr fff" class="bg-main">
    <q-header
      class="bg-white text-grey-8"
      height-hint="64"
    >
      <q-toolbar class="moa__toolbar" style="height: 64px">
        <q-btn
          flat
          dense
          round
          @click="drawer = !drawer"
          aria-label="Menu"
          icon="menu"
          class="q-mx-md hide-on-small"
        />
        <q-space />
        <div class="q-gutter-sm row items-center no-wrap">
          <q-btn
            round
            dense
            flat
            color="grey-8"
            icon="notifications"
            :to="{ name: 'notification-admin' }"
          >
            <q-badge v-if="countNotif != 0" color="red" text-color="white" floating> {{ countNotif }} </q-badge>
            <q-tooltip>Notifications</q-tooltip>
          </q-btn>
          <q-btn flat :label="displayName">
            <q-menu fit flat anchor="bottom right" self="top right">
              <q-item clickable :to="{ name: 'account-settings-admin' }">
                <q-item-section>Account</q-item-section>
              </q-item>
              <q-item clickable @click="onSignOut">
                <q-item-section>Sign-out</q-item-section>
              </q-item>
            </q-menu>
          </q-btn>
        </div>
      </q-toolbar>
    </q-header>
    <q-drawer v-model="drawer" show-if-above>
      <q-scroll-area class="fit">
        <q-toolbar class="moa__toolbar">
          <q-toolbar-title class="row items-center text-grey-8">
            <img
              class="q-pl-md"
              style="height: 45px"
              src="https://www.pup.edu.ph/about/images/PUPLogo.png"
            />
            <span class="q-ml-sm text-bold text-primary">MAYMOAPO</span>
          </q-toolbar-title>
        </q-toolbar>

        <q-list padding>
          <q-item
            v-for="link in links1"
            :key="link.text"
            :to="link.route_name"
            clickable
            class="moa__drawer-item"
          >
            <q-item-section avatar>
              <q-icon :name="link.icon" />
            </q-item-section>
            <q-item-section>
              <q-item-label :to="link.path">{{ link.text }}</q-item-label>
            </q-item-section>
          </q-item>

          <q-separator class="q-my-md" />

          <q-item
            v-for="link in links2"
            :key="link.text"
            :to="link.route_name"
            clickable
            class="moa__drawer-item"
          >
            <q-item-section avatar>
              <q-icon :name="link.icon" />
            </q-item-section>
            <q-item-section>
              <q-item-label>{{ link.text }}</q-item-label>
            </q-item-section>
          </q-item>
          <q-separator class="q-my-md" />

          <q-item
            v-for="link in links3"
            :key="link.text"
            :to="link.route_name"
            clickable
            class="moa__drawer-item"
          >
            <q-item-section avatar>
              <q-icon :name="link.icon" />
            </q-item-section>
            <q-item-section>
              <q-item-label>{{ link.text }}</q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </q-scroll-area>
    </q-drawer>

    <q-page-container class="moa__page-container">
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { ref, onMounted, watch } from "vue";
import { getAuth, signOut } from 'firebase/auth';
import { initializeApp } from "firebase/app"; // Import initializeApp from firebase/app
import { useRouter } from 'vue-router';
import { useQuasar } from "quasar";
import {
  getFirestore,
  query,
  collection,
  where,
  getDocs
} from "firebase/firestore";

// Your Firebase configuration object
const firebaseConfig = {
  apiKey: "AIzaSyCaLXiK7TyxB2_cp68_SxUDj7KxOy2XZAk",
  authDomain: "maymoapo-815ee.firebaseapp.com",
  projectId: "maymoapo-815ee",
  storageBucket: "maymoapo-815ee.appspot.com",
  messagingSenderId: "992963522084",
  appId: "1:992963522084:web:f79e171bfb56a05359f2b1",
};

// Initialize Firebase
const firebaseApp = initializeApp(firebaseConfig);
const db = getFirestore(firebaseApp); 

export default {
  setup() {
    const drawer = ref(true);
    let MoaDocumentDetails = ref([]);
    let NotifMoaDocumentDetails = ref([]);
    let UnreadNotifDetails = ref([]);
    const countNotif = ref([]); 
    const displayName = ref('');
    const router = useRouter();
    const $q = useQuasar();

    // Fetch transaction details based on trNo
    const fetchAllTransaction = async () => {
      try {
        const q = query(
          collection(db, "transactions")
        );
        const querySnapshot = await getDocs(q);
        const transactions = [];
        querySnapshot.forEach((doc) => {
          transactions.push({ id: doc.id, ...doc.data() });
        });
        return transactions;
      } catch (error) {
        console.error("Error fetching Transaction:", error);
        return [];
      }
    };

    // Fetch MoaDocumentDetails and update trStep
    const fetchMoa = async () => {
      try {
        const data = await fetchAllTransaction();
        const filteredDocuments = data.filter(
          (doc) => doc.trStep === 2 || doc.trStep <= 5
        );

        const processedDocuments = filteredDocuments.map((doc) => ({
          ...doc,
          combinedDate: `${doc.updateStepdate} | ${doc.updateSteptime}`,
        }));

        MoaDocumentDetails.value = processedDocuments;

        NotifMoaDocumentDetails.value = processedDocuments.filter(
          (doc) => doc.trStep == 2 || doc.trStep >= 5
        );

        UnreadNotifDetails.value = NotifMoaDocumentDetails.value.filter(
          (doc) => doc.notifStatus == true
        );
        countNotif.value = UnreadNotifDetails.value.length;
      } catch (error) {
        console.error("Error fetching MoA details:", error);
      }
    };

    onMounted(() => {
      fetchMoa();

      const auth = getAuth(firebaseApp);
      const user = auth.currentUser;

      if (user) {
        displayName.value = user.displayName;
      }
    });

    watch(() => countNotif.value, fetchMoa);

    const onSignOut = async () => {
      const auth = getAuth(firebaseApp);
      try {
        await signOut(auth);
        $q.notify({
          color: "positive",
          position: "top",
          message: "You have successfully signed out.",
          icon: "exit_to_app",
        });
        router.push({ path: '/login' });
      } catch (error) {
        $q.notify({
          color: "negative",
          position: "top",
          message: "Error signing out.",
          icon: "report_problem",
        });
        console.error("Error signing out: ", error);
      }
    };

    return {
      drawer,
      countNotif,
      links1: [
        { icon: "dashboard", text: "Dashboard", route_name: "dashboard" },
        {
          icon: "notifications",
          text: "Notification",
          route_name: "notification",
        },
        { icon: "receipt", text: "Transaction", route_name: "transaction" },
        { icon: "folder", text: "Files", route_name: "files" },
      ],
      links2: [
        { icon: "cloud_upload", text: "Upload MoA", route_name: "upload-moa" },
      ],
      links3: [
        {
          icon: "settings",
          text: "Account Settings",
          route_name: "account-settings",
        },
        { icon: "help", text: "Terms & Agreement", route_name: "terms-and-agreement" },
      ],
      displayName,
      onSignOut,
    };
  },
};
</script>
<style lang="scss">
.bg-main{
  background-color: #F4F6F9;
}
.moa {
  &__toolbar {
    height: 64px;
  }
  &__toolbar-input {
    width: 35%;
  }
  &__drawer-item {
    line-height: 24px;
    border-radius: 0 24px 24px 0;
    margin-right: 12px;

    .q-item__section--avatar {
      padding-left: 12px;
      .q-icon {
        color: #5f6368;
      }
    }
    .q-item__label:not(.q-item__label--caption) {
      color: #3c4043;
      letter-spacing: 0.01785714em;
      font-size: 0.875rem;
      font-weight: 500;
      line-height: 1.25rem;
    }
    // Add style for active or selected item
    &.q-item.q-router-link--active,
    &.q-item--active {
      background-color: #f3e5e5;

      .q-item__label:not(.q-item__label--caption),
      .q-item__section--avatar .q-icon {
        color: #800;
      }
    }
  }
  &__side-btn {
    &__label {
      font-size: 12px;
      line-height: 24px;
      letter-spacing: 0.01785714em;
      font-weight: 500;
    }
  }
  @media (min-width: 1440px) {
    &__page-container {
      padding-left: 94px;
    }
  }

}
@media (min-width: 1006px) {
  .hide-on-small {
    display: none;
  }
}
</style>
