<template>
  <q-layout view="lHh Lpr fff" class="bg-main">
    <q-header class="bg-white text-grey-8" height-hint="64">
      <q-toolbar style="height: 64px" class="justify-between">
        <div>
          <q-btn flat :to="{ name: 'files' }" class="q-ml-md">
            <q-toolbar-title class="row items-center">
              <img
                style="height: 45px"
                src="https://www.pup.edu.ph/about/images/PUPLogo.png"
              />
              <span class="q-ml-sm text-bold text-primary">MAYMOAPO</span>
            </q-toolbar-title>
          </q-btn>
        </div>

        <div class="q-gutter-sm row items-center no-wrap">
          <q-btn
            round
            dense
            flat
            color="grey-8"
            icon="notifications"
            :to="{ name: 'notification' }"
          >
            <q-badge v-if="countNotif" rounded color="red" text-color="white" floating/>
            <q-tooltip>Notifications</q-tooltip>
          </q-btn>
          <q-btn flat :label="displayName">
            <q-menu fit flat anchor="bottom right" self="top right">
              <q-item clickable @click="handleTracking">
                <q-item-section>Track MoA</q-item-section>
              </q-item>
              <q-item clickable :to="{ name: 'account-settings' }">
                <q-item-section>Account</q-item-section>
              </q-item>
              <q-item clickable @click="onSignOut">
                <q-item-section>Sign-out</q-item-section>
              </q-item>
            </q-menu>
          </q-btn>
        </div>
      </q-toolbar>
    </q-header>
    <q-page-container class="row justify-center">
      <router-view class="col-10" />
    </q-page-container>
  </q-layout>
</template>

<script>
import { ref, onMounted } from "vue";
import { getAuth, signOut } from "firebase/auth";
import { initializeApp } from "firebase/app";
import { useRouter } from "vue-router";
import { useQuasar } from "quasar";
import {
  getFirestore,
  query,
  collection,
  where,
  getDocs,
} from "firebase/firestore";

const firebaseConfig = {
  apiKey: "AIzaSyCaLXiK7TyxB2_cp68_SxUDj7KxOy2XZAk",
  authDomain: "maymoapo-815ee.firebaseapp.com",
  projectId: "maymoapo-815ee",
  storageBucket: "maymoapo-815ee.appspot.com",
  messagingSenderId: "992963522084",
  appId: "1:992963522084:web:f79e171bfb56a05359f2b1",
};

const firebaseApp = initializeApp(firebaseConfig);
const db = getFirestore(firebaseApp);

export default {
  name: "MainHeader",
  setup() {
    const displayName = ref("");
    const router = useRouter();
    const $q = useQuasar();
    const MoaDocumentDetails = ref([]);
    let NotifMoaDocumentDetails = ref([]);
    let UnreadNotifDetails = ref([]);
    const countNotif = ref([]);
    const trStep = ref(null);
    const trNo = ref(null);

    const fetchTransactionByEmail = async (email) => {
      try {
        const q = query(
          collection(db, "transactions"),
          where("stEmail", "==", email)
        );
        const querySnapshot = await getDocs(q);
        const transactions = [];
        querySnapshot.forEach((doc) => {
          transactions.push({ id: doc.id, ...doc.data() });
        });
        return transactions;
      } catch (error) {
        console.error("Error fetching Transaction by email:", error);
        return [];
      }
    };

    onMounted(async () => {
      const auth = getAuth(firebaseApp);
      const user = auth.currentUser;

      if (user) {
        displayName.value = user.displayName;

        try {
          const data = await fetchTransactionByEmail(user.email);
          MoaDocumentDetails.value = data;

          const processedDocuments = data.map((doc) => ({
            ...doc,
            combinedDate: `${doc.updateStepdate} | ${doc.updateSteptime}`,
          }));

          NotifMoaDocumentDetails.value = processedDocuments;

          countNotif.value = NotifMoaDocumentDetails.value.length;

          if (MoaDocumentDetails.value.length > 0) {
            trStep.value = MoaDocumentDetails.value[0].trStep;
            trNo.value = MoaDocumentDetails.value[0].trNo;
          } else {
            console.warn("No transaction data found.");
          }
        } catch (error) {
          console.error("Error fetching transaction data:", error);
        }
      } else {
        console.warn("No user logged in.");
      }
    });

    const onSignOut = async () => {
      const auth = getAuth(firebaseApp);
      try {
        await signOut(auth);
        $q.notify({
          color: "positive",
          position: "top",
          message: "You have successfully signed out.",
          icon: "exit_to_app",
        });
        router.push({ path: "/login" });
      } catch (error) {
        $q.notify({
          color: "negative",
          position: "top",
          message: "Error signing out.",
          icon: "report_problem",
        });
        console.error("Error signing out: ", error);
      }
    };

    const handleTracking = () => {
      if (trStep.value >= 2.0) {
        router.push({
          path: "track-moa",
          query: {
            trNo: trNo.value,
          },
        });
      } else if (trStep.value >= 1.1 && trStep.value <= 1.3) {
        router.push({
          path: "generate-moa",
          query: {
            trNo: trNo.value,
          },
        });
      } else {
        $q.notify({
          message: "No transaction data found.",
          caption: `Explore files first!`,
          position: "top",
          type: "warning",
        });
        router.push({
          path: "files",
        });
      }
    };

    return {
      countNotif,
      handleTracking,
      displayName,
      onSignOut,
    };
  },
};
</script>

<style scoped>
.bg-main{
  background-color: #F4F6F9;
}
</style>
