<template>
  <div class="dashboard-admin">
    <div class="q-pa-lg q-gutter-y-lg card-height">
      <q-card v-if="visible" style="height: 22vh" class="bg-white q-pa-lg" no-scroll flat>
        <q-inner-loading :showing="visible">
          <q-spinner
            color="primary"
            :size="'xl'"
            class="text-center"
            :thickness="5"
          />
        </q-inner-loading>
      </q-card>
      <q-card v-if="!visible" class="bg-white q-pa-lg" no-scroll flat>
        <!-- Header -->
        <h5 class="text-primary text-bold q-ma-none">Overview</h5>
        <div class="row q-gutter-md">
          <div class="col">
            <q-card-section class="dashboard-card-primary text-bold">
              Completed Transaction
              <div class="text-h2 text-bold q-mt-sm q-mb-xs align-right">
                {{ CompletedCount }}
              </div>
            </q-card-section>
          </div>
          <div class="col">
            <q-card-section class="dashboard-card-primary2 text-bold"
              >On-going Transaction
              <div class="text-h2 text-bold q-mt-sm q-mb-xs align-right">
                {{ OngoingCount }}
              </div></q-card-section
            >
          </div>
          <div class="col">
            <q-card-section class="dashboard-card-secondary text-bold"
              >Pending Transaction
              <div class="text-h2 text-bold q-mt-sm q-mb-xs align-right">
                {{ PendingCount }}
              </div></q-card-section
            >
          </div>
          <div class="col">
            <q-card-section class="dashboard-card-dark text-bold"
              >Number of Existing MoA
              <div class="text-h2 text-bold q-mt-sm q-mb-xs align-right">
                {{ DocumentCount }}
              </div></q-card-section
            >
          </div>
        </div>
      </q-card>
      <TransactionTable />
    </div>
  </div>
</template>

<script src="./scripts/DashboardPage.js" />

<style>
.dashboard-admin {
  .card-height{
    max-height: 88vh;
  }
  .dashboard-card-primary {
    color: #fff;
    background-color: #880000;
    border-radius: 5px;
  }
  .dashboard-card-primary2 {
    color: #880000;
    background-color: #f3e5e5;
    border-radius: 5px;
    border: solid 1px;
  }
  .dashboard-card-secondary {
    color: #880000;
    background-color: #f2f2f2;
    border-radius: 5px;
    border: #5f6368 solid 1px;
  }
  .dashboard-card-dark {
    color: #fff;
    background-color: #434343;
    border-radius: 5px;
  }
  .align-right {
    text-align: right;
  }
}
</style>
