<template>
  <div class="files-admin">
    <div class="q-pa-lg">
      <q-card v-if="visible" style="height: 88vh" no-scroll flat>
        <q-inner-loading :showing="visible">
          <q-spinner
            color="primary"
            :size="'xl'"
            class="text-center"
            :thickness="5"
          />
        </q-inner-loading>
      </q-card>
      <q-card v-if="!visible" class="bg-white q-pa-lg" no-scroll flat>
        <!-- Header -->
        <h5 class="text-primary text-bold q-ma-none">Files</h5>
        <q-table
          flat
          title="Files"
          :rows="filteredMoaDocumentDetails"
          :columns="columns"
          row-key="name"
          :filter="filter"
          :pagination="initialPagination"
        >
          <template v-slot:no-data="{ filter }">
            <div
              v-if="notaryDateFilter != 'All time'"
              class="full-width text-primary q-py-xl text-center"
            >
              <!--icon-->
              <q-icon class="text-h3" name="folder" /><br /><br />
              <span class="text-h5 text-weight-bold">No MoA Found!</span>
              <br /><br />
              <span class="text-body1 text-center">
                Please check back later for any updates.<br /> </span
              ><br />
              <q-btn
                label="Reset Date"
                type="reset"
                class="bg-white text-primary"
                @click="notaryDateFilter = 'All time'"
              />
            </div>
            <div v-else class="full-width text-primary q-py-xl text-center">
              <!--icon-->
              <q-icon class="text-h3" name="folder" /> <br />
              <br />
              <span class="text-h5 text-weight-bold"> No MoA Found!</span>
              <br />
              <br />
              <span class="text-body1 text-center text-dark">
                Your search "{{ filter }}" did not <br />
                match any Memorandum of Agreement. Please try again.
              </span>
            </div>
          </template>
          <template v-slot:body-cell-actions="props">
            <q-td :props="props">
              <div class="table-menu">
                <q-btn
                  icon="open_in_new"
                  label="Open Preview"
                  no-caps
                  unelevated
                  class="bg-primary2 text-primary"
                  :size="'sm'"
                  @click="onPreviewMoa(props.row)"
                />
              </div>
            </q-td>
          </template>
          <template v-slot:top-right>
            <q-btn
              color="primary"
              icon="cloud_upload"
              label="Upload MoA"
              no-caps
              :to="{ name: 'upload-moa' }"
              class="q-mr-sm"
            />
            <q-btn
              color="primary"
              icon="archive"
              label="Export to csv"
              no-caps
              @click="exportTable"
            ></q-btn>
          </template>
          <template v-slot:top-left>
            <label class="text-weight-medium q-mr-sm">Search:</label>
            <q-input
              outlined
              dense
              v-model="filter"
              placeholder="Search"
              color="primary"
              class="q-mr-sm"
            >
              <template v-slot:append>
                <q-icon name="search" />
              </template>
            </q-input>
            <!-- Filter for Notary Date -->
            <q-select
              outlined
              dense
              v-model="notaryDateFilter"
              :options="notaryDateOptions"
              color="primary"
              style="width: 213px"
            />
            <template v-if="notaryDateFilter === 'Custom Range'">
              <q-input
                readonly
                dense
                outlined
                v-model="customStartDate"
                class="q-ml-sm"
              >
                <template v-slot:append>
                  <q-icon name="event" class="cursor-pointer">
                    <q-popup-proxy
                      transition-show="scale"
                      transition-hide="scale"
                    >
                      <q-date v-model="customStartDate" mask="MMMM D, YYYY">
                        <div class="row items-center justify-end">
                          <q-btn
                            v-close-popup
                            label="Close"
                            color="primary"
                            flat
                          ></q-btn>
                        </div>
                      </q-date>
                    </q-popup-proxy>
                  </q-icon>
                </template>
              </q-input>
              <q-input
                readonly
                dense
                outlined
                v-model="customEndDate"
                class="q-ml-sm"
              >
                <template v-slot:append>
                  <q-icon name="event" class="cursor-pointer">
                    <q-popup-proxy
                      transition-show="scale"
                      transition-hide="scale"
                    >
                      <q-date v-model="customEndDate" mask="MMMM D, YYYY">
                        <div class="row items-center justify-end">
                          <q-btn
                            v-close-popup
                            label="Close"
                            color="primary"
                            flat
                          ></q-btn>
                        </div>
                      </q-date>
                    </q-popup-proxy>
                  </q-icon>
                </template>
              </q-input>
            </template>
          </template>
        </q-table>
      </q-card>
    </div>
  </div>
</template>

<script src="./scripts/FilesPage.js" />

<style lang="scss">
.files-admin {
  .bg-primary2 {
    background-color: #f3e5e5;
  }
  .q-table__top {
    padding: 12px 0px;
  }
  .q-field--outlined.q-field--readonly .q-field__control:before {
    border-style: solid;
  }
  thead tr:first-child th {
    background-color: #880000;
    color: white;
  }

  tbody tr:nth-child(odd) {
    background-color: #fff; // Light color for odd rows
  }

  tbody tr:nth-child(even) {
    background-color: #efeff0; // White color for even rows
  }
}
</style>
