<template>
  <div class="notification-admin">
    <div class="q-pa-lg q-gutter-y-lg">
      <q-card v-if="visible" style="height: 88vh" no-scroll flat>
        <q-inner-loading :showing="visible">
          <q-spinner
            color="primary"
            :size="'xl'"
            class="text-center"
            :thickness="5"
          />
        </q-inner-loading>
      </q-card>
      <q-card v-if="!visible" class="bg-white q-pa-lg card-height" no-scroll flat>
        <!-- Header -->
        <h5 class="text-primary text-bold q-ma-none">Notification</h5>

        <q-btn-toggle
          v-model="panel"
          toggle-color="primary"
          :options="[
            { label: 'All Notifications', value: 'all' },
            { label: 'Unread', value: 'unread' },
            { label: 'Read', value: 'read' },
          ]"
          class="q-mt-md"
        />
        <q-tab-panels v-model="panel" animated class="shadow-2 rounded-borders">
          <q-tab-panel name="all" class="q-px-none">
            <div
              v-if="notiflength === 0"
              class="full-width text-primary q-py-xl text-center"
            >
              <!--icon urri -->
              <q-icon class="text-h3" name="notifications_active" /><br /><br />
              <span class="text-h5 text-weight-bold"
                >You have no new notifications!</span
              >
              <br /><br />
              <span class="text-body1 text-center">
                Please check back later for any updates.<br /> </span
              ><br />
            </div>
            <q-item
              v-for="(transaction, index) in NotifMoaDocumentDetails"
              :key="index"
            >
              <q-item-section center class="col text-center">
                <q-item-label class="text-weight-medium">
                  TRNO. {{ transaction.trNo }}
                </q-item-label>
              </q-item-section>

              <q-item-section center class="col-3 text-left">
                <q-item-label lines="1">
                  <q-badge
                    :color="getStepColor(transaction.trStep)"
                    :label="transaction.stepTitle"
                  />
                </q-item-label>
              </q-item-section>

              <q-item-section center class="text-left">
                <q-item-label>
                  <span class="text-weight-medium">{{
                    transaction.hteName
                  }}</span>
                </q-item-label>
              </q-item-section>

              <q-item-section center class="text-left">
                <q-item-label class="q-mt-sm">{{
                  transaction.signatoryName
                }}</q-item-label>
              </q-item-section>

              <q-item-section center class="col-3 text-center">
                <q-item-label class="q-mt-sm text-grey">
                  {{
                    getTimeDifference(
                      transaction.updateSteptime,
                      transaction.updateStepdate
                    )
                  }}
                </q-item-label>
              </q-item-section>

              <q-item-section center side>
                <div
                  v-if="transaction.notifStatus == true"
                  class="text-grey-8 q-gutter-xs"
                >
                  <q-btn
                    class="gt-xs"
                    size="12px"
                    flat
                    dense
                    round
                    icon="mark_email_unread"
                    @click="handleReadNotif(transaction.trNo)"
                    ><q-tooltip> Mark as read </q-tooltip></q-btn
                  >
                  <q-btn
                    class="gt-xs"
                    size="12px"
                    flat
                    dense
                    round
                    icon="open_in_new"
                    @click="handleOpenNotif(transaction.trNo)"
                    ><q-tooltip> Expand </q-tooltip></q-btn
                  >
                </div>
                <div
                  v-if="transaction.notifStatus == false"
                  class="text-grey-8 q-gutter-xs"
                >
                  <q-btn
                    class="gt-xs"
                    size="12px"
                    flat
                    dense
                    round
                    icon="drafts"
                    @click="handleUnreadNotif(transaction.trNo)"
                    ><q-tooltip> Mark as unread </q-tooltip></q-btn
                  >
                  <q-btn
                    class="gt-xs"
                    size="12px"
                    flat
                    dense
                    round
                    icon="open_in_new"
                    @click="handleOpenNotif(transaction.trNo)"
                    ><q-tooltip> Expand </q-tooltip></q-btn
                  >
                </div>
              </q-item-section>
            </q-item>
          </q-tab-panel>

          <q-tab-panel name="unread" class="q-px-none">
            <div
              v-if="unreadlength === 0"
              class="full-width text-primary q-py-xl text-center"
            >
              <!--icon urri -->
              <q-icon
                class="text-h3"
                name="notification_important"
              /><br /><br />
              <span class="text-h5 text-weight-bold"
                >No recent unread messages!</span
              >
              <br /><br />
              <span class="text-body1 text-center">
                Please check back later for any updates.<br />
              </span>
              <br />
            </div>
            <q-item
              v-for="(transaction, index) in UnreadNotifDetails"
              :key="index"
            >
              <q-item-section center class="text-center">
                <q-item-label class="text-weight-medium">
                  TRNO. {{ transaction.trNo }}
                </q-item-label>
              </q-item-section>

              <q-item-section center class="col-3 text-left">
                <q-item-label lines="1">
                  <q-badge
                    :color="getStepColor(transaction.trStep)"
                    :label="transaction.stepTitle"
                  />
                </q-item-label>
              </q-item-section>

              <q-item-section center class="text-left">
                <q-item-label>
                  <span class="text-weight-medium">{{
                    transaction.hteName
                  }}</span>
                </q-item-label>
              </q-item-section>

              <q-item-section center class="text-left">
                <q-item-label class="q-mt-sm">{{
                  transaction.signatoryName
                }}</q-item-label>
              </q-item-section>

              <q-item-section center class="col-3 text-center">
                <q-item-label class="q-mt-sm text-grey">
                  {{
                    getTimeDifference(
                      transaction.updateSteptime,
                      transaction.updateStepdate
                    )
                  }}
                </q-item-label>
              </q-item-section>

              <q-item-section center side>
                <div class="text-grey-8 q-gutter-xs">
                  <q-btn
                    class="gt-xs"
                    size="12px"
                    flat
                    dense
                    round
                    icon="mark_email_unread"
                    @click="handleReadNotif(transaction.trNo)"
                    ><q-tooltip> Mark as read </q-tooltip></q-btn
                  >
                  <q-btn
                    class="gt-xs"
                    size="12px"
                    flat
                    dense
                    round
                    icon="open_in_new"
                    @click="handleOpenNotif(transaction.trNo)"
                    ><q-tooltip> Expand </q-tooltip></q-btn
                  >
                </div>
              </q-item-section>
            </q-item>
          </q-tab-panel>

          <q-tab-panel name="read" class="q-px-none">
            <div
              v-if="readlength === 0"
              class="full-width text-primary q-py-xl text-center"
            >
              <!--icon urri -->
              <q-icon class="text-h3" name="notifications_active" /><br /><br />
              <span class="text-h5 text-weight-bold"
                >You're all caught up!</span
              >
              <br /><br />
              <span class="text-body1 text-center">
                Please check back later for any updates.<br /> </span
              ><br />
            </div>

            <q-item
              v-for="(transaction, index) in ReadNotifDetails"
              :key="index"
            >
              <q-item-section center class="text-center">
                <q-item-label class="text-weight-medium">
                  TRNO. {{ transaction.trNo }}
                </q-item-label>
              </q-item-section>

              <q-item-section center class="col-3 text-left">
                <q-item-label lines="1">
                  <q-badge
                    :color="getStepColor(transaction.trStep)"
                    :label="transaction.stepTitle"
                  />
                </q-item-label>
              </q-item-section>

              <q-item-section center class="text-left">
                <q-item-label>
                  <span class="text-weight-medium">{{
                    transaction.hteName
                  }}</span>
                </q-item-label>
              </q-item-section>

              <q-item-section center class="text-left">
                <q-item-label class="q-mt-sm">{{
                  transaction.signatoryName
                }}</q-item-label>
              </q-item-section>

              <q-item-section center class="col-3 text-center">
                <q-item-label class="q-mt-sm text-grey">
                  {{
                    getTimeDifference(
                      transaction.updateSteptime,
                      transaction.updateStepdate
                    )
                  }}
                </q-item-label>
              </q-item-section>

              <q-item-section center side>
                <div class="text-grey-8 q-gutter-xs">
                  <q-btn
                    class="gt-xs"
                    size="12px"
                    flat
                    dense
                    round
                    icon="drafts"
                    @click="handleUnreadNotif(transaction.trNo)"
                    ><q-tooltip> Mark as unread </q-tooltip></q-btn
                  >
                  <q-btn
                    class="gt-xs"
                    size="12px"
                    flat
                    dense
                    round
                    icon="open_in_new"
                    @click="handleOpenNotif(transaction.trNo)"
                    ><q-tooltip> Expand </q-tooltip></q-btn
                  >
                </div>
              </q-item-section>
            </q-item>
          </q-tab-panel>
        </q-tab-panels>
      </q-card>
    </div>
  </div>
</template>

<script>
import { ref, computed, onMounted, watch } from "vue";
import { useRoute, useRouter } from "vue-router";
import { initializeApp } from "firebase/app";
import { getAuth } from "firebase/auth"; // Import EmailAuthProvider
import {
  getFirestore,
  query,
  collection,
  where,
  getDocs,
  doc,
  updateDoc,
} from "firebase/firestore";

// Your Firebase configuration object
const firebaseConfig = {
  apiKey: "AIzaSyCaLXiK7TyxB2_cp68_SxUDj7KxOy2XZAk",
  authDomain: "maymoapo-815ee.firebaseapp.com",
  projectId: "maymoapo-815ee",
  storageBucket: "maymoapo-815ee.appspot.com",
  messagingSenderId: "992963522084",
  appId: "1:992963522084:web:f79e171bfb56a05359f2b1",
};

// Initialize Firebase
const firebaseApp = initializeApp(firebaseConfig);
const db = getFirestore(firebaseApp); // Initialize Cloud Firestore

export default {
  setup() {
    const router = useRouter();
    const route = useRoute();

    let MoaDocumentDetails = ref([]);
    let NotifMoaDocumentDetails = ref([]);
    let ReadNotifDetails = ref([]);
    let UnreadNotifDetails = ref([]);

    let notiflength = ref();
    let readlength = ref();
    let unreadlength = ref();

    const panel = ref("all");

    // Fetch transaction details based on trNo
    const fetchAllTransaction = async () => {
      try {
        const q = query(collection(db, "transactions"));
        const querySnapshot = await getDocs(q);
        const transactions = [];
        querySnapshot.forEach((doc) => {
          transactions.push({ id: doc.id, ...doc.data() });
        });
        return transactions;
      } catch (error) {
        console.error("Error fetching Transaction:", error);
        return [];
      }
    };

    // Fetch MoaDocumentDetails and update trStep
    const fetchMoa = async () => {
      try {
        const data = await fetchAllTransaction();
        const filteredDocuments = data.filter(
          (doc) => doc.trStep === 2 || doc.trStep <= 5
        );

        const processedDocuments = filteredDocuments.map((doc) => ({
          ...doc,
          combinedDate: `${doc.updateStepdate} | ${doc.updateSteptime}`,
        }));

        MoaDocumentDetails.value = processedDocuments;

        NotifMoaDocumentDetails.value = processedDocuments.filter(
          (doc) => doc.trStep == 2 || doc.trStep >= 5
        );

        ReadNotifDetails.value = NotifMoaDocumentDetails.value.filter(
          (doc) => doc.notifStatus == false
        );

        UnreadNotifDetails.value = NotifMoaDocumentDetails.value.filter(
          (doc) => doc.notifStatus == true
        );

        notiflength.value = NotifMoaDocumentDetails.value.length;
        readlength.value = ReadNotifDetails.value.length;
        unreadlength.value = UnreadNotifDetails.value.length;
      } catch (error) {
        console.error("Error fetching MoA details:", error);
      }
    };

    onMounted(() => {
      fetchMoa();
    });

    watch(() => panel.value, fetchMoa);

    const handleOpenNotif = async (trNo) => {
      // Fetch the document using trNo
      const q = query(
        collection(db, "transactions"),
        where("trNo", "==", trNo)
      );
      const querySnapshot = await getDocs(q);

      if (!querySnapshot.empty) {
        const docRef = doc(db, "transactions", querySnapshot.docs[0].id);
        await updateDoc(docRef, {
          notifStatus: false,
        });
      }

      router.push({
        path: "transaction",
        query: {
          trNo,
        },
      });

      fetchMoa();
    };

    const handleReadNotif = async (trNo) => {
      // Fetch the document using trNo
      const q = query(
        collection(db, "transactions"),
        where("trNo", "==", trNo)
      );
      const querySnapshot = await getDocs(q);

      if (!querySnapshot.empty) {
        const docRef = doc(db, "transactions", querySnapshot.docs[0].id);
        await updateDoc(docRef, {
          notifStatus: false,
        });

        fetchMoa();
      }
    };

    const handleUnreadNotif = async (trNo) => {
      // Fetch the document using trNo
      const q = query(
        collection(db, "transactions"),
        where("trNo", "==", trNo)
      );
      const querySnapshot = await getDocs(q);

      if (!querySnapshot.empty) {
        const docRef = doc(db, "transactions", querySnapshot.docs[0].id);
        await updateDoc(docRef, {
          notifStatus: true,
        });

        fetchMoa();
      }
    };

    const getTimeDifference = (updateSteptime, updateStepdate) => {
      const now = new Date();
      const combinedDateTime = `${updateStepdate} ${updateSteptime}`;
      const updateTime = new Date(combinedDateTime);
      const diffInMs = now - updateTime;
      const diffInMinutes = Math.floor(diffInMs / 60000);

      if (diffInMinutes < 1) {
        return "Just now";
      } else if (diffInMinutes < 60) {
        return `${diffInMinutes} min ago`;
      } else if (diffInMinutes < 1440) {
        const diffInHours = Math.floor(diffInMinutes / 60);
        return `${diffInHours} hr ago`;
      } else {
        const diffInDays = Math.floor(diffInMinutes / 1440);
        return `${diffInDays} day${diffInDays > 1 ? "s" : ""} ago`;
      }
    };

    const getStepColor = (trStep) => {
      switch (trStep) {
        case 2:
          return "primary"; // For Approval
        case 3:
          return "orange"; // For ULCO & VPAA
        case 4:
          return "warning"; // For Retrieval
        case 5:
          return "teal"; // MoA Retrieved
        default:
          return "blue"; // MoA Uploaded
      }
    };
    return {
      notiflength,
      readlength,
      unreadlength,
      panel,
      getTimeDifference,
      handleReadNotif,
      handleUnreadNotif,
      handleOpenNotif,
      MoaDocumentDetails,
      NotifMoaDocumentDetails,
      ReadNotifDetails,
      UnreadNotifDetails,
      getStepColor,
    };
  },
  data() {
    return {
      visible: true,
    };
  },
  mounted() {
    setTimeout(() => {
      this.visible = false;
    }, 500);
  },
};
</script>

<style>
.notification-admin {
  .card-height {
    max-height: 88vh;
  }
  .q-btn-group > .q-btn-item {
    background-color: #f3e5e5;
    color: #800;
    width: 170px;
  }
  .q-card > div:not(.q--avoid-card-border) {
    border-radius: 5px;
  }
}
</style>
