<template>
  <div class="settings-admin">
    <q-card v-if="visible" style="height: 88vh" no-scroll flat>
        <q-inner-loading :showing="visible">
          <q-spinner
            color="primary"
            :size="'xl'"
            class="text-center"
            :thickness="5"
          />
        </q-inner-loading>
      </q-card>
    <q-card v-if="!visible" class="q-ma-lg q-pa-lg" no-scroll flat>
      <h5 class="text-primary text-bold q-ma-none">Account Settings</h5>
      <div class="row">
        <div class="bg-white  col-sm-12 col-md-8 col-lg-4" style="height: 88vh;">
          <!-- Header: Company Details -->
          <h6 class="text-primary q-mb-xs q-mt-md">Profile</h6>
          <hr class="" />
          <label class=" text-weight-medium">Name:</label>
          <q-input
            outlined
            dense
            v-model="form.name"
            placeholder="Enter company name"
            class="q-mb-sm"
            readonly
          />
          <label class=" text-weight-medium">Role:</label>
          <q-input dense outlined v-model="form.role" class="q-mb-sm" readonly />
          <label class=" text-weight-medium">Email Address:</label>
          <q-input
            outlined
            dense
            v-model="form.email"
            type="email"
            placeholder="User email"
            class="q-mb-sm"
            readonly
          />

          <q-form @submit="onConfirm()" @reset="onReset()">
            <!-- Header: Company Details -->
            <h6 class="text-primary q-mb-xs q-mt-md">Update Password</h6>
            <hr class="" />
            <label class=" text-weight-medium">Old Password:</label>
            <q-input
              outlined
              dense
              v-model="opassword"
              :type="isoPwd ? 'password' : 'text'"
            >
              <template v-slot:append>
                <q-icon
                  :name="isoPwd ? 'visibility_off' : 'visibility'"
                  class="cursor-pointer"
                  @click="isoPwd = !isoPwd"
                />
              </template>
            </q-input>
            <label class=" text-weight-medium">New Password:</label>
            <q-input
              outlined
              dense
              v-model="npassword"
              :type="isPwd ? 'password' : 'text'"
            >
              <template v-slot:append>
                <q-icon
                  :name="isPwd ? 'visibility_off' : 'visibility'"
                  class="cursor-pointer"
                  @click="isPwd = !isPwd"
                />
              </template>
            </q-input>
            <label class=" text-weight-medium"
              >Confirm Password:</label
            >
            <q-input
              outlined
              dense
              v-model="cpassword"
              :type="iscPwd ? 'password' : 'text'"
            >
              <template v-slot:append>
                <q-icon
                  :name="iscPwd ? 'visibility_off' : 'visibility'"
                  class="cursor-pointer"
                  @click="iscPwd = !iscPwd"
                />
              </template>
            </q-input>
            <div class="q-mt-md q-mb-xl">
              <q-btn label="Update Password" type="submit" color="primary" />
              <q-btn
                label="Cancel"
                type="reset"
                color="primary"
                flat
                class="q-ml-sm"
              />
            </div>
          </q-form>
          </div>
          
      </div>
    </q-card>
  </div>
</template>

<script src="./scripts/SettingsPage.js" />

<style>
.settings-admin{
  .q-field--auto-height.q-field--labeled .q-field__control-container {
  padding: 0% !important;
}

.q-field--outlined.q-field--readonly .q-field__control:before {
  border-style: solid;
}

.q-field--with-bottom {
  padding: 0% !important;
}
}

</style>
