<template>
  <div class="transaction-admin">
    <div class="q-pa-lg q-gutter-x-md row">
      <!-- List Panel -->
      <div v-if="trNo === null" class="col-12">
        <TransactionTable />
      </div>
      <div v-else class="col-3">
        <div class="row"  style="height: 88vh;">
          <q-card class="bg-white col-12" no-scroll flat>
            <div class="row q-px-lg q-pt-lg">
              <h5 class="col-12 text-primary text-bold q-ma-none">Transaction</h5>
              <q-select
                outlined
                dense
                v-model="notaryDateFilter"
                :options="notaryDateOptions"
                color="primary"
                class="col-12"
              />
              <template v-if="notaryDateFilter === 'Custom Range'">
                <q-input
                  readonly
                  dense
                  outlined
                  v-model="customStartDate"
                  class="q-mt-sm col-12"
                >
                  <template v-slot:append>
                    <q-icon name="event" class="cursor-pointer">
                      <q-popup-proxy
                        transition-show="scale"
                        transition-hide="scale"
                      >
                        <q-date v-model="customStartDate" mask="MMMM D, YYYY">
                          <div class="row items-center justify-end">
                            <q-btn
                              v-close-popup
                              label="Close"
                              color="primary"
                              flat
                            ></q-btn>
                          </div>
                        </q-date>
                      </q-popup-proxy>
                    </q-icon>
                  </template>
                </q-input>
                <q-input
                  readonly
                  dense
                  outlined
                  v-model="customEndDate"
                  class="q-mt-sm col-12"
                >
                  <template v-slot:append>
                    <q-icon name="event" class="cursor-pointer">
                      <q-popup-proxy
                        transition-show="scale"
                        transition-hide="scale"
                      >
                        <q-date v-model="customEndDate" mask="MMMM D, YYYY">
                          <div class="row items-center justify-end">
                            <q-btn
                              v-close-popup
                              label="Close"
                              color="primary"
                              flat
                            ></q-btn>
                          </div>
                        </q-date>
                      </q-popup-proxy>
                    </q-icon>
                  </template>
                </q-input>
              </template>
              <div class="col-12 flex justify items-baseline">
                <label class="text-weight-medium q-mr-sm">Filter:</label>
                <q-select
                  v-model="panel"
                  toggle-color="primary"
                  no-caps
                  outlined
                  dense
                  :options="['All Transactions', 'On-going', 'Pending', 'Completed']"
                  class="q-my-sm col"
                />
              </div>
            </div>

            <div class="q-px-sm q-pb-lg">
              <div v-if="panel === 'All Transactions'">
                <q-item
                  v-for="(transaction, index) in filteredMoaDocumentDetails"
                  :key="index"
                  clickable
                  @click="handleItemClick(transaction.trNo)"
                  :class="{ 'bg-primary2': transaction.trNo == trNo }"
                  class="border-bottom q-px-md"
                >
                  <q-item-section avatar top>
                    <div v-if="transaction.trNo == trNo">
                      <q-avatar
                        icon="source"
                        color="primary"
                        text-color="white"
                      />
                    </div>
                    <div v-else>
                      <q-avatar
                        icon="source"
                        text-color="primary"
                        class="bg-secondary"
                      />
                    </div>
                  </q-item-section>
                  <q-item-section>
                    <q-item-label>{{ transaction.hteName }}</q-item-label>
                    <q-item-label caption
                      >TRNO. {{ transaction.trNo }} <br />{{
                        transaction.signatoryName
                      }}</q-item-label
                    >
                  </q-item-section>
                  <q-item-section side bottom>
                    <q-item-label caption>{{
                      getTimeDifference(
                        transaction.updateSteptime,
                        transaction.updateStepdate
                      )
                    }}</q-item-label>
                    <q-badge
                      :color="getStepColor(transaction.trStep)"
                      :label="getStepBadge(transaction.trStep)"
                    />
                  </q-item-section>
                </q-item>
              </div>
              <div v-if="panel === 'Pending'">
                <q-item
                  v-for="(transaction, index) in PendingMoaDocumentDetails"
                  :key="index"
                  clickable
                  @click="handleItemClick(transaction.trNo)"
                  :class="{ 'bg-primary2': transaction.trNo == trNo }"
                >
                  <q-item-section avatar top>
                    <div v-if="transaction.trNo == trNo">
                      <q-avatar
                        icon="source"
                        color="primary"
                        text-color="white"
                      />
                    </div>
                    <div v-else>
                      <q-avatar
                        icon="source"
                        text-color="primary"
                        class="bg-secondary"
                      />
                    </div>
                  </q-item-section>
                  <q-item-section>
                    <q-item-label>{{ transaction.hteName }}</q-item-label>
                    <q-item-label caption
                      >TRNO. {{ transaction.trNo }} <br />{{
                        transaction.signatoryName
                      }}</q-item-label
                    >
                  </q-item-section>
                  <q-item-section side bottom>
                    <q-item-label caption>{{
                      getTimeDifference(
                        transaction.updateSteptime,
                        transaction.updateStepdate
                      )
                    }}</q-item-label>
                    <q-badge
                      :color="getStepColor(transaction.trStep)"
                      :label="getStepBadge(transaction.trStep)"
                    />
                  </q-item-section>
                </q-item>
              </div>
              <div v-if="panel === 'On-going'">
                <q-item
                  v-for="(transaction, index) in OngoingMoaDocumentDetails"
                  :key="index"
                  clickable
                  @click="handleItemClick(transaction.trNo)"
                  :class="{ 'bg-primary2': transaction.trNo == trNo }"
                  class="border-bottom"
                >
                  <q-item-section avatar top>
                    <div v-if="transaction.trNo == trNo">
                      <q-avatar
                        icon="source"
                        color="primary"
                        text-color="white"
                      />
                    </div>
                    <div v-else>
                      <q-avatar
                        icon="source"
                        text-color="primary"
                        class="bg-secondary"
                      />
                    </div>
                  </q-item-section>
                  <q-item-section>
                    <q-item-label>{{ transaction.hteName }}</q-item-label>
                    <q-item-label caption
                      >TRNO. {{ transaction.trNo }} <br />{{
                        transaction.signatoryName
                      }}</q-item-label
                    >
                  </q-item-section>
                  <q-item-section side bottom>
                    <q-item-label caption>{{
                      getTimeDifference(
                        transaction.updateSteptime,
                        transaction.updateStepdate
                      )
                    }}</q-item-label>
                    <q-badge
                      :color="getStepColor(transaction.trStep)"
                      :label="getStepBadge(transaction.trStep)"
                    />
                  </q-item-section>
                </q-item>
              </div>
              <div v-if="panel === 'Completed'">
                <q-item
                  v-for="(transaction, index) in CompletedMoaDocumentDetails"
                  :key="index"
                  clickable
                  @click="handleItemClick(transaction.trNo)"
                  :class="{ 'bg-primary2': transaction.trNo == trNo }"
                  class="border-bottom"
                >
                  <q-item-section avatar top>
                    <div v-if="transaction.trNo == trNo">
                      <q-avatar
                        icon="source"
                        color="primary"
                        text-color="white"
                      />
                    </div>
                    <div v-else>
                      <q-avatar
                        icon="source"
                        text-color="primary"
                        class="bg-secondary"
                      />
                    </div>
                  </q-item-section>
                  <q-item-section>
                    <q-item-label>{{ transaction.hteName }}</q-item-label>
                    <q-item-label caption
                      >TRNO. {{ transaction.trNo }} <br />{{
                        transaction.signatoryName
                      }}</q-item-label
                    >
                  </q-item-section>
                  <q-item-section side bottom>
                    <q-item-label caption>{{
                      getTimeDifference(
                        transaction.updateSteptime,
                        transaction.updateStepdate
                      )
                    }}</q-item-label>
                    <q-badge
                      :color="getStepColor(transaction.trStep)"
                      :label="getStepBadge(transaction.trStep)"
                    />
                  </q-item-section>
                </q-item>
                
              </div>
            </div>
          </q-card>
        </div>
      </div>

      <!-- Details Panel -->
      <div class="col">
        <TransactionDetails :trNo="trNo" />
      </div>
    </div>
  </div>
</template>

<script src="./scripts/TransactionPage.js" />

<style>
.transaction-admin {
  .border-bottom{
    border-bottom: 1px solid #EEEEEE;
  }
  .bg-primary2 {
    background-color: #f3e5e5;
    border-radius: 5px;
  }
.q-field--outlined.q-field--readonly .q-field__control:before {
    border-style: solid;
  }
}
</style>
