<template>
  <div class="upload-moa-admin">
    <div class="q-pa-lg">
      <q-card class="row bg-white q-pa-lg" style="height: 88vh" no-scroll flat>
        <div class="col-lg-6 col-md-12 col-sm-12">
          <q-form width="300px" @submit="onSubmit()" @reset="onReset()">
            <!-- Header -->
            <h5 class="text-primary text-bold q-ma-none">Upload MoA</h5>

            <!-- Header: Company Details -->
            <h6 class="q-mb-xs q-mt-md">MoA Details</h6>
            <hr />
            <label class="text-weight-medium">Company Name:</label>
            <q-input
              outlined
              dense
              v-model="moa.hteName"
              placeholder="Enter company name"
              class="q-mb-sm"
              :rules="[(val) => !!val || '']"
            />
            <div class="row">
              <div class="col q-mr-sm">
                <label class="text-weight-medium"
                  >Company Representative:</label
                >
                <q-input
                  outlined
                  dense
                  v-model="moa.signatoryName"
                  placeholder="Enter company representative"
                  class="q-mb-sm"
                  :rules="[(val) => !!val || '']"
                />
              </div>
              <div class="col q-ml-sm">
                <label class="text-weight-medium">Company Email:</label>
                <q-input
                  outlined
                  dense
                  v-model="moa.hteEmail"
                  placeholder="Enter company email"
                  class="q-mb-sm"
                  :rules="[(val) => !!val || '']"
                />
              </div>
            </div>

            <!-- Header: Company Address -->
            <h6 class="q-my-xs">HTE Address</h6>
            <hr />
            <div class="row">
              <div class="col q-mr-sm">
                <!-- Province -->
                <label class="text-weight-medium"> Province </label>
                <q-select
                  :rules="[(val) => !!val || '']"
                  v-model="moa.province"
                  dense
                  outlined
                  :label="
                    moa.province !== null && moa.province !== ''
                      ? ''
                      : 'Select Province'
                  "
                  emit-value
                  :options="filteredProvincesList"
                  @update:model-value="fetchCitiesState"
                  map-options
                  hide-bottom-space
                  options-selected-class="selected-class"
                  transition-show="scale"
                  transition-hide="scale"
                >
                  <template v-slot:before-options>
                    <div class="q-px-md q-pt-md q-pb-sm">
                      <q-input
                        class="minmax-width im-border-radius-8 im-select-field height-31 use-input q-px-sm full-width"
                        dense
                        autofocus
                        bordered
                        debounce="500"
                        v-model="searchProvinceName"
                        placeholder="Search Province..."
                      >
                        <template v-slot:prepend>
                          <q-icon
                            class="im-text-accent-0 q-mr-sm"
                            name="search"
                          />
                        </template>
                      </q-input>
                    </div>
                  </template>
                </q-select>
              </div>

              <div class="col q-ml-sm">
                <!-- City/Municipality -->
                <label class="text-weight-medium"> City/Municipality </label>

                <q-select
                  v-model="moa.city"
                  :rules="[(val) => !!val || '']"
                  dense
                  outlined
                  :label=" 
                    moa.city !== null && moa.city !== ''
                      ? ''
                      : 'Select City or Municipality'
                  "
                  :options="filteredCityList"
                  @update:model-value="fetchCitiesState"
                  
                  hide-bottom-space
                  options-selected-class="selected-class"
                  transition-show="scale"
                  transition-hide="scale"
                >
                  <template v-slot:before-options>
                    <div class="q-px-md q-pt-md q-pb-sm">
                      <q-input
                        dense
                        autofocus
                        borderless
                        debounce="500"
                        v-model="searchCityName"
                        placeholder="Search City/Municipality..."
                      >
                        <template v-slot:prepend>
                          <q-icon
                            class="im-text-accent-0 q-mr-sm"
                            name="search"
                          />
                        </template>
                      </q-input>
                    </div>
                  </template>
                </q-select>
              </div>
            </div>

            <!-- Barangay -->
            <div class="q-mt-sm">
              <label class="text-weight-medium"> Barangay </label>
              <q-select
                :rules="[(val) => !!val || '']"
                v-model="moa.barangay"
                dense
                outlined
                :label="
                  moa.barangay !== null && moa.barangay !== ''
                    ? ''
                    : 'Select Barangay'
                "
                emit-value
                :options="filteredBarangayList"
                option-label="label"
                @update:model-value="fetchCitiesState"
                map-options
                hide-bottom-space
                options-selected-class="selected-class"
                transition-show="scale"
                transition-hide="scale"
              >
                <template v-slot:before-options>
                  <div class="q-px-md q-pt-md q-pb-sm">
                    <q-input
                      class="minmax-width im-border-radius-8 im-select-field height-31 use-input q-px-sm full-width"
                      dense
                      autofocus
                      borderless
                      debounce="500"
                      v-model="searchBarangayName"
                      placeholder="Search Barangay..."
                    >
                      <template v-slot:prepend>
                        <q-icon
                          class="im-text-accent-0 q-mr-sm"
                          name="search"
                        />
                      </template>
                    </q-input>
                  </div>
                </template>
              </q-select>
            </div>
            <!-- Street/Building -->
            <div class="q-mt-sm">
              <label class="text-weight-medium"
                >Street/Building (Optional)</label
              >
              <q-input
                v-model="moa.street"
                dense
                outlined
                placeholder="Enter Street/Building Name"
                hide-bottom-space
              />
            </div>

            <!-- Header: Attachment -->
            <h6 class="q-mt-md q-mb-xs">Attachment</h6>
            <hr />
            <div class="row">
              <div class="col q-mr-sm">
                <label class="text-weight-medium">Date Notarized</label>
                <q-input
                  readonly
                  dense
                  outlined
                  v-model="moa.notaryDate"
                  :rules="[(val) => !!val || '']"
                  placeholder="Enter date notarized"
                >
                  <template v-slot:append>
                    <q-icon name="event" class="cursor-pointer">
                      <q-popup-proxy
                        transition-show="scale"
                        transition-hide="scale"
                      >
                        <q-date v-model="moa.notaryDate" mask="MMMM D, YYYY">
                          <div class="row items-center justify-end">
                            <q-btn
                              v-close-popup
                              label="Close"
                              color="primary"
                              flat
                            ></q-btn>
                          </div>
                        </q-date>
                      </q-popup-proxy>
                    </q-icon>
                  </template>
                </q-input>
              </div>
              <div class="col q-ml-sm">
                <label class="text-weight-medium">Validity</label>
                <div class="row q-gutter-x-sm">
                  <q-input
                    dense
                    outlined
                    type="number"
                    v-model.number="validitycount"
                    :rules="[(val) => !!val || '']"
                    placeholder="Enter validity"
                    class="col"
                  />
                  <q-select
                    dense
                    outlined
                    type="number"
                    v-model="validitydate"
                    :options="['days', 'weeks', 'months', 'years']"
                    :rules="[(val) => !!val || '']"
                    class="col"
                    :label="
                      validitydate !== null && validitydate !== ''
                        ? ''
                        : 'Select unit of time'
                    "
                  />
                </div>
              </div>
            </div>

            <label class="text-weight-medium q-mt-sm">Upload moa</label>
            <q-file
              outlined
              dense
              v-model="moa.hteMoa"
              type="file"
              accept=".pdf"
              :rules="[(val) => !!val || '']"
              :label="
                      moa.hteMoa !== null && moa.hteMoa !== ''
                        ? ''
                        : 'Attach notarized MoA file'
                    "
            >
              <template v-slot:prepend>
                <q-icon name="attach_file" />
              </template>
            </q-file>

            <div class="q-mt-md q-mb-xl">
              <q-btn label="Submit" type="submit" color="primary" />
              <q-btn
                label="Reset"
                type="reset"
                color="primary"
                flat
                class="q-ml-sm"
              />
            </div>
          </q-form>
        </div>
      </q-card>
    </div>
  </div>
</template>

<script src="./scripts/UploadMoa.js" />

<style lang="scss">
.upload-moa-admin {
  .q-field--auto-height.q-field--labeled .q-field__control-container {
    padding: 0% !important;
  }

  .q-field--outlined.q-field--readonly .q-field__control:before {
    border-style: solid;
  }

  .q-field--with-bottom {
    padding: 0% !important;
  }
}
</style>
